<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Warmup Plan</h1>
      <div class="flex-body inner">
        <div class="flex-content">
          <div class="tab-box">
            <h4>Your Warm Up Slab</h4>
            <p>We assign a daily limit on the number of emails you can send each day. Depending on the success of your
              email
              program (must achieve minimum 5% email open rate and bounce rate must not be more than 5%), you move up
              the
              slab.</p>
            <div class="text-center">
              <div class="slab-container no-margin">
                <div class="line"></div>
                <div class="slabs">
                  <div *ngFor="let warmupdata of warmupData"
                       [ngClass]="warmupdata?.slab_id === activeWarmupDetails?.slab_id ? 'slab active' : 'slab'">
                    <i class="icon icon-lock"></i>
                    <div class="title">{{warmupdata.volume | addCommasToNum}}
                      <span *ngIf="warmupdata?.slab_id === activeWarmupDetails?.slab_id"><br>emails/day</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <app-alert [type]="warmupErrorType" [dismissible]="false" [value]="warmupErrorMsg"></app-alert>
            <hr class="mx-0">
            <section class="row mt-4">
              <div class="col-12">
                <app-alert [type]="'warning'" [dismissible]="false" [child]="true" *ngIf="!domainFlag">
                  You have not added any domain or domain is not yet approved, click here to add domain.
                  <a href="#" class="text-link" (click)="redirectToDomain()">Click here</a>
                </app-alert>
                <form [formGroup]="warmupForm">
                  <fieldset [disabled]="!domainFlag">
                    <h4>Want to increase the daily limit? Please share the below details to scaleup.</h4>
                    <div class="form-group">
                      <label class="bold-label" for="slab">Choose your daily email limit *</label>
                      <select class="form-control" id="slab" formControlName="slab">
                        <option value="">Select your new limit.</option>
                        <option *ngFor="let warmupdata of warmupDataList" value="{{warmupdata?.volume}}">
                          {{warmupdata.volume | addCommasToNum}}
                        </option>
                        <option value="Unlimited">Unlimited</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="bold-label" for="comment"> Why do you want to increase the limit?</label>
                      <textarea class="form-control" id="comment" formControlName="comment"></textarea>
                    </div>
                    <div class="form-group">
                      <label class="bold-label" for="warmupFile">Share your email template for our email deliverability
                        experts to review*</label><br>
                      <label for="warmupFile" class="custom-file">domain
                        <input type="file" class="custom-file-input" formControlName="warmupFile"
                               id="warmupFile" name="warmupFile" (change)="onFileChange($event)"
                               #warmupFile required>
                        <span class="custom-file-control icon icon-attach">{{filename}}</span>
                      </label>
                      <p>Allowed file extensions: .html, .doc, .docx, .pdf, .png, .jpg, .jpeg and .zip. Max upload
                        size: 512Kb</p>
                    </div>
                    <small class="form-text text-danger" *ngIf="fileMsg" [innerHTML]="fileMsg"></small>
                    <button type="button" class="btn btn-primary"
                            [disabled]="!warmupForm.controls['slab'].valid
                      || warmupFileErrorList.length>0|| (customerror.length>0)"
                            (click)="changeWarmup(warmupForm.value)">Scale Up
                    </button>
                  </fieldset>
                </form>
              </div>
              <div class="col-12 mt-2">
                <app-alert [type]="warmupType" [dismissible]="false" [value]="warmupMsg"></app-alert>
              </div>
            </section>
          </div>
        </div>
        <div class="sidebar-right">
          <app-help-section [helpSectionData]="helpSectionData">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>
