<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Subaccount Log</h1>
      <ul role="tablist" class="nav nav-text justify-content-start">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/billings/subaccount-log/usage-summary">
            Usage Summary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/billings/subaccount-log/credit-log">
            Credit Activity Log
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
