<div class="tab-box no-data" [hidden]="billingHistoryFlag">
  <img class="no-data-icon" src="assets/images/calculator.svg" alt="Billing History">
  <h2 class="heading">You don’t have any billing history</h2>
  <p>If you upgrade to PRO or purchase email credits, you'll see a history of your payments here.</p>
</div>
<div class="tab-box" [hidden]="billingHistoryFlag_hide">
  <ng2-smart-table class="table-responsive" [settings]="billingHistory"
                   [source]="billingHistorySource">
  </ng2-smart-table>
</div>
