<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Billing</h1>
      <ul role="tablist" class="nav nav-text justify-content-start">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/billings/details/recharge">
            Recharge
          </a>
        </li>
        <li class="nav-item" [hidden]="falconPrepaidClient || subUserClient">
          <a class="nav-link" routerLinkActive="active" routerLink="/billings/details/information">
            Billing Information
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/billings/details/history">
            Billing History
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
      <!--<div class="tab-content">
        <div class="tab-pane active">
          <div class="tab-box">

          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
