<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Manage Subaccounts</h1>
      <!--Back button-->
      <div class="float-right backbutton">
        <button class="btn btn-primary" (click)="backtoListSubAccounts()" [hidden]="editFlag">
          Back
        </button>
      </div>
      <!--end-->
      <!--Tabset Started-->
      <!--disaply only on edit click and once opration done close-->
      <div *ngIf="!editFlag">
        <ngb-tabset type="text" #tabset class="no-margin-top" (tabChange)="fetchAccountSettingsDetails()">
          <!--Account settings tab-->
          <ngb-tab title="Account Settings" id="accountSettings">
            <ng-template ngbTabContent>
              <div class="flex-body inner">
                <div class="flex-content">

                  <!--User Details-->
                  <div class="tab-box">
                    <div class="row">
                      <div class="">
                        <img appGravatar [email]="selectedClientData?.email" [size]="50"
                             class="img-fluid rounded-circle">
                      </div>
                      <div class="col-lg-10 col-md-8">
                        <!--<div class="clearfix" *ngIf="!editDetails">-->
                        <div class="clearfix">
                          <div class="row">
                            <div class="col-12">
                              <p class="float-left">
                                <strong>Username: </strong>
                                <span class="text-dull"
                                      [innerHTML]="(selectedClientData?.username!==null)?
                                      selectedClientData?.username:'<i>Not defined</i>'">
                                </span><br/>
                                <strong>Email Id : </strong>
                                <span class="text-dull" [innerHTML]="selectedClientData?.email"></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <div class="col-12">
                        <div class="live-labels">
                          <h5>Monthly Subaccount overview <i class="icon-dull icon-success" ngbTooltip="Statistics of this month">
                          </i></h5>
                          <div class="live-label label-line-color-1">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Requests || 0}}</span>
                            </div>
                            <div class="label-line">Requests</div>
                          </div>
                          <div class="live-label label-line-color-2">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Delivered || 0}}</span>
                              <span class="percent">{{userSummaryData?.Delivered_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Delivered</div>
                          </div>
                          <div class="live-label label-line-color-3">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Bounces || 0}}</span>
                              <span class="percent">{{userSummaryData?.Bounced_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Bounces</div>
                          </div>
                          <div class="live-label label-line-color-4">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Dropped || 0}}</span>
                              <span class="percent">{{userSummaryData?.Dropped_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Drops</div>
                          </div>
                          <div class="live-label label-line-color-5">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Opened || 0}}</span>
                              <span class="percent">{{userSummaryData?.Opens_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Opened</div>
                          </div>
                          <div class="live-label label-line-color-6">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Clicked || 0}}</span>
                              <span class="percent">{{userSummaryData?.Clicks_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Clicked</div>
                          </div>
                          <div class="live-label label-line-color-7">
                            <div class="label-line">
                              <span class="count">{{userSummaryData?.Unsubscribes || 0}}</span>
                              <span class="percent">{{userSummaryData?.Unsub_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Unsubscribes</div>
                          </div>
                          <div class="live-label label-line-color-8">
                            <div class="label-line">
                              <span class="count">{{spamcount || 0}}</span>
                              <span class="percent">{{userSummaryData?.Spams_pr || 0}}%</span>
                            </div>
                            <div class="label-line">Spam Reports</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end-->
                  <!--Mange Credit tabbox-->
                  <div class="tab-box">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="float-left">Manage Credits</h4>
                      </div>
                    </div>
                    <!--<fieldset [disabled]="isFreezed">-->
                      <div class="row" *ngIf="!isFreezed">
                        <div class="col-3">
                          <!--Credit type dropdown form-->
                          <form [formGroup]="creditTypeFrm">
                            <label for="creditType"> Credit Type</label>
                            <select [(ngModel)]="selCreditType" (change)="getCreditValue(creditType.value)"
                                    class="form-control" id="creditType" formControlName="creditType" #creditType>
                              <option value="">Select credit type</option>
                              <option value="fixed">One-time Credit</option>
                              <option *ngIf="!hideOption" value="unlimited">Unlimited Credit</option>
                            </select>
                          </form>
                          <!--end-->
                        </div>
                      </div>
                      <div class="row" *ngIf="isFreezed">
                        <div class="col-3">
                           <span for="creditType"> Credit Type : </span>
                           <span for="creditType">{{disaplyCreditTyep}}</span>
                        </div>
                      </div>
                    <!--</fieldset>-->
                    <br/>
                    <div class="row" [hidden]="showNonRecurring && showUnlimited || isFreezed">
                      <div class="col-12">
                        <button type="button" class="btn btn-primary" [disabled]="creditTypeFrm.invalid"
                                (click)="saveCreditType(selCreditType)">Save
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="cancelBilling()">Cancel
                        </button>
                      </div>
                      <br>
                    </div>
                    <div class="row" *ngIf="isFreezed">
                      <div class="col-12">
                        <button type="button" class="btn btn-primary" (click)="changeCredtiType()">Change Type
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <app-alert *ngIf="changeCreditMsg" [type]="changeCreditType" [dismissible]="false"
                                   [value]="changeCreditMsg"></app-alert>
                      </div>
                    </div>
                    <!--<div [hidden]="showNonRecurring || freeclient">-->
                    <div [hidden]="showNonRecurring">
                      <hr class="mx-0">
                      <!--add subtract credit-->
                      <div class="row">
                        <div class="col-12">
                          <h4>Credit remaining</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="live-label-center">
                            <span>{{creditRemaining | addCommasToNum}}</span>
                          </div>
                          <div class="live-label-center">
                            <a href="#" class="text-link" (click)="openAddSubtractPopup()">Add/
                              Remove Credits</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <form [formGroup]="recurringFrm">
                      <div *ngIf="!showNonRecurring">
                        <hr class="mx-0">
                        <!--add subtract credit-->
                        <div class="row">
                          <div class="col-12">
                            <h4>Make Credit Recurring
                              <app-ui-switch-text class="float-right" [checked]="isRecurringEnabled" [size]="'small'"
                                                  (change)="toggleRecurringStatus($event)">
                              </app-ui-switch-text>
                            </h4>
                          </div>
                        </div>
                        <div class="row" *ngIf="manageCreditDisabledText">
                          <div class="col-12">
                            <span>{{manageCreditDisabledText}}</span>
                          </div>
                        </div>
                        <div class="row" [hidden]="manageRecurringDisabled">
                          <div class="col-sm-12">
                            <!--<fieldset [disabled]="isRecurringFreezed">-->
                              <div class="row" *ngIf="!isRecurringFreezed">

                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label for="period">Period</label>
                                    <select class="form-control" id="period" name="period" formControlName="period">
                                      <option value="daily">Daily</option>
                                      <option value="weekly" *ngIf="!freeClient">Weekly</option>
                                      <option value="monthly" *ngIf="!freeClient">Monthly</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label for="recurring_credit">Recurring Credit</label>
                                    <input type="text" class="form-control" id="recurring_credit"
                                           formControlName="recurring_credit"
                                           name="recurring_credit">
                                    <small class="form-text text-danger"
                                           *ngIf="!recurringFrm.controls['recurring_credit'].valid
                                           && recurringFrm.controls['recurring_credit'].touched">
                                      Please enter digits only
                                    </small>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label for="dateFromTo">Date From-To</label><br>
                                    <div class="input-date-range-picker mb-3 mr-3" daterangepicker
                                         [options]="{ opens: 'left' }" id="dateFromTo"
                                         (applyDaterangepicker)="applyDate($event)"
                                         (selected)="selectedDate($event, mainInput)">
                                      <a> <i class="icon-calendar"></i>
                                         {{ dateInput.start | date:'M/dd/y' }} -{{ dateInput.end| date:'M/dd/y' }}</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!--</fieldset>-->
                            <div class="row" *ngIf="isRecurringFreezed">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <span>Period :</span>
                                  <span>{{disaplyPeriod}}</span>
                                </div>
                                <div class="form-group">
                                  <span>Recurring Credit :</span>
                                  <span>{{disaplyRecurringCredit}}</span>
                                </div>
                                <div class="form-group">
                                  <span for="period">Date From-To :</span>
                                  <span for="period">{{ dateInput.start | date:'M/dd/y' }} -{{ dateInput.end| date:'M/dd/y' }}</span>
                                </div>
                              </div>
                            </div>

                            <div class="row" [hidden]="isRecurringFreezed">
                              <div class="col-12">
                                <button type="button" class="btn btn-primary" [disabled]="recurringFrm.invalid"
                                        (click)="saveRecurringDetails(recurringFrm.value)">Save
                                </button>
                                <button type="button" class="btn btn-secondary" (click)="cancelBilling()">Cancel
                                </button>
                              </div>
                              <br>
                            </div>
                            <div class="row" *ngIf="isRecurringFreezed">
                              <div class="col-12">
                                <button type="button" class="btn btn-primary" (click)="changeRecurringDetails()">Change
                                  Recurring Credit
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <app-alert *ngIf="recurringMsg" [type]="recurringType" [dismissible]="false"
                                       [value]="recurringMsg"></app-alert>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!--end-->
                  </div>
                  <!--end-->
                  <!--Domain management tab-->
                  <div class="tab-box">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="float-left">Manage Domains & Links</h4>
                      </div>
                      <div class="col-12">
                        Specify the Sending Domains from where your Subaccount can send emails.

                      </div>
                    </div>
                    <ng2-dual-list-box *ngIf="showListBox" [data]="arrMasterDomainList" valueField="id"
                                       textField="name"
                                       (onItemsMoved)="getDomainList()"
                                       (onAvailableItemSelected)="onAvailableItemSelected($event)"
                                       (onSelectedItemsSelected)="onSelectedItemsSelected($event)"
                                       [availableText]="availableText"
                                       [selectedText]="selectedText"
                                       [(ngModel)]="arrSubAccDomainList">

                    </ng2-dual-list-box>
                    <br/>
                    <div class="row">
                      <div class="col-12">
                        <input type="checkbox" class="form-control form-checkbox-custom" [checked]="isDomainAddAllow"
                               (change)="allowDomainAdd($event)">Allow Subaccount to add own domains
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <app-alert *ngIf="subDomainMsg" [type]="subDomainType" [dismissible]="false"
                                   [value]="subDomainMsg"></app-alert>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <app-alert *ngIf="subDomainStatusMsg" [type]="subDomainStatusType" [dismissible]="false"
                                   [value]="subDomainStatusMsg"></app-alert>
                      </div>
                    </div>
                  </div>
                  <!--end-->
                  <!--Account enabled disabled-->
                  <div class="tab-box">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="float-left">Disable Subaccount</h4>
                        <app-ui-switch-text class="float-right" *ngIf="!errorEnabling" [checked]="isAccountEnabled" [size]="'small'"
                                            (change)="toggleAccountStatus($event)">
                        </app-ui-switch-text>
                        <app-ui-switch-text class="float-right" *ngIf="errorEnabling" [checked]="isAccountEnabled" [size]="'small'"
                                            (change)="toggleAccountStatus($event)">
                        </app-ui-switch-text>
                      </div>
                      <div class="col-12">
                        <p>You can temporarily disable the Subaccount.
                          Once disabled, your Subaccount will not be able to perform any activity through the Pepipost account. </p>
                      </div>
                      <div class="col-12">
                        <app-alert *ngIf="subAccStatusMsg" [type]="subAccStatusType" [dismissible]="false"
                                   [value]="subAccStatusMsg"></app-alert>
                      </div>
                    </div>
                  </div>
                  <!--end-->
                  <!--Delete Account-->
                  <div class="tab-box">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="float-left">Delete Account</h4>
                      </div>
                      <div class="col-12">
                        <p>Subaccount is permanently deleted. once subaccount deleted cannot be revived.</p>
                      </div>
                      <div class="col-12">
                        <button type="button" class="btn btn-primary" (click)="onDeleteConfirm()">Delete
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--end-->
                </div>
                <!--sidebar for account settings-->
                <div class="sidebar-right">
                  <app-help-section [helpSectionData]="helpSectionDataForAccountSettings">
                  </app-help-section>
                </div>
                <!--end-->
              </div>
            </ng-template>
          </ngb-tab>
          <!--end-->
          <!--Profile settings tabg-->
          <ngb-tab title="Profile Settings" id="profileSettings">
            <ng-template ngbTabContent>
              <div class="flex-body inner">
                <div class="flex-content">
                  <!--profile tab box-->
                  <div class="tab-box">
                    <h4>Profile Details</h4>
                    <div class="row">
                      <div class="col-lg-2 col-md-4">
                        <img appGravatar [email]="emailData?.currentemail" [size]="150"
                             class="img-fluid rounded-circle">
                      </div>
                      <div class="col-lg-10 col-md-8">
                        <!--<div class="clearfix" *ngIf="!editDetails">-->
                        <div class="clearfix" *ngIf="!editDetails">
                          <div class="row">
                            <div class="col-12">
                              <a href="javascript:" (click)="editDetailsClick()"
                                 class="float-right text-link-dark"><i class="icon-edit"></i>
                                <span class="sr-only">Edit</span></a>
                              <p class="float-left">
                                <strong>Member Since: </strong><span
                                class="text-dull">{{profileDetails?.member_since}}</span><br>
                                <strong>Name: </strong>
                                <span class="text-dull"
                                      [innerHTML]="(profileDetails?.first_name!=='' && profileDetails?.first_name!==null ||
                           profileDetails?.last_name!=='' && profileDetails?.last_name!==null)?
                           profileDetails?.first_name +'&nbsp' +profileDetails?.last_name :'<i>Not defined</i>'">
                    </span>
                                <br>
                                <strong>City: </strong>
                                <span class="text-dull"
                                      [innerHTML]="(profileDetails?.city!=='' && profileDetails?.city!==null)?
                      profileDetails?.city:'<i>Not defined</i>'">
                    </span><br>
                                <strong>Time Zone: </strong><span
                                class="text-dull">{{profileDetails?.timezone_value}}</span><br>
                                <strong>Credits: </strong><span class="text-dull">{{profileDetails?.credits}}</span><br>
                              </p>
                            </div>
                          </div>
                          <form [formGroup]="editEmailForm">
                            <div class="row">
                              <div class="col-12">
                                <div class="form-group" *ngIf="!editEmail">
                                  <strong>Email:</strong>
                                  <div class="d-inline-block">
                                    <span class="text-dull">{{emailData?.currentemail}}</span>
                                    <a href="javascript:void(0)" class="text-link-dark" (click)="editEmailAddress()"><i
                                      class="icon-edit"></i>
                                      <span class="sr-only">Edit</span></a>
                                  </div>
                                  <div *ngIf="verified">
                                    <label>{{emailData.resend_email}}
                                      <span class="text-danger"><i class="icon-warning"></i> Not Verified</span>
                                    </label>
                                    <a href="#" class="text-link"
                                       (click)="resendEmailVerification(emailData.resend_email)">Resend</a>
                                  </div>
                                </div>
                                <div class="form-group row" *ngIf="editEmail">
                                  <label class="col-sm-4 col-form-label bold-label"
                                         for="currentemail"><strong>Email:</strong></label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currentemail"
                                           name="currentemail"
                                           formControlName="currentemail" required>
                                    <small class="form-text text-danger"
                                           *ngIf="!editEmailForm.controls['currentemail'].valid
                       && editEmailForm.controls['currentemail'].touched">
                                      Please enter valid email
                                    </small>
                                  </div>
                                </div>
                                <app-alert *ngIf="resendType" [type]="resendType" [dismissible]="false"
                                           [value]="resendMsg">
                                </app-alert>
                                <app-alert *ngIf="editProfileMsg" [type]="editProfileType" [dismissible]="false"
                                           [value]="editProfileMsg">
                                </app-alert>
                              </div>

                              <div class="col-12" *ngIf="editEmail">
                                <button class="btn btn-primary" [class.disabled]="!editEmailForm.valid"
                                        (click)="setEmailAddress()">Save
                                </button>
                                <button class="btn btn-secondary" (click)="cancelEmailEdit()">Cancel</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="clearfix" *ngIf="editDetails">
                          <form [formGroup]="profileEditForm" novalidate>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bold-label">Member Since</label><br>
                                  {{profileDetails?.member_since}}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bold-label">Credits</label><br>
                                  {{profileDetails.credits}}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bold-label" for="first_name">First Name</label>
                                  <input type="text" class="form-control" id="first_name" name="first_name"
                                         formControlName="first_name" required>
                                  <small class="form-text text-danger"
                                         *ngIf="!profileEditForm.controls['first_name'].valid
                       && profileEditForm.controls['first_name'].touched">
                                    Please enter First name
                                  </small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bold-label" for="last_name">Last Name</label>
                                  <input type="text" class="form-control" id="last_name" name="last_name"
                                         formControlName="last_name" required>
                                  <div class="bold-label"></div>
                                  <small class="form-text text-danger"
                                         *ngIf="!profileEditForm.controls['last_name'].valid
                       && profileEditForm.controls['last_name'].touched">
                                    Please enter Last name
                                  </small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="bold-label" for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city"
                                       formControlName="city" required>
                                <small class="form-text text-danger"
                                       *ngIf="!profileEditForm.controls['city'].valid
                       && profileEditForm.controls['city'].touched">
                                  Please enter City name
                                </small>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bold-label">Time Zone</label>
                                  <div class="">
                                    <app-timezone-select-menu
                                      [timezones]="timezones"
                                      [selectedZone]="profileDetails.timezone_value"
                                      (onSelect)="onTimezoneSelect($event)"
                                      [classes]="'form-control'"></app-timezone-select-menu>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <button class="btn btn-primary" type="button" [disabled]="!profileEditForm.valid"
                                        (click)="saveProfileData(profileEditForm.value)">
                                  Save
                                </button>
                                <button class="btn btn-secondary" type="button" (click)="onCancelClick()">Cancel
                                </button>
                              </div>
                              <div class="col-12">
                                <app-alert class="mt-2" [type]="editProfileType" [dismissible]="false"
                                           [value]="editProfileMsg"></app-alert>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <h4 class="mt-4 mb-4"><a class="text-link" href="#" (click)="changePassword()">Change
                      Password</a></h4>
                  </div>
                  <!--end-->
                </div>
                <!--sidebar for profile-->
                <!--<div class="sidebar-right">-->
                <!--<app-help-section [helpSectionDataForTable]="helpSectionDataForTable">-->
                <!--</app-help-section>-->
                <!--</div>-->
                <!--end-->
              </div>
            </ng-template>
          </ngb-tab>
          <!--end-->
        </ngb-tabset>
      </div>
      <!--end-->

      <!--initial window if data not present-->
      <div class="tab-box no-data" [hidden]="nodataFlag">
        <img class="no-data-icon" src="assets/images/scientist-1.svg" alt="Sub admin">
        <h2 class="heading">You have not created any subaccount yet!</h2>
        <p>You can create subaccounts to segment your email activities. <a href="google.com" target="_blank">Learn
          More</a></p>
        <!--<hr>-->
        <button class="btn btn-primary" (click)="createSubaccountPopup()">Create Subaccounts
        </button>
      </div>
      <!--end-->
      <!--Table start-->
      <div class="flex-body inner" [hidden]="tableFlag">
        <div class="flex-content">
          <!--create sub user table-->
          <div class="tab-box" [hidden]="tableFlag">
            <div class="form-inline mb-3 float-right">
              <div class="input-addon addon-left">
                <i class="icon icon-search icon-addon"></i>
                <input #searchEmail class="form-control" type="text" placeholder="Search..."
                       (keydown.enter)="onSearch(searchEmail.value)">
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary" (click)="createSubaccountPopup()">Create Subaccounts
                </button>
              </div>
            </div>
            <ng2-smart-table class="table-responsive" [settings]="subAccountsSettings"
                             [source]="subAccountsdataSource">
            </ng2-smart-table>
          </div>
          <!--end-->
        </div>
        <!--sidebar on table display-->
        <div class="sidebar-right">
          <app-help-section [helpSectionData]="helpSectionDataForTable">
          </app-help-section>
        </div>
        <!--end-->
      </div>
      <!--end-->
    </div>
  </div>
</div>
<!--end-->
<!--bootstrap modal window for create sub accounts-->
<ng-template #subaccountCreationPopup let-c="close" let-d="dismiss">
  <!--<form [formGroup]="crateSubaccountsForm">-->
  <div class="modal-header">
    <h4 class="modal-title">Create New Subaccount</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--username email form-->
    <form [formGroup]="crateSubaccountsForm">
      <div>
        <div class="form-group">
          <label class="col-form-label bold-label" for="username">Username</label>
          <input type="text" class="form-control" placeholder="Type username" id="username" formControlName="username">
          <small class="form-text text-danger"
                 *ngIf="crateSubaccountsForm.controls['username'].invalid
        && crateSubaccountsForm.controls['username'].touched
        ">Username should be alphanumeric.
          </small>

        </div>
        <div class="form-group">
          <label class="col-form-label bold-label" for="email">Email <i class="icon icon-help" title=" By default, password of Subaccount will be set by this email address"></i></label>
          <input type="text" class="form-control" placeholder="Type your email address" id="email"
                 formControlName="email">
          <small class="form-text text-danger"
                 *ngIf="!crateSubaccountsForm.controls['email'].valid
        && crateSubaccountsForm.controls['email'].touched
        ">Please enter valid email address
          </small>

        </div>
        <div class="form-group">
          <span *ngIf="checkedPwdValue">Link to set password will be send to subaccount email mentioned above</span>
          <br/>
          <input type="checkbox" class="form-control form-checkbox-custom" (change)="showHidePaasword($event)">No, I would like to set
          password
          for subaccount
        </div>
      </div>
    </form>
    <!--form end-->
    <!--password form started-->
    <form [formGroup]="crateSubaccountsPasswordForm">
      <div *ngIf="showPasswordFlag">
        <div class="form-group">
          <label class="col-form-label bold-label" for="pass">Password</label>
          <app-show-hide-password>
            <input type="password" placeholder="Type password" id="pass" class="form-control" formControlName="pass"
                   #showhideinput (input)="checkPassword($event)">
          </app-show-hide-password>
          <small class="form-text text-danger"
                 *ngIf="!crateSubaccountsPasswordForm.controls['pass'].valid
        && crateSubaccountsPasswordForm.controls['pass'].touched
        ">Please enter valid password
          </small>
          <small *ngIf="passwordData" [innerHTML]="passwordData">
          </small>

        </div>
        <div class="form-group">
          <label class="col-form-label bold-label" for="confmPassword">Confirm Password</label>
          <app-show-hide-password>
            <input type="password" placeholder="Type confirm password" id="confmPassword"
                   formControlName="confmPassword"
                   #showhideinput
                   class="form-control"
            >
          </app-show-hide-password>
          <small class="form-text text-danger"
                 *ngIf="!crateSubaccountsPasswordForm.controls['confmPassword'].valid
        && crateSubaccountsPasswordForm.controls['confmPassword'].touched
        || (crateSubaccountsPasswordForm.controls['pass'].value !== crateSubaccountsPasswordForm.controls['confmPassword'].value)">
            New password and confirmed password must be same
          </small>
        </div>
      </div>
    </form>
    <!--end-->
    <app-alert *ngIf="createSubAccMsg" [type]="createSubAccType" [dismissible]="false"
               [value]="createSubAccMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="crateSubaccountsForm.invalid
     || (crateSubaccountsPasswordForm.invalid && showPasswordFlag)"
            (click)="createSubaccont(crateSubaccountsForm.value,crateSubaccountsPasswordForm.value)">Create
      Subaccount
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
  <!--</form>-->
</ng-template>
<!--end-->
<!--bootstrap modal window for add subtract credit-->
<ng-template #addSubtractCreditPopup let-c="close" let-d="dismiss">
  <!--<form [formGroup]="crateSubaccountsForm">-->
  <div class="modal-header">
    <h4>Add / Remove Email Credits</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--add subtract credit form-->
    <form [formGroup]="addSubCreditFrom">
      <div>
        <div class="form-group">
          <label class="col-form-label bold-label" for="addSubCredit">One-time Credit</label>
          <select id="addSubCredit" class="form-control" formControlName="addSubCredit" #addSubCredit
                  (change)="getRemainingVal(addSubCredit.value, credit.value)">
            <!--<option value="" [selected]="true">&#45;&#45; Select &#45;&#45;</option>-->
            <!--<option value="add">Add Credit</option>-->
            <option value="add" [selected]="true">Add Credit</option>
            <option value="subtract">Remove Credit</option>

          </select>
          <small class="form-text text-danger"
                 *ngIf="!addSubCreditFrom.controls['addSubCredit'].valid &&
                                    addSubCreditFrom.controls['addSubCredit'].touched">
            Please enter either option
          </small>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label class="col-form-label bold-label" for="credit">Amount of Credits</label>
            <input type="text" placeholder="Enter number of email credits to be allocated" (input)="calculateCredit(credit.value)" #credit
                   class="form-control" id="credit" formControlName="credit">
            <!--nested error disaply for the credit-->
            <div
              *ngIf="addSubCreditFrom.controls['credit'].errors &&
                                 (addSubCreditFrom.controls['credit'].dirty ||
                                 addSubCreditFrom.controls['credit'].touched)">
              <small *ngIf="addSubCreditFrom.controls['credit'].errors.required"
                     class="form-text text-danger">
                Please enter credits
              </small>
              <small *ngIf="addSubCreditFrom.controls['credit'].errors.pattern"
                     class="form-text text-danger">
                Please enter credits in number
              </small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label bold-label" for="credit_remaining">Credits Remaining</label>
          <input type="text" readonly value="{{creditDispRemaining}}"
                 class="form-control" id="credit_remaining" formControlName="credit_remaining" #credit_remaining>
        </div>
      </div>
      <app-alert *ngIf="addDeleteMsg" [type]="addDeleteType" [dismissible]="false" [value]="addDeleteMsg"></app-alert>
    </form>
    <!--form end-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!addSubCreditFrom.controls['credit'].valid
     || !addSubCreditFrom.controls['addSubCredit'].valid"
            (click)="addDeleteCredit(addSubCreditFrom.value)">Save
    </button>
    <button type="button" (click)="c('Close click')" class="btn btn-secondary">Cancel
    </button>
  </div>
  <!--</form>-->
</ng-template>
<!--end-->
<!--bootstrap modal window to disable account-->
<ng-template #confirmDisablePopup let-c="close" let-d="dismiss">
  <div class="modal-header jcl">
    <h4 class="modal-title">Are you sure? </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mh100">
    <p>Do you want to temporarily disable the Subaccount?
    </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="disableSubaccount()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
<!--end-->
<!--bootstrap modal window to delete account-->
<ng-template #confirmDeletePopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Hey Wait!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this Subaccount?
      This action would mean your Subaccount access is revoked and account and the data associated with it is deleted permanently.
      You can’t undo.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteSubaccount()">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
<!--end-->
<!--bootstrap modal window for password change-->
<ng-template #changePwdPopup let-c="close" let-d="dismiss">
  <form [formGroup]="verifyChangePwdForm">
    <div class="modal-header">
      <h4 class="modal-title">Update Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<div class="form-group">-->
      <!--<label class="col-form-label bold-label" for="old_pass">Old Password</label>-->
      <!--<app-show-hide-password>-->
      <!--<input type="password" placeholder="Type password" id="old_pass" class="form-control"-->
      <!--formControlName="old_pass" #old_pass #showhideinput>-->
      <!--</app-show-hide-password>-->
      <!--<small class="form-text text-danger"-->
      <!--*ngIf="!verifyChangePwdForm.controls['old_pass'].valid-->
      <!--&& verifyChangePwdForm.controls['old_pass'].touched-->
      <!--">Please enter valid password-->
      <!--</small>-->

      <!--</div>-->
      <div class="form-group">
        <label class="col-form-label bold-label" for="new_pass">New Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="new_pass"
                 class="form-control" formControlName="new_pass" #new_pass #showhideinput
                 (input)="checkPassword($event)">
        </app-show-hide-password>
        <small *ngIf="passwordData" [innerHTML]="passwordData">
        </small>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['new_pass'].valid
        && verifyChangePwdForm.controls['new_pass'].touched
        ">Please enter valid password
        </small>
      </div>
      <div class="form-group">
        <label class="col-form-label bold-label" for="upConfmPassword">Confirm Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type confirm password" id="upConfmPassword" #showhideinput
                 class="form-control"
                 formControlName="confirm_pass">
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['confirm_pass'].valid
        && verifyChangePwdForm.controls['confirm_pass'].touched
        || (verifyChangePwdForm.controls['new_pass'].value !== verifyChangePwdForm.controls['confirm_pass'].value)">
          New password and confirmed password must be same
        </small>
      </div>
      <div class="form-group">
        <input type="checkbox" class="form-control form-checkbox-custom" [checked]="smtpPwdStatus"
               formControlName="allowSmtpPwdChange" (change)="getChangeSmtpPwdStatus($event)"> Set this password as SMTP
        password
        &nbsp;<i class="icon-dull icon-success" ngbTooltip="If you are not changing smtp password,
        subaccount will be able to send emails using same smtp password.">
      </i>
      </div>
      <app-alert *ngIf="passwordMsg" [type]="passwordType" [dismissible]="false" [value]="passwordMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              [disabled]="!verifyChangePwdForm.valid || passwordFlag
                || (verifyChangePwdForm.controls['new_pass'].value !== verifyChangePwdForm.controls['confirm_pass'].value)"
              (click)="setPassword(smtpPwdStatus,new_pass.value)">Update Password
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>
<!--end-->
