<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Savings</h1>
      <ngb-tabset type="text" #tabset="ngbTabset" (tabChange)="creditMangement()">
        <ngb-tab title="Summary" id="redeem">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <div class="text-center">
                    <app-battery-recharge class="mb-4" [availableCredits]="credits_available"
                                          [totalCredits]="total_available"
                                          [earnedCredits]="earn_credit"
                                          [textAvailable]="'Email credits available'"
                                          [textEarned]="'Earned email credits'"
                                          [textEarnedSub]="'Pepipost encourages & rewards good emails senders. We give cashback for all emails opened.'"
                                          [redeemed]="redeemed"
                    ></app-battery-recharge>
                    <p class="info-success" [hidden]="!redeemed">{{redimMsg}}</p>
                    <!--<button class="btn btn-primary" (click)="onRedeemClick()" [disabled]="redeemedDisp">-->
                    <!--Redeem Credits-->
                    <!--</button> -->
                    <app-alert [type]="'secondary'" [dismissible]="false" [value]="redeemInfo"></app-alert>
                  </div>
                </div>
              </div>
              <div class="sidebar-right">
                <app-help-section [helpSectionData]="helpSectionData" [hidden]="tableFlag">
                </app-help-section>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Cashback History">
          <ng-template ngbTabContent>
            <div class="tab-box" #tabBox [hidden]="hideredeemHistory_hide">
              <ng2-smart-table class="table-responsive" [settings]="settings"
                               [source]="dataSource">
              </ng2-smart-table>
            </div>
            <div class="tab-box no-data" [hidden]="hideredeemHistory">
              <img class="no-data-icon" src="assets/images/calculator.svg" alt="Real Time">
              <h2 class="heading">You don’t have any credit redeeem history</h2>
              <p>If you redeem your earned credits, you'll see a history of your redemptions here.</p>
              <button class="btn btn-primary" (click)="redirectToRedeem()">Review Credits</button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
