@import 'vars';

:host {
  background: url("../../../../../assets/images/bg-timezone.png") $white no-repeat top center;
  background-size: 1100px;
  display: block;
  //font-size: to-rem(20);
  padding-top: to-rem(36);
  text-align: center;
  width: 100%;
  height: to-rem(230);

  .select-large {
    margin-bottom: to-rem(60) - 1rem;
    background-position: right to-rem(40) center;
    background-size: 13px 8px;
  }
}
