<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Integrations</h1>
      <ngb-tabset type="text" #tabset="ngbTabset">
        <ngb-tab title="SMTP Relay" id="smtp-info">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <div class="row">
                    <div class="col-12">
                      <p>Use the information below to configure your SMTP client to relay via Pepipost.<br>
                        By default your SMTP relay password is same as of your Pepipost profile password.</p>
                    </div>
                    <div class="col-12">
                      <form #apiInfoForm="ngForm" novalidate class="narrow-hr">
                        <hr class="mx-0">
                        <div class="form-group row">
                          <label for="smtpservername" class="col-lg-3 col-form-label"><strong>Host:</strong></label>
                          <div class="col-lg-9">
                            <input type="text" readonly class="form-control-plaintext" id="smtpservername"
                                   value="{{smtpdata.panel_name}}">
                          </div>
                        </div>
                        <hr class="mx-0">
                        <div class="form-group row">
                          <label for="smtpport" class="col-lg-3 col-form-label"><strong>Port:</strong></label>
                          <div class="col-lg-9">
                            <div class="form-control-plaintext" id="smtpport">
                              25 <span class="text-dull">(Alternative Ports: 587, 2525)</span>
                            </div>
                          </div>
                        </div>
                        <hr class="mx-0">
                        <div class="form-group row">
                          <label for="plain-text" class="col-lg-3 col-form-label">
                            <strong>Authentication:</strong>
                          </label>
                          <div class="col-lg-9">
                            <div class="form-control-plaintext" id="plain-text">
                              Plain text or TLS <i class="icon-help text-dull"
                                                   ngbTooltip="Plain - When not combined with TLS, the username and password are sent in clear text. We do not recommend using this method without enabling TLS. However, some older SMTP clients may not support other authentication methods. Use with caution."></i>
                            </div>
                          </div>
                        </div>
                        <hr class="mx-0">
                        <div class="form-group row">
                          <label #smtpuser for="smtpuser" class="col-lg-3 col-form-label">
                            <strong>Username:</strong>
                          </label>
                          <div class="col-lg-9">
                            <input type="text" readonly class="form-control-plaintext" id="smtpuser"
                                   value="{{smtpdata.smtpuser}}">
                          </div>
                        </div>
                        <hr class="mx-0">
                        <div class="form-group row align-items-center">
                          <label for="api-key2" class="col-lg-3 col-form-label"><strong>Password:</strong> </label>
                          <div class="col-lg-5">
                            <div class="input-group">
                              <input type="text" id="api-key2" name="smtpapikey"
                                     class="form-control" readonly
                                     [(ngModel)]="smtpdata.smtpapikey" #smtpapikey>
                              <div class="input-group-append"  *ngIf="accountStatus">
                                <button class="btn btn-primary" type="button" *ngIf="smtpShowBtn"
                                        (click)="showSmtpApikey()">Show
                                </button>
                                <button class="btn btn-primary" type="button" *ngIf="smtpCopyBtn" type="button"
                                        [ngxClipboard]="smtpapikey"
                                        (cbOnSuccess)="isSMTPCopied = true">{{isSMTPCopied ? 'COPIED' : 'COPY'}}
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4"  *ngIf="accountStatus">
                            <a href="#" class="text-link-secondary" (click)="resetSMTPPassword()">Change Password</a>
                          </div>
                        </div>
                        <hr class="mx-0">
                        <app-alert [type]="smtptype" [dismissible]="false" [value]="smtpmsg"></app-alert>
                      </form>
                    </div>
                    <div class="col-12 mt-4">
                      <em>Want to test our SMTP connection and activity logging? </em>
                      <button class="btn btn-light" type="button" (click)="testMail()">Click Here To Test</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-right">
                <app-help-section [helpSectionData]="helpSectionData">
                </app-help-section>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="API">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <div class="row">
                    <div class="col-12">
                      <p>API key provide access to your Pepipost account, to send emails and access reports.</p>
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-sm-8">
                          <form #apiInfoForm="ngForm" novalidate>
                            <label for="api-key" class="mr-sm-2"><b>Your API Key</b></label>
                            <div class="input-group" >
                              <input type="text" id="api-key" placeholder="" name="api_key"
                                     class="form-control" readonly
                                     [(ngModel)]="apidata" #api_key>
                              <div class="input-group-append" *ngIf="accountStatus">
                                <button class="btn btn-primary" type="button" *ngIf="apiShowBtn"
                                        (click)="showAPIKey()">Show
                                </button>
                                <button class="btn btn-primary" type="button" *ngIf="apiCopyBtn" type="button"
                                        [ngxClipboard]="api_key"
                                        (cbOnSuccess)="isApiCopied = true">{{isApiCopied ? 'COPIED' : 'COPY'}}
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-5">
                      <p>The Pepipost API makes it easy for programmers to integrate Pepipost's features into other
                        applications.</p>
                      <a href="https://pepidevelopers.api-docs.io"
                         class="btn btn-light" target="_blank">
                        Read the API documentation
                      </a>
                      <p class="mt-3"><em>Want to test our APIs and activity logging?
                        <a href="https://pepidevelopers.api-docs.io/v2/email/send-email" target="_blank">Goto
                          Online API Console</a></em></p>
                    </div>
                    <div class="col-12">
                      <app-alert [type]="apitype" [dismissible]="false" [value]="apimsg"></app-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-right">
                <div class="sidebar-box">
                  <h4>Helpful Links</h4>
                  <ul class="list-unstyled link-group">
                    <li><a class="text-link"
                           href="https://docs.pepipost.com/docs/getting-started"
                           target="_blank">Easy to integrate SDKs in different programming languages</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<!--bootstrap modal window for getting API key-->
<ng-template #apiKeyPopup let-c="close" let-d="dismiss">
  <form [formGroup]="showAPIKeyForm">
    <div class="modal-header">
      <h4 class="modal-title">Enter your login password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hey, before sharing you the API key, we need to re-verify that you have access to this account. Please enter
        your account password to confirm.</p>
      <div class="form-group">
        <label for="password3" class="bold-label">Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="password3" class="form-control"
                 formControlName="password" #apipassword #showhideinput>
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!showAPIKeyForm.controls['password'].valid
           && showAPIKeyForm.controls['password'].touched">Please enter valid password
        </small>
      </div>
      <app-alert [type]="showApiKeyType" [dismissible]="false" [value]="showApiKeyMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!showAPIKeyForm.valid"
              (click)="fetchApiData(apipassword.value)">Proceed
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>


<!--bootstrap modal window for testing email-->
<ng-template #testMailPopup let-c="close" let-d="dismiss">
  <form [formGroup]="testMailForm">
    <div class="modal-header">
      <h4 class="modal-title">Send A Test Mail</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="smtpserver2" class="col-sm-5 col-form-label"><strong>SMTP Server:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpserver2"
                 value="{{smtpdata.panel_name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtpport2" class="col-sm-5 col-form-label"><strong>SMTP Port:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpport2"
                 value="{{smtpdata.port}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtpuser2" class="col-sm-5 col-form-label"><strong>SMTP Username:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpuser2"
                 value="{{smtpdata.smtpuser}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtppass2" class="col-sm-5 col-form-label"><strong>SMTP Password:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtppass2"
                 value="{{smtpdata.smtpapikey}}">
        </div>
      </div>
      <div class="form-group">
        <label for="from"><strong>Email From </strong></label>
        <div class="email_domain">
            <span class="w200px">
                <input type="text" placeholder="Type your email address"
                       class="form-control inline_domain" id="from" formControlName="from" required #from>
            </span>
          <span>@</span>
          <span class="w200px">
                <select class="form-control inline_domain" [hidden]="dispDomainDropDown"
                        (change)="getDomainName($event)">
                  <option *ngFor="let domainanme of domainList" value="{{domainanme}}">{{domainanme}}</option>
                </select>
            </span>
          <label [hidden]="!dispDomainDropDown">{{domainList}}</label>
          <span>
                <small class="form-text text-danger" *ngIf="noDomainData">
                  You have not yet added / approved domain in your account, <a class="" href="#"
                                                                               (click)="redirectoDomain()"> Add Domain</a>  to send a test mail
                </small>
            </span>
        </div>
        <small class="form-text text-danger"
               *ngIf="!testMailForm.controls['from'].valid && testMailForm.controls['from'].touched">Please enter valid
          email
        </small>
      </div>
      <div class="form-group">
        <label for="to"><strong>Email To</strong></label>
        <input type="text" placeholder="Type your email address"
               class="form-control" id="to" formControlName="to" required #to>
        <small class="form-text text-danger"
               *ngIf="!testMailForm.controls['to'].valid && testMailForm.controls['to'].touched">Please enter valid
          email
        </small>
      </div>
      <app-alert [type]="testMailType" [dismissible]="false" [value]="testMailMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!testMailForm.valid || noDomainData"
              (click)="sendMail(to.value,from.value)">Send Mail
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>


<!--bootstrap modal window for password change-->
<ng-template #changePwdPopup let-c="close" let-d="dismiss">
  <form [formGroup]="verifyChangePwdForm">
    <div class="modal-header">
      <h4 class="modal-title">Enter your new password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="password">Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="password" #showhideinput class="form-control"
                 formControlName="password" (input)="checkPassword($event)">
        </app-show-hide-password>
        <small *ngIf="passwordData" [innerHTML]="passwordData">
        </small>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['password'].valid
           && verifyChangePwdForm.controls['password'].touched">
          Please enter valid password
        </small>
      </div>
      <div class="form-group">
        <label for="confmPassword">Confirm Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type confirm password" id="confmPassword" #showhideinput
                 class="form-control"
                 formControlName="confmPassword" validateEqual="password" #password>
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['confmPassword'].valid
           && verifyChangePwdForm.controls['confmPassword'].touched
           || (verifyChangePwdForm.controls['password'].value !== verifyChangePwdForm.controls['confmPassword'].value)">
          Password and confirmed password must be same
        </small>
      </div>
      <app-alert [type]="passwdType" [dismissible]="false" [value]="passwdMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              [disabled]="!verifyChangePwdForm.valid || passwordFlag
                || (verifyChangePwdForm.controls['password'].value !== verifyChangePwdForm.controls['confmPassword'].value)"
              (click)="setSMTPPassword(password.value)">Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>

<!--bootstrap modal window for getting SMTP API key-->
<ng-template #smtpPwdPopup let-c="close" let-d="dismiss">
  <form [formGroup]="showSmtpPwdForm">
    <div class="modal-header">
      <h4 class="modal-title">Enter your login password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="password2" class="bold-label">Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="password2" class="form-control"
                 formControlName="password" #smtppassword #showhideinput>
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!showSmtpPwdForm.controls['password'].valid
           && showSmtpPwdForm.controls['password'].touched">
          Please enter valid password
        </small>
      </div>
      <p>Note: By default SMTP password is same as Login</p>
      <app-alert [type]="showSmtpPwdType" [dismissible]="false" [value]="showSmtpPwdMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!showSmtpPwdForm.valid"
              (click)="getSmtpApikey(smtppassword.value)">Proceed
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>
