<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Manage Users</h1>
      <div class="flex-body inner">
        <div class="flex-content">
          <div class="tab-box">
            <div class="row">
              <div class="col-12">
                <ng2-dual-list-box [data]="items" valueField="id" textField="name"
                                   (onItemsMoved)="getSubAccountList($event)"
                                   [availableText]="availableText"
                                   [selectedText]="selectedText">

                </ng2-dual-list-box>
              </div>
            </div>
            <br/>
          </div>
          <div class="tab-box" *ngIf="(arrDomainList.length>0 && tableFlag)">
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                  <select class="form-control" (change)="getRequestType($event)">
                    <option value="request">Request</option>
                    <option value="complaint_rate">Delivered</option>
                    <option value="opened">Opened</option>
                    <option value="clicked">Clicked</option>
                    <option value="unsubscribed">Unsubscribed</option>
                    <option value="bounces">Bounces</option>
                    <option value="spam">Spam Reports</option>
                    <option value="invalids">Invalids</option>
                  </select>
                </div>
                <div class="btn-group float-right btn-outline" ngbRadioGroup name="radioBasic" [ngModel]="togglePercent"
                     data-toggle="buttons"
                     (ngModelChange)="numbToPercentToggle($event)">
                  <label ngbButtonLabel class="btn-primary">
                    <input type="radio" ngbButton [value]="true"> #
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input type="radio" ngbButton [value]="false"> %
                  </label>

                </div>
                <ng2-smart-table class="table-responsive" [settings]="subAccountsSettings"
                                 [source]="subAccountsdataSource">
                </ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
