<div _ngcontent-c2="" class="row">
  <div _ngcontent-c2="" class="col-sm-12">
    <div _ngcontent-c2="" class="content">
      <h1 _ngcontent-c2="" class="page-title">Notification</h1>
      <div class="tab-box" *ngIf="(allNotificationData.length>0)">
        <div class="list-group notification-list">
          <div class="list-group-item flex-column align-items-start"
               *ngFor="let notification of allNotificationData">
            <p class="mb-1" [innerHTML]="notification.message"></p>
            <div class="text-right">
              <small class="text-muted">{{notification.eventtime| fromNow}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-box text-center" *ngIf="(allNotificationData.length===0)">
        <img class="mt-3" src="assets/images/warning.svg" width="225" alt="Warning">
        <h2 class="text-dull mt-4">Whoopss!</h2>
        <p><strong>Notification not present.</strong></p>
        <app-alert [type]="notificationType" [dismissible]="false" [value]="notificationMsg">
        </app-alert>
      </div>
    </div>
  </div>
</div>
