<app-progress-wizard [totalSteps]="totalSteps"
                     [currentStep]="currentStep"
                     [showNumbers]="showNumbers"></app-progress-wizard>
<ol class="step-list">
  <li *ngFor="let step of stepList; let i = index"
      [class.completed]="step.active">
    <ng-container *ngIf="step.active">
      <div class="step" >{{step.label}}</div>
      <p class="desc" [innerHTML]="step.desc"></p>
    </ng-container>
    <ng-container *ngIf="!step.active">
      <a class="text-link step" href="#" (click)="onStepClick(i)">{{step.label}}</a>
      <p class="desc" [innerHTML]="step.desc"></p>
    </ng-container>
  </li>
</ol>
