<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12 has-sidebar">
          <h1 class="page-title float-left">Billing</h1>
        </div>
      </div>
      <div class="flex-body inner"  *ngIf="credit_type">
        <div class="flex-content">
          <div class="tab-box">
            <!--for unlimited-->
            <div class="text-left narrow-hr">
              <div>
                <strong>Credit Type: </strong>
                <div class="text-dull d-inline">{{credit_type}}</div>
                <hr class="mx-0">
                <strong>Credit Remainaing: </strong>
                <div class="text-dull d-inline">{{credit_remaining}}</div>
              </div>
              <div *ngIf="showRecurringDetails">
                <hr class="mx-0">
                <strong>Recurring Credit Details </strong><br>
                <hr class="mx-0">
                <span><strong>Date :</strong>  {{recurringDetails?.start_date | date:'M/dd/y' }} - {{recurringDetails?.end_date| date:'M/dd/y'}}</span><br>
                <hr class="mx-0">
                <span><strong>Period :</strong> {{recurringDetails?.period}}</span><br>
                <hr class="mx-0">
                <span><strong>Recurring Credit :</strong> {{recurringDetails?.recurring_credit |addCommasToNum}}</span><br>
              </div>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
