<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Upgrade Account</h1>
      <div class="tab-box">
        <div class="row">
          <div class="col-12">
            <h4>Get more out of Pepipost</h4>
            <br>
            <p>Our pay as you go Pro Plan is fully flexible and allows you to buy email credits only when you need to send
              emails. No monthly fee</p>
          </div>
          <br/>
        </div>
        <table class="table table-bordered table-condensed">
          <thead style="background-color:#495663;border-color:#495663; color:#fff">
          <tr>
            <th class="text-center">Your Current Plan</th>
            <th class="text-center">Pro Plan benefits</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">25,000 email credits free/mo</td>
            <td class="text-center">Flat pricing of $0.20 per 1000 <br>emails.
              <small><i>No free email credits.</i>
                <small></small>
              </small>
            </td>

          </tr>
          <tr>
            <td class="text-center">Daily limit 5000 emails</td>
            <td class="text-center">No daily limit on emails</td>

          </tr>
          <tr>
            <td class="text-center">Single sending domain</td>
            <td class="text-center">Add multiple sending domains,<br> Subuser Management with individual<br> account &amp;
              credit management
            </td>

          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary"
                (click)="redirectToCreditManagement()">Activate ProPlan</button>
      </div>
    </div>
  </div>
</div>
