<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Template <span>Archived</span></h1>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-row">
              <div class="col">
                <div class="input-search">
                  <input type="search" class="form-control" placeholder="Search Template">
                </div>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="backClick()">Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="template-list clearfix">
            <li *ngFor="let templateBg of templateList">
              <div class="card">
                <div class="hover-menu">
                  <div class="icon-group text-right">
                    <a class="btn" (click)="editTemplateClick()" href="#"><i class="icon icon-edit"></i></a>
                    <a class="btn" (click)="trashTemplateClick()" href="#"><i class="icon icon-trash"></i></a>
                    <a class="btn" (click)="archiveTemplateClick()" href="#"><i class="icon icon-archive"></i></a>
                  </div>
                  <a class="btn-preview" (click)="previewTemplateClick()" href="#"><i class="icon icon-preview"></i></a>
                </div>
                <div class="template-img" [ngStyle]="{'background-image': 'url(' + templateBg + ')'}"></div>
                <div class="card-body">
                  <p class="card-name">Name : Ashish<br>Id : 6354</p>
                </div>
              </div>
            </li>
          </ul>
          <nav class="ng2-smart-pagination-nav float-right">
            <div class="ng2-smart-pagination pagination">
              <div class="ng2-smart-page-item page-item">
                <a class="ng2-smart-page-link page-link btn-shadow border-0" href="#"
                   (click)="getPage() == 1 ? false : prevPage()" aria-label="Previous">
                  <span aria-hidden="true" class="icon-arrow-prev"></span>
                  <span class="sr-only">Previous</span>
                </a>
              </div>

              <div class="ng2-smart-page-item page-text">
                <span class="page-link">{{ getPage() }} of {{ getLast() }}</span>
              </div>

              <div class="ng2-smart-page-item page-item"
                   [ngClass]="{disabled: getPage() == getLast()}">
                <a class="ng2-smart-page-link page-link btn-shadow border-0" href="#"
                   (click)="getPage() == getLast() ? false : nextPage()" aria-label="Next">
                  <span aria-hidden="true" class="icon-arrow-next"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
