<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Earned Email Credits</h1>
      <ngb-tabset type="text" #tabset="ngbTabset" (tabChange)="creditMangement()">
        <ngb-tab title="Redeem" id="redeem">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <div class="text-center">
                    <app-battery-recharge class="mb-4" [availableCredits]="credits_available"
                                          [totalCredits]="total_available"
                                          [earnedCredits]="earn_credit"
                                          [textAvailable]="'Email credits available'"
                                          [textEarned]="'Earned email credits'"
                                          [textEarnedSub]="'Pepipost doesn\'t charge for emails which gets open. Hence, all email opens will get accumulated as Free Credits to redeeem.'"
                                          [redeemed]="redeemed"
                    ></app-battery-recharge>
                    <p class="info-success" [hidden]="!redeemed">{{redimMsg}}</p>
                    <button class="btn btn-primary" (click)="onRedeemClick()" [disabled]="redeemedDisp">
                      Redeem Credits
                    </button>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-12">
                      <app-alert [type]="type" [dismissible]="false" [value]="msg"></app-alert>
                    </div>
                    <div class="col-12">
                      <div class="card bg-light" *ngIf="!custom_buy">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" [checked]="autoRedeem"
                                     (change)="autoRedeemStatus($event)"> Auto redeem the credits from next time
                              <i class="icon-help icon-dull"
                                 ngbTooltip="Earned email credits will be auto added into the main account balance at the end of each day."></i>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-box" #tabBox *ngIf="graphData.length > 0">
                  <h4>Graph
                    <div class="tab-box-buttons">
                      <!-- <div class="input-date-range-picker mb-3 mr-3" daterangepicker
                           (applyDaterangepicker)="applyDate($event)">
                        <a> <i class="icon-calendar"></i>
                        {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</a>
                      </div>
                      <a href="javascript:void(0)" class="text-link-dark"><i class="icon icon-download"></i></a> -->
                    </div>
                  </h4>
                  <div class="remove-padding">
                    <ngx-charts-line-chart
                      (window:resize)="onResize()"
                      [autoScale]="true"
                      [view]="view"
                      [results]="graphData"
                      [xAxis]="true"
                      [yAxis]="true"
                      [legend]="true"
                      [showXAxisLabel]="true"
                      [showYAxisLabel]="true"
                      [yAxisLabel]="'Credit Management'"
                      [xAxisLabel]="'Months'"
                      [scheme]="colorSchemeGraph"
                      *ngIf="graphData.length > 0">
                    </ngx-charts-line-chart>
                  </div>
                </div>
              </div>
              <div class="sidebar-right">
                <app-help-section [helpSectionData]="helpSectionData">
                </app-help-section>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Redeem History">
          <ng-template ngbTabContent>
            <div class="tab-box" #tabBox [hidden]="hideredeemHistory_hide">
              <ng2-smart-table class="table-responsive" [settings]="settings"
                               [source]="dataSource">
              </ng2-smart-table>
            </div>
            <div class="tab-box no-data" [hidden]="hideredeemHistory">
              <img class="no-data-icon" src="assets/images/calculator.svg" alt="Real Time">
              <h2 class="heading">You don’t have any credit redeeem history</h2>
              <p>If you redeem your earned credits, you'll see a history of your redemptions here.</p>
              <button class="btn btn-primary" (click)="redirectToRedeem()">Review Credits</button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
