<div class="flex-body inner">
  <div class="flex-content">
    <div class="tab-box" [hidden]="!showdiv">
      <form class="text-center" [hidden]="paymentDetails">
        <div class="text-left narrow-hr" *ngIf="postPaidClient">
          <strong>Account Type: </strong>
          <div class="text-dull d-inline">Postpaid</div>
          <hr class="mx-0">
          <strong>Billing Cycle: </strong>
          <div class="text-dull d-inline"
               innerHTML="{{(postPaidBillingInfo?.cycle ? postPaidBillingInfo?.cycle : undefinedText) | titlecase}}"></div>
          <hr class="mx-0">
          <strong>Cost for 1000 emails: </strong>
          <div class="text-dull d-inline"
               innerHTML="${{postPaidBillingInfo?.price ?((postPaidBillingInfo?.price * 1000 )| addCommasToNum): undefinedText }}"></div>
          <hr class="mx-0">
          <strong>Next bill date: </strong>
          <div class="text-dull d-inline"
               innerHTML="{{postPaidBillingInfo?.next_billing_date ? postPaidBillingInfo?.next_billing_date : undefinedText }}"></div>
          <hr class="mx-0">
          <strong>Last month usage: </strong>
          <div class="text-dull d-inline" innerHTML="{{postPaidBillingInfo?.last_month_usages | addCommasToNum}}"></div>
          <hr class="mx-0">
          <strong>Your last month billed amount: </strong>
          <div class="text-dull d-inline"
               innerHTML="${{postPaidBillingInfo?.price ?
                ((postPaidBillingInfo?.price * postPaidBillingInfo?.last_month_usages)| addCommasToNum): undefinedText }}"></div>
          <hr class="mx-0">
          <button type="button" class="btn btn-primary" (click)="onProceedPostpaid()"
                  [disabled]="!postPaidPay">
            Pay
          </button>
        </div>
        <div *ngIf="!postPaidClient" [hidden]="!showdiv">
          <div [hidden]="falconPrepaidClient || subUserClient" *ngIf="!unlimitedCodeApplied">
            <app-battery-recharge [availableCredits]="credits_available"
                                  [totalCredits]="total_available"
                                  [earnedCredits]="earn_credit"
                                  [textAvailable]="'Email credits available'"
                                  [textEarned]="'Earned email credits'"
                                  [textEarnedSub]="'Pepipost doesn\'t charge for emails which gets open. Hence, all email opens will get accumulated as Free Credits to redeeem.'"
                                  [redeemed]="redeemed"
            ></app-battery-recharge>
          </div>
          <div *ngIf="!specialPrice">
          </div>
          <div [hidden]="!buyClicked" *ngIf="specialPrice">
            <div class="form-inline justify-content-center mt-4 mb-4">
              <label for="emailCredit1" class="mr-2"><strong>Recharge Amount (USD)</strong></label>
              <select class="custom-select" id="emailCredit1" (change)="selectEmailCreditWP($event)">
                <option value="select">Select</option>
                <option value="{{price.offer_value}} || {{price.description}}" *ngFor="let price of specialPriceList">
                  {{price.offer_value}}
                </option>
              </select>
            </div>
            <div *ngIf="!selectEmailWP">
              <div class="row">
                <div class="card bg-light col-md-10 offset-md-1 mb-4 font-md">
                  <div class="card-body buy-credits-body d-flex justify-content-center align-items-center">
                    <p class="card-text"><strong>{{description_wp}}</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <!--div class="col mt-5 mb-5" *ngFor="let price of specialPriceList">
              <input name="price" type="radio" (change)="onSelectionPrice(price)" [value]="price.offer_value"
                     class="custom-radio">
              $ {{price.offer_value}} {{price.description}}
            </div -->

            <button type="button" class="btn btn-primary" (click)="onProceedClick()"
                    [disabled]="!proceedCheck">
              Proceed
            </button>
            <button type="button" class="btn btn-light ml-5" (click)="onRedeemClick()" [hidden]="redeemedDisp"
                    *ngIf="!unlimitedCodeApplied">
              Redeem Free Credits
            </button>
          </div>
          <div class="col mt-5 mb-3" [hidden]="buyClicked || falconPrepaidClient || subUserClient">
            <button type="button" class="btn btn-primary" (click)="onBuyClick()">Recharge</button>
            <button type="button" class="btn btn-light ml-5" (click)="onRedeemClick()"
                    [hidden]="redeemedDisp">Redeem Free Credits
            </button>
            <app-alert class="mt-2 text-left" [type]="redeemMsgType" [dismissible]="false" [hidden]="!redeemed"
                       [value]="redeemMsg"></app-alert>
            <app-alert class="mt-2 text-left" [type]="domainMsgType" [dismissible]="false" [hidden]="approvedDomain"
                       [value]="domainMsg"></app-alert>
          </div>
          <!--div class="col mt-5 mb-3" [hidden]="!falconPrepaidClient || !showdiv"-->
          <div class="col mt-5 mb-3" *ngIf="falconPrepaidClient || subUserClient">
            <div class="text-left narrow-hr">
              <strong>Email credits left: </strong>
              <div class="text-dull d-inline">{{credits_available}}</div>
              <hr class="mx-0">
            </div>
            <br/>
            <app-alert class="mt-2 text-left" [type]="'secondary'" [dismissible]="false"
                       value="Note: To refill your account with more credits, please contact your Account Manager."></app-alert>
          </div>
        </div>
        <div [hidden]="!buyClicked || specialPrice" *ngIf="!postPaidClient">
          <div class="form-inline justify-content-center mt-4 mb-4">
            <label for="emailCredit" class="mr-2"><strong>How many email credits would you like to buy?</strong></label>
            <select class="custom-select" id="emailCredit" (change)="selectEmailCredit($event)">
              <option value="select">Select</option>
              <option value="100000">100 k</option>
              <option value="500000">500 k</option>
              <option value="1000000">1 m</option>
              <option value="5000000">5 m</option>
              <option>Custom</option>
            </select>
          </div>
          <div *ngIf="!selectEmail">
            <div class="row">
              <div class="card bg-light col-md-10 offset-md-1 mb-4 font-md" *ngIf="!custom_buy">
                <div class="card-body buy-credits-body d-flex justify-content-center align-items-center">
                  <p class="card-text">Purchasing <strong>{{buyEmailCredits.value.total_email_credits |
                    addCommasToNum}}</strong>
                    credits would cost <strong>${{buyEmailCredits.value.pay_amount | addCommasToNum}}</strong></p>
                </div>
              </div>
            </div>
          </div>
          <form [formGroup]="buyEmailCredits" class="row" *ngIf="custom_buy">
            <div class="card bg-light col-md-10 offset-md-1 mb-4 font-md">
              <div class="card-body buy-credits-body d-flex justify-content-center align-items-center">
                <div class="form-inline">
                  <p class="card-text">Purchasing
                    <input class="form-control form-input-sm" type="text" formControlName="total_email_credits"
                           (keydown)="customEmail()" on-keyup="customEmail()">
                    credits would cost
                    <strong>$</strong><input class="form-control form-input-xs" type="text"
                                             formControlName="pay_amount" (keydown)="customAmount()"
                                             on-keyup="customAmount()">
                  </p>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <!-- TODO: P0: attach radio button to label instead of col -->
              <form [formGroup]="autoRenewApply" class=" text-left mb-3" *ngIf="!autoRenew && !selectEmail">
                <div class="row">
                  <h5>Auto-renew my credits</h5>
                  <div class="col-12">
                    <div class="form-check form-check-inline">
                      <input type="radio" class="form-check-input col-auto" [ngModel]="autoRenewActive"
                             [ngModelOptions]="{standalone: true}" id="autoDebitOn"
                             (ngModelChange)="autoRenewStatus($event)" name="autoDebit" [value]="true">
                      <label class="form-check-label pl-1 col justify-content-start text-left" *ngIf="!autoRenew"
                             for="autoDebitOn">
                        <strong>$</strong><input class="form-control form-control-inline" type="number" min="10"
                                                 max="10000"
                                                 placeholder="10"
                                                 formControlName="amount">
                        will be auto debited from your account upon reaching
                        <input class="form-control form-control-inline" type="number" min="10" max="100"
                               placeholder="90"
                               formControlName="threshold"><strong>%</strong>
                        of email credit limits.
                      </label>
                    </div>
                  </div>
                  <div class="col-12 mt-2">
                    <div class="form-check form-check-inline">
                      <input type="radio" class="form-check-input col-auto" [ngModel]="autoRenewActive"
                             [ngModelOptions]="{standalone: true}" id="autoDebitOff"
                             (ngModelChange)="autoRenewStatus($event)" name="autoDebit" [value]="false">
                      <label class="form-check-label pl-1 col justify-content-start text-left" for="autoDebitOff">
                        I want to purchase credits manually<br>
                        <span class="text-dull">We'll send alerts when you use 80%, 90% and 95% of the credits that you purchase.
                          At 100% usage you are no longer able to send emails.</span>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <app-alert [type]="autoRenewValidateType" [dismissible]="false" [value]="autoRenewValidateMsg"></app-alert>
          <app-alert [type]="promoCode2xType" [dismissible]="false" [hidden]="!promoCode2x" [value]="promoCode2xMsg">
          </app-alert>
          <app-alert [type]="promoCode3xType" [dismissible]="false" [hidden]="!promoCode3x" [value]="promoCode3xMsg">
          </app-alert>
          <div class="col mt-4 mb-4">
            <button type="button" class="btn btn-primary" (click)="onPayClick()" [disabled]="!emailSelected">
              Proceed
            </button>
            <!--button type="button" class="btn btn-secondary">REDEEM</button-->
            <button type="button" class="btn btn-light ml-5" (click)="onRedeemClick()" [hidden]="redeemedDisp">
              Redeem Free Credits
            </button>
          </div>
          <div>
            <app-alert [type]="redeemMsgType" [dismissible]="false" [hidden]="!redeemed"
                       [value]="redeemMsg"></app-alert>
            <app-alert class="mt-2" [type]="domainMsgType" [dismissible]="false" [hidden]="approvedDomain"
                       [value]="domainMsg"></app-alert>
          </div>
        </div>
      </form>
      <div class="payment-details" [hidden]="!paymentDetails">
        <h4>Billing Contact</h4>
        <p>Address configured here will appear in your invoices.</p>
        <div class="clearfix" *ngIf="!editDetails">
          <a href="javascript:" (click)="editDetailsClick()"
             class="float-right text-link"><i class="icon-edit"></i></a>
          <p class="float-left">
            <strong>Name: </strong>
            <span class="text-dull"
                  innerHTML="{{billingInfo?.bill_name ? billingInfo?.bill_name : undefinedText }}"></span><br>
            <strong>Company / Organization: </strong>
            <span class="text-dull"
                  innerHTML="{{billingInfo?.company_name ? billingInfo?.company_name : undefinedText }}"></span><br>
            <strong>Phone Number: </strong>
            <span class="text-dull"
                  innerHTML="{{billingInfo?.phone_number ? billingInfo?.phone_number : undefinedText}}"></span><br>
            <strong>Tax ID: </strong>
            <span class="text-dull"
                  innerHTML="{{billingInfo?.bill_tax_id ? billingInfo?.bill_tax_id : undefinedText }}"></span><br>
            <strong>Billing Address: </strong>
            <span class="text-dull"
                  innerHTML="{{billingInfo?.bill_address ? billingInfo?.bill_address : undefinedText }}"></span>
          </p>
        </div>
        <div class="row" *ngIf="editDetails">
          <div class="col-12">
            <form [formGroup]="billingEditForm" novalidate>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="bold-label" for="billName">Name</label>
                    <input type="text" class="form-control" name="name"
                           formControlName="bill_name" id="billName" placeholder="John Smith">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="bold-label" for="companyName">Company / Organization</label>
                    <input type="text" class="form-control" name="company"
                           formControlName="company_name" id="companyName" placeholder="ABC Limited">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="bold-label" for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="contact"
                           formControlName="phone_number" id="phoneNumber" placeholder="415 555 2671">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="bold-label" for="billTaxId">If you have a registered
                      <abbr title="Value-added tax">VAT</abbr> /
                      <abbr title="Goods and services tax">GST</abbr> / Tax ID, please provide:</label>
                    <input type="text" class="form-control" name="taxId"
                           formControlName="bill_tax_id" id="billTaxId" placeholder="12-3456789">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="bold-label" for="billAddress">Billing Address</label>
                    <textarea type="text" class="form-control" name="company_address"
                              formControlName="bill_address" id="billAddress"
                              placeholder="Street Address, City, State, and ZIP code"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-alert class="mt-2" [type]="editBillingType" [dismissible]="false"
                             [value]="editBillingMsg"></app-alert>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-primary" (click)="saveBillingInfo(billingEditForm.value)">
                    Save
                  </button>
                  <button type="button" class="btn btn-secondary mr-0" (click)="onCancelClick()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <table class="table table-custom-1 promo-table mt-3 mb-5 float-left">
              <thead>
              <tr>
                <th>Details</th>
                <th>Amt.</th>
                <th>Credits</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Amount Paid</td>
                <td>${{buyEmailCredits.value.pay_amount | addCommasToNum}}</td>
                <td>{{buyEmailCredits.value.total_email_credits| addCommasToNum}}</td>
              </tr>
              <tr *ngIf="promoCodeRow2x">
                <td>Promo Discount 2X</td>
                <td>$0</td>
                <td>{{buyEmailCredits.value.total_email_credits| addCommasToNum}}</td>
              </tr>
              <tr *ngIf="promoCodeRow3x">
                <td>Promo Discount 3X</td>
                <td>$0</td>
                <td>{{buyEmailCredits.value.total_email_credits * 2| addCommasToNum}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Total</th>
                <th>${{buyEmailCredits.value.pay_amount | addCommasToNum}}</th>
                <th>{{total_emails | addCommasToNum}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="col">
            <a href="javascript:" (click)="editAmount()"
               class="float-right text-link"><i class="icon-edit"></i></a>
          </div>
        </div>
        <h4 class="mt-3">Payment Method</h4>
        <form *ngIf="addCard">
          <app-stripe-card #card (statusChanges)="stripeCardStatusChanges($event)" (onCancel)="cancelAddNewCard()"
                           (onSubmit)="addNewCardStripe($event)" [showButtons]="false"></app-stripe-card>
          <button type="button" class="btn btn-primary" [disabled]="!isStripCardValid"
                  (click)="buy()">Make Payment
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancelAddNewCard()" *ngIf="canclePayment">Cancel
          </button>
          <app-alert class="mt-2" [type]="addNewCardPaymentType" [dismissible]="false"
                     [value]="addNewCardPaymentMsg"></app-alert>
        </form>
        <div class="card-block blank" *ngIf="!addCard">
          <a href="#" (click)="addNewCard()">
            <div class="row">
              <div class="col-lg-9 col-sm-10">
                <i class="card-box"></i>
                <div>Add new Credit/Debit Card. We accept Visa, MasterCard, American Express and Discover cards.<br>
                  Debit cards are only accepted in select geographies.
                </div>
              </div>
              <div class="col-lg-3 col-sm-2 justify-content-end">
                <i class="icon icon-add"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="card-block" *ngFor="let card of addedCardList">
          <div class="row" *ngIf="!addCard">
            <div class="col-lg-6 col-sm-7">
              <i class="card-box" [ngClass]="card.brand | lowercase"></i>
              <div>
                <strong>{{card.name | uppercase}} xxxx-{{card.last4}}</strong><br>
                <span class="text-dull">Expires {{card.exp_month}}/{{card.exp_year}}</span>
              </div>
            </div>
            <div class="col justify-content-end">
              <!--a href="javascript:" class="text-link"><i class="icon icon-trash"></i></a -->
              <input name="cards" type="radio" (change)="onSelectionChange(card)" [value]="card.id"
                     class="custom-radio">
            </div>
          </div>
        </div>
        <!--div class="col mt-4 mb-4" *ngIf="addCard">
          <button type="button" class="btn btn-primary" (click)="saveNewCardAndPayment()">Make Payment
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancelAddNewCard()">Cancel</button>
        </div-->

        <div class="col mt-4 mb-4" *ngIf="!addCard">
          <button type="button" class="btn btn-primary" (click)="makePayment()" [disabled]="!selectedCard">
            Make Payment
          </button>
        </div>

        <div *ngIf="!addCard">
          <app-alert [type]="existingCardPaymentType" [dismissible]="false"
                     [value]="existingCardPaymentMsg"></app-alert>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-right">
    <app-help-section [helpSectionData]="helpSectionData" [hidden]="falconPrepaidClient || subUserClient">
    </app-help-section>
  </div>
</div>
