        @import 'vars';
        html {
            font-size: $base-font-size;
            ;
        }

        body {
            font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
            background: #f2f2f2;
            color: #484848;
        }

        strong {
            font-weight: $font-weight-bold;
        }

        .font-md {
            font-size: to-rem(15);
        }

        .sk-wave .sk-rect {
            margin: 2px;
        }

        .pl-72 {
            padding-left: to-rem(72);
        } // https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
        .flex-container {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .flex-container-inside {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }

        .flex-body {
            display: flex;
            flex: 1;
            &.inner {
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
            }
        }

        .flex-content {
            flex: 1;
        }

        .main-nav {
            height: 100%;
        }

        .router-outlet {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5 {
            font-weight: 600;
            outline: 0
        }

        h1,
        .h1 {
            font-size: to-rem(30);
            letter-spacing: -0.029rem;
        }

        h2,
        .h2 {
            font-size: to-rem(25);
            letter-spacing: -0.024em
        }

        h3,
        .h3 {
            font-size: to-rem(21);
            letter-spacing: -0.025rem;
        }

        h4,
        .h4 {
            font-size: to-rem(17);
            margin-bottom: 1rem;
        }

        h5,
        .h5 {
            font-size: to-rem(16);
            margin-bottom: 1rem;
        }

        h4.title {
            color: #ff9e11;
        }

        p,
        .p {
            margin-bottom: 1rem;
        }

        [hidden] {
            display: none !important;
        } // make modal box vertially center
        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        .modal-content {
            @include media-breakpoint-up(md) {
                min-width: 500px;
            }
        }

        .modal-body {
            @include media-breakpoint-up(md) {
                min-height: 200px;
                max-height: 600px;
                overflow-y: auto;
            }
        }

        h2.head-inner {
            color: #616161;
            font-size: to-rem(30);
            margin-bottom: to-rem(20);
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .primary-focus {
            color: #1780d4;
        }

        h4.title {
            color: #ff9e11;
        }

        .align-center {
            margin-left: auto;
            margin-right: auto;
        }

        .font-weight-semibold,
        .font-weight-semibold strong {
            font-weight: $font-weight-semibold;
        }

        .no-padding {
            padding: 0 !important;
        }

        .no-margin {
            margin: 0 !important;
        }

        .no-rounding {
            border-radius: 0 !important;
        }

        .heading {
            font-weight: $font-weight-semibold;
        }

        p.heading {
            font-size: 14px;
        }

        .footer {
            text-align: center;
            padding: 1rem;
        }

        .focus-less {
            opacity: 0.8;
        }

        small,
        .small-font {
            font-size: 95%;
        }

        .yellow {
            color: $yellow
        }

        a,
        .text-link,
        a.text-link,
        [ng2-st-tbody] a.text-link {
            color: #237a91;
            ;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
                color: darken(#237a91, 10%);
            }
        }

        .text-link-secondary {
            color: #c90047;
            font-size: 13px;
            text-decoration: underline;
            &:hover {
                color: darken(#c90047, 10%);
            }
        }

        .link-group {
            font-weight: $font-weight-semibold;
            margin-bottom: 0;
            text-align: left;
            li {
                margin-bottom: 0.8rem;
            }
        }

        .icon-dull {
            color: rgba(170, 170, 170, 0.8);
        }

        .welcome {
            $pepi-face-width: to-rem(99);
            $pepi-face-height: to-rem(90);
            background-color: $yellow;
            box-shadow: inset 0 3px 21px 0 rgba(85, 85, 85, 0.19); //font-size: to-rem(20);
            //line-height: 2;
            margin-bottom: 0;
            width: 100%;
            padding: 2rem;
            .content-box {
                background-color: $white;
                border-radius: to-rem(10);
                box-shadow: 0 60px 70px -40px rgba(0, 0, 0, 0.35);
                max-width: to-rem(550);
                min-height: to-rem(200);
                margin: 0 auto;
                padding: 40px 50px;
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
            }
            .pepi-face {
                margin-top: $pepi-face-height; //margin-bottom: $pepi-face-height;
                &:before {
                    background: url("assets/images/pepi-face.png") no-repeat;
                    background-size: cover;
                    content: "";
                    position: absolute;
                    top: -$pepi-face-height;
                    left: to-rem(40);
                    width: $pepi-face-width;
                    height: $pepi-face-height;
                }
            }
            h1.title {
                margin-bottom: 0;
            }
            h1.name {
                font-size: to-rem(72);
                margin-bottom: to-rem(30);
            }
        }

        .copy-link {
            display: inline-block;
            font-weight: $font-weight-semibold;
            margin-bottom: 10px;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        .modal-header {
            background-color: #f2f2f2;
            justify-content: center;
            .close {
                line-height: $line-height-base;
                margin: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .graph-fix {
            // instead of hidding chart, set min-width
            width: 100px;
            overflow: scroll;
        }

        .modal-footer {
            justify-content: left;
            text-align: left;
            .btn-secondary {
                margin-right: 0;
            }
        }

        .info-success {
            color: #c80046;
            font-size: to-rem(20);
            font-weight: $font-weight-semibold;
        }

        .alert-full {
            .alert {
                border-radius: 0;
                margin-bottom: 0;
            }
        }

        .alert-p0 {
            .alert {
                background: #ee836e;
                color: #484848;
                font-size: 13px;
                font-weight: 600;
                justify-content: center;
                min-height: 60px;
            }
            .icon {
                font-size: 20px;
                padding-right: 10px;
            }
            p {
                margin: 0;
            }
        }
        .alert-p1 {
          .alert {
            background: #ffeebf;
            color: #505E53;
            font-size: 13px;
            font-weight: 600;
            justify-content: center;
            min-height: 60px;
          }
          p {
            margin: 0;
          }
        }

        .alert-full {
            .alert {
                align-items: center;
                display: flex;
            }
        }

        .alert {
            display: flex;
            align-items: center;
            color: #484848;
            margin-top:10px;
            .icon {
                font-size: 20px;
            }
        }

        .alert-dismissible .close {
            top: 50%;
            transform: translateY(-50%);
        }

        .alert-thin {
            padding: to-rem(15) to-rem(30);
            font-size: to-rem(16);
        }

        .alert-warning {
            background-color: #ffeebf;
            border-color: #ffeebf;
            margin-top: 0;

        }

        .text-dull {
            color: $brand-extended-10;
        }

        .layout-container {
            display: flex;
            flex: 1;
            flex-direction: row;
        }

        .full-height {
            height: 100%;
        }

        .sidebar {
            background: $gray-1;
        }

        .sidebar-right {
            margin-left: 20px;
            @include media-breakpoint-down(sm) {
                margin-left: 0;
            }
        }

        .sidebar-title {
            margin-bottom: to-rem(20);
        }

        .page-title {
            font-size: to-rem(30);
            padding: 0 0 0 to-rem(5);
            margin: 0 0 to-rem(25) 0;
            border-left: to-rem(4) solid $title-border-pink;
            line-height: to-rem(26);
        }

        .page-title span {
            font-size: 20px;
            color: #464545;
            line-height: normal;
        }

        .content {
            padding: to-rem(30) to-rem(15);
            width: 100%;
            min-height: 500px;
        }

        .no-data {
            //margin-top: 1rem;
            text-align: center;
            .heading {
                margin-top: 1.5rem;
            }
        }

        .no-data-icon {
            width: auto;
            height: 222px;
        }

        .icon-grey {
            fill: red;
        }

        .tab-box {
            border-radius: 3px;
            padding: $tab-box-padding;
            background: $white;
            box-shadow: 0 2px 18px rgba($black, 0.15);
            @include clearfix(); //overflow: hidden;
            margin-bottom: to-rem(20);
            .remove-padding {
                margin-left: -$tab-box-padding;
                margin-right: -$tab-box-padding;
            }
            hr {
                margin: to-rem(24) (-$tab-box-padding);
            }
        }

        .tooltip-wide {
            .tooltip {
                min-width: 200px;
            }
        }

        .narrow-hr {
            hr {
                margin-top: to-rem(10);
                margin-bottom: to-rem(10);
            }
        }

        .tab-graph {
            @extend .clearfix;
            padding: to-rem(25);
        }

        .tab-box-buttons {
            color: #616161;
            font-size: to-rem(16);
            font-weight: $font-weight-semibold;
            float: right;
        }

        .has-sidebar {
            // sidebar width + margin-left of sidebar + bootstrap col padding
            padding-right: $sidebar-width + to-rem(20) + to-rem(15);
            @include media-breakpoint-down(sm) {
                padding-right: to-rem(15); // reset
            }
        }

        .sidebar-box {
            @extend .tab-box;
            width: $sidebar-width;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            h4 {
                border-bottom: 1px solid #dcdcdc;
                padding-bottom: $tab-box-padding;
                margin-left: -$tab-box-padding;
                margin-right: -$tab-box-padding;
                text-align: center;
            }
        } // ngb-tabset style 'text'
        .no-margin-top {
            .nav-text {
                margin-top: 0;
            }
        }

        .nav-text {
            padding: 0;
            margin: 1.5rem 0;
            li {
                list-style: none;
                padding: 0 to-rem(20) 0 0;
                margin: 0 to-rem(20) 0 0;
                border-right: 3px solid $brand-extended-10;
                display: inline-block;
                a {
                    color: $brand-extended-10;
                    font-weight: $font-weight-semibold;
                    font-size: to-rem(18);
                    padding: 0;
                    &.active,
                    &:hover {
                        color: $brand-primary-1;
                        text-decoration: underline;
                    }
                }
            }
            li:last-child {
                border: none;
            }
        } // ngb-tabset style 'red-underline'
        .nav-red-underline {
            font-weight: $font-weight-bold;
            li {
                border-bottom: 1px solid #eaeaea;
            }
            a {
                align-items: center;
                color: #bababa;
                background-color: #f2f2f2;
                border-bottom: 3px solid transparent;
                border-right: 1px solid #eaeaea;
                display: flex;
                justify-content: center;
                padding: 12px;
                text-decoration: none;
                &.active,
                &:hover {
                    border-bottom: 3px solid #c90047;
                    background-color: $white;
                    color: #484848;
                }
            }
        }

        .ng-tabs {
            list-style: none;
            padding: 0;
            margin: to-rem(35) 0;
        }

        .ng-tabs li {
            list-style: none;
            padding: 0 to-rem(20) 0 0;
            margin: 0 to-rem(20) 0 0;
            border-right: 3px solid $brand-extended-10;
            display: inline-block;
        }

        .ng-tabs li a {
            color: $brand-extended-10;
            font-weight: bold;
            font-size: to-rem(20);
        }

        .ng-tabs li a:hover,
        .ng-tabs li.active a {
            color: $brand-primary-1;
            text-decoration: underline;
        }

        .faq-sidebar {
            padding: to-rem(130) to-rem(30) 0;
            @include media-breakpoint-down(lg) {
                padding-top: to-rem(45);
            }
        }

        .d3-chart {
            width: 100%;
            height: 400px;
        }

        .d3-chart .axis path,
        .d3-chart .axis line {
            stroke: #999;
        }

        .d3-chart .axis text {
            fill: #999;
        }

        .add-user-icon {
            display: inline-block;
            background: url("assets/images/add-user-icon.svg") no-repeat 0 0;
            background-size: 100% 100%;
            width: 152px;
            height: 174px;
            margin: 0 auto;
        }

        .link-divider {
            margin-left: to-rem(10);
            margin-right: to-rem(10);
            position: relative;
            top: -5px;
        }

        .progress-indicator {
            margin-top: 1rem;
            margin-bottom: 1rem;
            >li {
                z-index: 0;
            }
            >li.completed.last {
                .bubble:after {
                    background-color: $complete;
                    color: $complete;
                    width: 50%;
                }
            }
            >li .bubble {
                border-bottom: none;
                &:before,
                &:after {
                    z-index: -1;
                }
            }
        }

        .simple-list {
            padding-left: 20px;
        }

        .step-list {
            padding-left: 0.5rem;
            .step {
                font-weight: $font-weight-semibold;
            }
            .desc {
                font-size: 0.95em;
            }
            li {
                margin-left: 0.5rem;
                margin-bottom: 1rem;
            }
            .completed {
                text-decoration: line-through;
                opacity: 0.5;
            }
        }

        .icon-btn-primary {
            border: 1px solid #c90047;
            border-radius: to-rem(5);
            padding: to-rem(17) to-rem(35);
            color: #c90047;
            font-size: to-rem(24);
            background-color: #ffffff;
            display: inline-block;
            .icon {
                margin-right: to-rem(15);
                font-size: to-rem(20);
            }
            &:hover {
                color: #ffffff;
                background-color: #c90047;
                text-decoration: none;
            }
        }

        .status-pill {
            background-color: #50d398;
            border-radius: 5px;
            color: #222222;
            display: inline-block;
            padding: 5px;
            min-width: to-rem(180);
        }

        .status-title {
            font-weight: $font-weight-semibold;
            .btn-primary {
                color: #fff;
            }
        }

        .status-circle {
            border-radius: 50%; // display: inline-block;
            margin-right: 5px;
            width: 12px;
            height: 12px;
            display: inline-block;
        }

        .status-info {
            margin-left: 5px + 12px;
        }

        .status-pill,
        .status-circle {
            &.not-verified {
                background-color: #fa6f49;
            }
            &.under-approval {
                background-color: #62b9ff;
            }
            &.active {
                background-color: #50d398;
            }
            &.rejected {
                background-color: #ff2232;
            }
        }

        .status-link {
            font-weight: $font-weight-semibold;
        }

        .progress-small {
            height: 9px;
        }

        .status-icon {
            &.active {
                color: #07853f;
            }
            &.inactive {
                color: #c82606;
            }
        }

        .tracking-info {
            border-bottom: 1px solid #d8d8d8;
            font-size: 1rem;
        } // template cards
        .template-list {
            //margin-top: 2rem;
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            li {
                float: left;
                margin-right: to-rem(25);
                margin-bottom: to-rem(25);
                &:hover .hover-menu {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
            .card {
                position: relative;
            }
            .card,
            .hover-menu {
                width: to-rem(320);
            }
            .template-img,
            .hover-menu {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                height: to-rem(250);
            }
            .template-img {
                background-repeat: no-repeat;
                background-size: cover;
            }
            .hover-menu {
                background: rgba(0, 0, 0, 0.7);
                display: flex;
                position: absolute;
                z-index: 1;
                opacity: 0;
                pointer-events: none;
                transition: opacity 300ms;
            }
            a {
                color: $white;
                &:hover {
                    text-decoration: none;
                    color: darken($white, 20%);
                }
            }
            .btn-preview {
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .icon-group {
                padding: 5px 10px 0 0;
                position: absolute;
                z-index: 2;
                right: 0;
                .btn {
                    padding: 0.375rem;
                }
            }
            .card-name {
                font-weight: $font-weight-semibold;
                margin: 0;
            }
        }

        .template-preview {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 101;
            background: $white;
            display: flex;
            flex-direction: column;
            .template-header {
                padding: 10px 15px;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
                z-index: 1;
            }
            h4 {
                background: #f7f7f7;
                margin: 0;
                padding: 5px;
                border-left: 1px solid #ddd;
            }
        }

        .alternate-box-list {
            background: #f3f5fa;
        }

        .slab-container {
            position: relative;
            margin-left: -$tab-box-padding;
            margin-right: -$tab-box-padding;
            padding: 0 to-rem(20);
            .line {
                background-color: #dbdbdb;
                position: absolute;
                top: 40%;
                left: 0;
                height: 1px;
                width: 100%;
                z-index: 0;
            }
            .slabs {
                color: #c5c5c5;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: baseline;
                z-index: 1;
                position: relative;
            }
            .title {
                font-size: to-rem(13);
                line-height: 1.2;
            }
            .slab {
                .icon {
                    font-size: 2rem;
                    background: $white;
                }
                &.active {
                    .icon {
                        color: #61b8ff;
                        font-size: 3rem;
                    }
                    font-weight: $font-weight-semibold;
                    color: #616161;
                    .level {
                        font-weight: normal;
                        color: #c5c5c5;
                    }
                }
            }
        }

        .legend-labels .legend-label .legend-label-color {
            border-radius: 50%;
            border: 1px solid transparent;
        }

        .legend-labels .legend-label .inactive .legend-label-color {
            background-color: transparent !important;
            border-color: currentColor;
        }

        .CodeMirror,
        .code-preview-frame {
            width: 100%;
            height: 100%;
        }

        @include media-breakpoint-down(sm) {
            .CodeMirror,
            .code-preview-frame {
                max-height: 400px;
            }
        }

        .live-labels {
            margin-bottom: to-rem(15);
            .live-label.featured {
                font-weight: $font-weight-extrabold;
            }
            .live-label {
                display: inline-flex;
                position: relative;
                padding-left: 12px;
                flex-direction: column;
                font-weight: normal;
                justify-content: center;
                min-width: to-rem(180);
                width: 24%;
                min-height: to-rem(50);
                line-height: 1.2;
                margin-bottom: to-rem(15);
                &:before {
                    content: "";
                    display: flex;
                    background: red;
                    width: 4px;
                    height: 60%;
                    position: absolute;
                    top: 20%;
                    left: 0;
                }
            }
            .percent {
                color: #686767;
                font-size: 0.8em;
            }
            .count {
                font-weight: $font-weight-bold;
                font-size: 17px;
            }
            .label-line-color-1:before {
                background-color: #d4336c;
            }
            .label-line-color-2:before {
                background-color: #ffb141;
            }
            .label-line-color-3:before {
                background-color: #51d599;
            }
            .label-line-color-4:before {
                background-color: #d4336c;
            }
            .label-line-color-5:before {
                background-color: #81c7ff;
            }
            .label-line-color-6:before {
                background-color: #fa4956;
            }
            .label-line-color-7:before {
                background-color: #7349fa;
            }
            .label-line-color-8:before {
                background-color: #fa49db;
            }
        }

        .buy-credits-body {
            min-height: 80px;
        }
        /* POSTPAID BILLING CSS START HERE */

        .pie-credits {
            display: block;
        }

        .bill-details {
            display: block;
            .calc-box {
                display: inline-block;
                text-align: center;
                padding: 10px 5px;
                margin-right: 15px;
                background: #efefef;
                border: 1px solid #e0e0e0;
                border-radius: 0.25rem;
                height: 110px;
                vertical-align: middle;
                width: 22.46%;
                .text-dull {
                    margin-bottom: 10px;
                    font-size: 24px;
                    color: #000;
                    font-weight: bold;
                }
                .billing-cycle {
                    font-size: 10px;
                    color: #9b9b9b;
                }
                strong {
                    font-weight: normal;
                }
            }
          .calc-sub-box {
            display: inline-block;
            text-align: center;
            padding: 10px 5px;
            margin-right: 15px;
            background: #efefef;
            border: 1px solid #e0e0e0;
            border-radius: 0.25rem;
            height: 110px;
            vertical-align: middle;
            width: 17.96%;
            .text-dull {
              margin-bottom: 10px;
              font-size: 24px;
              color: #000;
              font-weight: bold;
            }
            .billing-cycle {
              font-size: 10px;
              color: #9b9b9b;
            }
            strong {
              font-weight: normal;
            }
          }
            strong {
                font-size: 15px;
            }
        }

        button.back-btn {
            background: #c90047;
            color: #fff;
            font-weight: bold;
            margin-top: -10px;
            &:hover {
                background-color: #a30039;
            }
        }

        .upgarde_details {
            // background: #efefef;
            -webkit-box-shadow: 0 0 1.38461538rem 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 1.38461538rem 0 rgba(0, 0, 0, 0.15);
            padding: 15px;
            border-radius: 3px;
            margin-bottom: 15px;
            width: 595px;
            hr {
                margin: 10px 0px;
            }
            .text-dull {
                color: #484848;
                font-weight: bold;
            }
            strong {
                font-weight: normal;
            }
            p {
                margin-bottom: 5px;
            }
        }

        strong.txt-15 {
            font-size: 15px;
        }

        .compaire-plan {
            .calc-box {
                background-color: transparent;
                -webkit-box-shadow: 0 0 1.38461538rem 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 1.38461538rem 0 rgba(0, 0, 0, 0.15);
                height: 161px;
                width: 220px;
                //padding: 10px 20px;
              padding: 10px 0px;
                .text-dull {
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: #484848;
                    font-weight: 600;
                }
                .price-email {
                    margin-bottom: 15px;
                    h3 {
                        margin-bottom: 5px;
                        margin-top: 15px;
                        font-size: 26px;
                        font-weight: bold;
                    }
                    span {
                        font-size: 11px;
                    }
                    small {
                        font-size: 12px;
                    }
                }
                .billing-cycle {
                    font-size: 10px;
                    color: #9b9b9b;
                }
            }
        }

        .compare-arrow {
            font-size: 100px;
            color: #d0d0d0;
            margin: 0 20px 0 15px;
            height: 161px;
        }

        a.status-link.text-link.upgrade {
            text-decoration: none;
            border: 1px solid #62b9ff;
            background-color: #62b9ff;
            padding: 5px 15px;
            border-radius: 3px;
            color: #fff;
            &:before {
                content: "\E030";
                font-family: "netcore-icons";
            }
        }

        a.status-link.disabled.currentplan {
            text-decoration: none;
            border: 1px solid #50d398;
            padding: 5px 15px;
            border-radius: 3px;
            background-color: #50d398;
            color: #fff;
            &:before {
                content: "\E00D";
                font-family: "netcore-icons";
            }
        }

        a.status-link.text-link.downgrade,
        a.status-link.disabled_1 {
            text-decoration: none;
            border: 1px solid #ffc340;
            padding: 5px 15px;
            border-radius: 3px;
            color: #fff;
            background-color: #ffc340;
            &:before {
                content: "\E016";
                font-family: "netcore-icons";
            }
        }

        .bill-cycle-1 {
            font-size: 11px!important;
            font-weight: normal;
        }
        .form-checkbox-custom{
            width: 15px;
            float: left;
            margin-top: 3px;
        }
        .float-right.backbutton{
          margin-right: 21.5rem;
        }
        // Added css to overwrite list box css
        .center-block.text-center button.btn {
          background-color: #fff;
          border: 1px solid #9e9999;
          color: #333;
        }
        select.form-control, select.custom-select, .ui-select-container select.btn-secondary {
          background-color: #fff !important;
        }
        .col-md-2.col-lg-2.col-sm-12.center-block.text-center button:nth-child(1){display:none;}
        .col-md-2.col-lg-2.col-sm-12.center-block.text-center button:nth-child(2){margin-top:75px}
        .col-md-2.col-lg-2.col-sm-12.center-block.text-center button:nth-last-child(1){display:none;}
        .list-box {min-height: 50px !important;}
        .live-label-center {
            display: inline-flex;
            min-width: 140px;
            span {
                margin: auto;
                // font-weight: 600;
                font-size: 17px;
            }
            a.text-link {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .mh100 { min-height:100px}
        .jcl {
            justify-content: left;
        }
        .mb-05rem {
          margin-bottom: 0.5rem;
        }
        .alert-p0 .alert .alert-dismissible {
        background: #73bb84;
        }

        small.error-5 {
          position: absolute;
          bottom: 0px;
        }


