@import 'vars';
@import 'mixins';
@import 'icons-generated';
@import 'forms/ui-switch-text';
.form-control:focus {
    border-color: #c1bfb7;
    box-shadow: none;
}

.input-group-append {
    position: relative;
    z-index: 3;
}

.form-control-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.custom-select {
    max-width: 100%;
    width: auto;
}

.form-inline .form-input-xs {
    width: to-rem(80);
}

.form-inline .form-input-sm {
    width: to-rem(120);
}

.input-group,
.input-addon {
    position: relative;
}

select.form-control,
select.custom-select {
    background-color: #e0e0e0;
    font-weight: 600;
    option {
        background-color: #fff;
    }
    &:focus {
        background-color: #d3d3d3;
    }
}

.btn,
a {
    cursor: pointer;
}

.disabled,
[disabled] {
    cursor: not-allowed;
}

.btn-group {
    .btn-primary:not([disabled]):not(.disabled):active,
    .btn-primary:not([disabled]):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        box-shadow: none;
    }
    .btn {
        background-color: transparent;
        color: #474747;
        &:hover {
            background-color: rgba($red, 0.2);
        }
    }
}

.icon-addon {
    color: #616161;
    padding: to-rem(8) 0.75rem;
    position: absolute;
    top: 0;
    z-index: 0;
}

.input-addon.addon-left {
    input {
        padding-left: to-rem(34);
    }
    .icon-addon {
        left: 0;
    }
}

.input-addon.addon-right {
    .icon-addon {
        right: 0;
    }
    input {
        padding-right: to-rem(34);
    }
}

.open {
    >.dropdown-menu {
        display: block;
    }
    >a {
        outline: 0;
    }
}

.input-group-btn {
    .btn {
        padding: 0.375rem 0.75rem;
        height: auto;
        line-height: 1.5;
    }
}

.btn {
    font-weight: $font-weight-bold;
    font-size: to-rem(13); //padding: 0 to-rem(18);
    //height: to-rem(32);
    //line-height: to-rem(32);
    &.text-link-dark,
    &.text-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.btn-wide {
    padding-left: 45px;
    padding-right: 45px;
}

.btn-with-text {
    display: inline-block;
    button {
        line-height: 1;
        margin: 0 0 0 20px;
    }
    span {
        font-size: to-rem(16);
        text-transform: none;
        font-weight: $font-weight-semibold;
    }
}

.select-large {
    padding: 0 to-rem(40);
    height: to-rem(70);
    width: to-rem(780);
}

.btn-default {
    background-color: #737373;
    color: #fff;
    &:hover {
        background-color: #666;
        color: #fff;
    }
}

.btn-secondary {
    border: 0;
    background: none;
    color: #6b6b6b; //font-size: to-rem(20);
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 1rem;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        text-decoration: none;
        color: lighten(#6b6b6b, 10%);
    }
    &:not([disabled]):not(.disabled):active {
        background-color: transparent;
        color: darken(#6b6b6b, 10%);
        box-shadow: none;
    }
}

.btn-secondary[disabled] {
    pointer-events: none;
    background: none;
}

.ui-select-container {
    .ui-select-search,
    .ui-select-toggle {
        min-width: 220px;
        max-width: 100%;
    }
    .ui-select-search {
        padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
    }
    .btn-secondary {
        @extend .custom-select;
        font-weight: normal;
        margin: 0;
        text-transform: none;
        width: 100%;
        &:hover {
            background-color: darken($custom-select-bg, 2%);
            border-color: #8c8c8c;
            color: #333;
            text-decoration: none;
        }
        &:not([disabled]):not(.disabled):active {
            background-color: darken($custom-select-bg, 5%);
            border-color: #adadad;
            color: #333;
        }
        .dropdown-toggle {
            display: none;
        }
    }
}

.btn-gray-outline {
    background-color: transparent;
    border-color: #c1bfb7;
    color: $brand-primary-1;
}

.btn-tertiary {
    background-color: transparent;
    border-color: $brand-primary-1;
    color: $brand-primary-1;
    font-weight: normal;
    text-transform: none;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
    text-transform: capitalize;
}

.btn-text-color {
    color: $brand-primary-1;
    font-weight: bold;
    line-height: 40px;
}

.btn-text-color:hover {
    color: $brand-primary-1 !important;
}

.text-link-dark,
a.text-link-dark {
    color: #616161;
    &:hover {
        color: darken(#616161, 10%);
    }
}

a.heading {
    color: inherit;
    text-decoration: underline;
}

.btn-link {
    color: $brand-primary-4;
    font-size: to-rem(18);
    text-decoration: underline;
    &:hover {
        color: lighten($brand-primary-4, 10);
    }
}

label.custom-input-primary {
    color: #646464;
    line-height: to-rem(44);
    margin-bottom: 0;
}

.input-date-range-picker {
    display: inline-block;
    font-weight: $font-weight-semibold;
    color: #646464;
}

.ng-error {
    color: #f4633c;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
}

.ng-msg-note {
    font-size: 12px;
    display: inline-block;
    line-height: 22px;
    color: #dcdbdb;
}

.custom-file {
    max-width: 100%;
    width: auto;
}

.custom-file-input {
    min-width: 14rem;
    width: auto;
    margin: 0;
    opacity: 0;
}

// added below code because bootstrap 4 is in beta and we cannot downgrade to bootstrap 3
.input-group-append {
    margin-left: -1px;
}

.input-group-prepend,
.input-group-append {
    display: flex;
    align-items: center;
}

.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.custom-file-control:lang(en):empty:after {
    content: "Choose file...";
}

.custom-file-control:before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-text {
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
[data-toggle=buttons]>.btn-group>.btn input[type=radio],
[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.fast-track {
    .form-check {
        padding-left: 0;
    }
    .form-check-inline .form-check-input {
        position: absolute;
    }
    .form-check-input {
        margin-left: 0;
    }
    .form-check-label {
        padding-left: 1.25rem;
    }
}

// end of bootstrap 4 beta fix
.card-block {
    //font-weight: $font-weight-semibold;
    margin: to-rem(20) 0;
    &.blank {
        font-weight: normal;
    }
    [class*='col'] {
        display: flex;
        align-items: center;
    }
    .add {
        color: #c90047;
        &:hover {
            text-decoration: none;
            color: darken(#c90047, 10%);
        }
    }
    .text-link {
        color: #616161;
        margin-left: to-rem(20);
        margin-right: to-rem(20);
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-decoration: none;
            color: darken(#616161, 10%);
        }
    }
    .make-default {
        width: to-rem(115);
        text-align: right;
    }
}

.card-box {
    display: inline-block;
    background-color: #ececec;
    flex-shrink: inherit;
    margin-right: to-rem(20);
    width: to-rem(56);
    height: to-rem(34);
    background-size: cover;
    &.mastercard {
        background-image: url(assets/icons/icon-mastercard.png);
    }
    &.visa {
        background-image: url(assets/icons/icon-visa.png);
    }
    &.american-express {
        background-image: url(assets/icons/icon-american-express.png);
    }
    &.diners {
        background-image: url(assets/icons/icon-diners.png);
    }
    &.discover {
        background-image: url(assets/icons/icon-discover.png);
    }
    &.jcb {
        background-image: url(assets/icons/icon-jcb.png);
    }
}

.card-details-block {
    background-image: url(assets/images/bg-card.png);
    padding: to-rem(30); // width: to-rem(540);
    // height: to-rem(323);
    width: to-rem(400);
    height: to-rem(250);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    .card-holder-name,
    .card-number,
    .expiry,
    .cvv {
        position: relative;
    }
    .card-name-area {
        color: #ffa6a6;
        font-size: to-rem(20);
        font-weight: normal;
    }
    .card-box {
        background: no-repeat transparent center center;
        background-size: cover;
        margin-right: 0;
        width: to-rem(50);
        height: to-rem(30);
    }
    .mastercard {
        background-image: url(assets/icons/icon-mastercard.png);
    }
    .visa {
        background-image: url(assets/icons/icon-visa.png);
    }
    .american-express {
        background-image: url(assets/icons/icon-american-express.png);
    }
    .diners {
        background-image: url(assets/icons/icon-diners.png);
    }
    .discover {
        background-image: url(assets/icons/icon-discover.png);
    }
    .jcb {
        background-image: url(assets/icons/icon-jcb.png);
    }
}

.bold-label,
.bold-label label {
    font-weight: $font-weight-bold;
}

.style-underline {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background-color: transparent;
    &:focus {
        background: transparent;
        box-shadow: none;
    }
}

.card-details-block {
    color: $white;
    .form-control {
        border-color: #7c032d;
        padding: 0;
        color: $white;
        &::placeholder {
            color: #ffa6a6;
        }
    }
    .card-name-area {
        margin-bottom: 0;
        font-weight: $font-weight-light;
    }
    .card-holder-name {
        margin-bottom: to-rem(24);
    }
    .card-number {
        margin-bottom: to-rem(15);
    }
    .card-holder-name {
        .form-control {
            font-size: to-rem(24);
        }
    }
    .card-number {
        .form-control {
            font-size: to-rem(24);
        }
    }
    .card-additional {
        font-weight: $font-weight-light;
        font-size: to-rem(20);
        position: relative;
        width: 100%;
        .form-control {
            float: left;
            font-size: to-rem(20);
            margin-top: 10px;
            margin-left: 10px;
        }
        .col-form-label {
            float: left;
            padding-bottom: 0;
        }
    }
    .detail-group {
        display: block;
        width: 100%;
    }
    .expiry {
        .form-control {
            width: to-rem(80);
        }
    }
    .cvv {
        .form-control {
            width: to-rem(60);
        }
    }
}

.stripe-num-error {
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    .alert {
        padding: 0px 8px;
    }
}

.form-inline .live-feed-select {
    width: 500px;
    .search-input,
    .right-side-menu {
        width: 205px;
    }
}

.form-group-special {
    background-color: #ff9e11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: to-rem(80);
    margin: to-rem(16) (-1 * $tab-box-padding) (-1 * $tab-box-padding) (-1 * $tab-box-padding);
    .form-check {
        margin: 0;
    }
}

.input-cvv {
    display: inline-block;
    width: to-rem(60);
}

.input-search {
    @include icon(search);
    &:before {
        position: absolute;
        padding: $input-btn-padding-y $input-btn-padding-x;
    }
    input {
        padding-left: to-rem(40);
        min-width: to-rem(200);
    }
}

// Custom Switch
.custom {
    .switch {
        width: 100px;
        height: 30px;
        &.checked small {
            left: 74px;
        }
        small {
            top: 6px;
            left: 7px;
            width: 18px;
            height: 18px;
        }
        .on,
        .off {
            color: #ffffff;
            line-height: 1;
        }
        .on {
            left: 15%;
        }
        .off {
            right: 15%;
        }
    }
}

.btn-success {
    background-color: $red;
    border-color: $red;
    &:hover {
        background-color: darken($red, 10%);
        border-color: darken($red, 10%);
    }
}

.btn-cancel {
    background-color: #fff;
    border: 1px solid #6b6b6b;
    text-decoration: none;
}

.show-hide-password {
    filter: grayscale(1);
    background-color: transparent;
    background-image: url(assets/images/wink_66X33.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    margin: 0;
    max-height: 100%;
    padding: 0;
    //overflow: 'hidden'; // text-indent: -999em;
    width: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    right: 55px;
    margin-top: -38px;
    color: #c90047 !important;
    &.active {
        background-position: -33px center;
        span.show-hide-txt {
            position: absolute;
            right: -41px;
            width: 42px;
            top: 12px;
            height: 15px;
            overflow: hidden;
            //font-weight: bold;
            text-indent: -40px;
        }
    }
    span.show-hide-txt {
        position: absolute;
        right: -41px;
        width: 42px;
        top: 12px;
        height: 15px;
        overflow: hidden;
        //font-weight: bold;
    }
}

#old_pass,
#new_pass,
#confmPassword,
#password,
#confmPassword,
#password2 {
    padding-right: 75px;
}

.w200px input,
.w200px select {
    width: 200px;
}

.email_domain span {
    display: inline-block;
}

ul.validation-list {
    padding: 0;
    margin-top: 10px;
    list-style-type: disc;
    li {
        display: inline-block;
        width: 50%;
        position: relative;
        padding-left: 18px;
        &::before {
            content: "⬤";
            font-weight: bold;
            vertical-align: middle;
            margin-right: 10px;
            font-size: 7px;
            color: #222222;
            position: absolute;
            left: 0;
            top: 4px;
        }
        &.fade-label {
            color: #d6d6d6;
            &::before {
                font-size: 7px;
                color: #d6d6d6;
            }
        }
    }
}
