.logo {
  background: url("assets/images/logo-pepi.png") no-repeat;
  background-size: cover;
  display: block;
  float: left;
  //margin-top: 5px;
  text-indent: -9999px;
  width: to-rem(36);
  height: to-rem(44);
}

@media screen and (max-width: to-rem(480)) {
  .logo {
    background-image: url("assets/images/pepi-face.png");
    margin-top: 0;
    width: to-rem(40);
  }
}

app-header {
  z-index: 101;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  // fixes menu hide issue on Cent OS
  //top:0;
}

.header {
  background-color: $white;
  box-shadow: 0 3px 21px 0 rgba(85, 85, 85, 0.19);
  padding: to-rem(8) to-rem(18px);
  height: to-rem(40+(10*2));
  width: 100%;
  z-index: 904;
  position: sticky;
  top: 0;

  .icon-w-space {
    @include media-breakpoint-down(sm) {
      height: to-rem(26);
      width: to-rem(26);
      margin: to-rem(5) 0.5rem;
    }
  }
}

.notification-list {
  .text-muted {
    font-style: italic;
  }
}

.nav-right {
  float: right;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;

  > li {
    float: left;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    > a {
      //color: $gray-1;
      display: block;
      font-weight: $font-weight-semibold;
      position: relative;
      height: auto;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.notification {
  &:after {
    display: none;
  }

  .icon {
    color: #DCDBDB;
    font-size: 1.5rem;
  }

  span {
    background-color: $orange;
    border-radius: 13px;
    color: $white;
    display: inline-block;
    font-size: to-rem(11);
    line-height: to-rem(11);
    text-align: center;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
    min-width: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.top-dropdown-menu {
  width: to-rem(316);
  margin-left: 43px;

  .dropdown-item {
    padding: 0;
  }

  @include scrollbars(.4rem, rgba(0, 0, 0, 0.5), $white);
  .notification-header {
    padding: 8px 20px;
    border-bottom: 1px solid rgba($black, 0.125);
    & > a {
      float: right;
      margin-left: 12px;
      text-decoration: none;
      &:hover {
        color: $body-color;
      }
    }
  }
  .msg-list {
    max-height: to-rem(296);
    overflow: scroll;
    overflow-x: hidden;

    & > a {
      border-top: 1px solid rgba($black, 0.125);
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      color: $body-color;
      &:first-child {
        border-top: none;
      }

      &:hover {
        background: $gray-1;
      }
    }
  }

  .msg-area {
    .msg {
      font-size: to-rem(14);
      max-height: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      font-style: italic;
      text-align: right;
      display: block;
      font-size: to-rem(11);
    }
  }

  & > a {
    border-top: 1px solid rgba($black, 0.125);
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    &:hover {
      color: $body-color;
    }
  }

  &.profile-dropdown {
    width: to-rem(145);
    margin-left: 0;
    margin-top: 10px;

    li:first-child {
      padding: 0;
    }

    li:hover,
    li > a:hover {
      background-color: $gray-1;
    }

    li:active,
    li > a:active {
      background-color: $gray-2;
    }

    a {
      text-align: left;
      border: none;
      text-decoration: none;
      color: $body-color;
      display: block;
      padding: 0.25rem 1.5rem;
    }
    i.dropdown-arr {
      right: 25px;
    }
  }

  i.dropdown-arr {
    position: absolute;
    top: -22px;
    right: 42px;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .15);
    &:after {
      top: -9px;
      left: 0;
      margin-left: -10px;
      content: " ";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: $white;
    }
  }
}

.nav-right > li > a.user-profile {
  display: inline-flex;
  align-items: center;
}

.user-profile img {
  width: to-rem(40);
  height: to-rem(40);
  border-radius: to-rem(10);
}

.nav-right .user-profile::after {
  vertical-align: middle;
}

.user-name {
  float: left;
  margin: 0 10px;
}
.parent-name{
  font-size: 12px;
  font-style: normal;
}
.profile-align-left
{
  float: left;
}
