@font-face {
	font-family: "netcore-icons";
	src: url('app/theme/netcore-icons.eot');
	src: url('app/theme/netcore-icons.eot?#iefix') format('eot'),
		url('app/theme/netcore-icons.woff') format('woff'),
		url('app/theme/netcore-icons.ttf') format('truetype')
}

@mixin icon-styles {
	font-family: "netcore-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == alaram-clock {
		$char: "\E002";
	}
	@if $filename == analytics {
		$char: "\E003";
	}
	@if $filename == archive {
		$char: "\E004";
	}
	@if $filename == arrow-next {
		$char: "\E005";
	}
	@if $filename == arrow-prev {
		$char: "\E006";
	}
	@if $filename == arrow-right {
		$char: "\E007";
	}
	@if $filename == attach {
		$char: "\E008";
	}
	@if $filename == back {
		$char: "\E009";
	}
	@if $filename == billing {
		$char: "\E00A";
	}
	@if $filename == bulb-glowing {
		$char: "\E00B";
	}
	@if $filename == calendar {
		$char: "\E00C";
	}
	@if $filename == check-mark {
		$char: "\E00D";
	}
	@if $filename == clipboards {
		$char: "\E00E";
	}
	@if $filename == close {
		$char: "\E00F";
	}
	@if $filename == correct {
		$char: "\E010";
	}
	@if $filename == danger {
		$char: "\E011";
	}
	@if $filename == dashboard {
		$char: "\E012";
	}
	@if $filename == date {
		$char: "\E013";
	}
	@if $filename == disabled {
		$char: "\E014";
	}
	@if $filename == double-angle-right {
		$char: "\E015";
	}
	@if $filename == down-arrow-multi {
		$char: "\E016";
	}
	@if $filename == down-arrow {
		$char: "\E017";
	}
	@if $filename == download {
		$char: "\E018";
	}
	@if $filename == edit {
		$char: "\E019";
	}
	@if $filename == email-bounded {
		$char: "\E01A";
	}
	@if $filename == email-processing {
		$char: "\E01B";
	}
	@if $filename == email-sent {
		$char: "\E01C";
	}
	@if $filename == email {
		$char: "\E01D";
	}
	@if $filename == exclamation {
		$char: "\E01E";
	}
	@if $filename == help {
		$char: "\E01F";
	}
	@if $filename == incorrect {
		$char: "\E020";
	}
	@if $filename == info {
		$char: "\E021";
	}
	@if $filename == live {
		$char: "\E022";
	}
	@if $filename == lock {
		$char: "\E023";
	}
	@if $filename == mail-not {
		$char: "\E024";
	}
	@if $filename == mail {
		$char: "\E025";
	}
	@if $filename == notification {
		$char: "\E026";
	}
	@if $filename == plus {
		$char: "\E027";
	}
	@if $filename == preview {
		$char: "\E028";
	}
	@if $filename == right-arrow {
		$char: "\E029";
	}
	@if $filename == search {
		$char: "\E02A";
	}
	@if $filename == secondary {
		$char: "\E02B";
	}
	@if $filename == settings {
		$char: "\E02C";
	}
	@if $filename == success {
		$char: "\E02D";
	}
	@if $filename == trash {
		$char: "\E02E";
	}
	@if $filename == up-arrow {
		$char: "\E02F";
	}
	@if $filename == up-multi-arrow {
		$char: "\E030";
	}
	@if $filename == warning {
		$char: "\E031";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-add {
	@include icon(add);
}
.icon-alaram-clock {
	@include icon(alaram-clock);
}
.icon-analytics {
	@include icon(analytics);
}
.icon-archive {
	@include icon(archive);
}
.icon-arrow-next {
	@include icon(arrow-next);
}
.icon-arrow-prev {
	@include icon(arrow-prev);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-attach {
	@include icon(attach);
}
.icon-back {
	@include icon(back);
}
.icon-billing {
	@include icon(billing);
}
.icon-bulb-glowing {
	@include icon(bulb-glowing);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-check-mark {
	@include icon(check-mark);
}
.icon-clipboards {
	@include icon(clipboards);
}
.icon-close {
	@include icon(close);
}
.icon-correct {
	@include icon(correct);
}
.icon-danger {
	@include icon(danger);
}
.icon-dashboard {
	@include icon(dashboard);
}
.icon-date {
	@include icon(date);
}
.icon-disabled {
	@include icon(disabled);
}
.icon-double-angle-right {
	@include icon(double-angle-right);
}
.icon-down-arrow-multi {
	@include icon(down-arrow-multi);
}
.icon-down-arrow {
	@include icon(down-arrow);
}
.icon-download {
	@include icon(download);
}
.icon-edit {
	@include icon(edit);
}
.icon-email-bounded {
	@include icon(email-bounded);
}
.icon-email-processing {
	@include icon(email-processing);
}
.icon-email-sent {
	@include icon(email-sent);
}
.icon-email {
	@include icon(email);
}
.icon-exclamation {
	@include icon(exclamation);
}
.icon-help {
	@include icon(help);
}
.icon-incorrect {
	@include icon(incorrect);
}
.icon-info {
	@include icon(info);
}
.icon-live {
	@include icon(live);
}
.icon-lock {
	@include icon(lock);
}
.icon-mail-not {
	@include icon(mail-not);
}
.icon-mail {
	@include icon(mail);
}
.icon-notification {
	@include icon(notification);
}
.icon-plus {
	@include icon(plus);
}
.icon-preview {
	@include icon(preview);
}
.icon-right-arrow {
	@include icon(right-arrow);
}
.icon-search {
	@include icon(search);
}
.icon-secondary {
	@include icon(secondary);
}
.icon-settings {
	@include icon(settings);
}
.icon-success {
	@include icon(success);
}
.icon-trash {
	@include icon(trash);
}
.icon-up-arrow {
	@include icon(up-arrow);
}
.icon-up-multi-arrow {
	@include icon(up-multi-arrow);
}
.icon-warning {
	@include icon(warning);
}
