@import 'icons-generated';

.icon-attach:lang(en) {
  @include icon(attach, before, true);
}

.icon-w-space {
  background: no-repeat center center;
  display: inline-block;
  height: to-rem(24);
  width: to-rem(24);
  margin: to-rem(12);
  background-size: 100% 100%;
}

.svg-notification {
  background-image: url("assets/icons/notification.svg");
}
