.flex-nav {
  z-index: 100;
  // position: fixed;
  // height: 100%;
  top: auto;
}

.main-nav {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  height: 100%;
  .level-0 {
    display: none;
  }
}

.main-nav ul,
.main-nav ul li,
.main-nav ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul {
  position: relative;
  z-index: 10;
  float: left;
  height: 100%;
  width: 72px;
}

.main-nav ul ul li:hover,
.main-nav ul ul li:hover a,
.main-nav ul ul li.active a {
  color: #000000;
  background: #e8c7d3;
  background: -webkit-linear-gradient(left, #f5e2e9, #fef9fb);
  background: -o-linear-gradient(right, #f5e2e9, #fef9fb);
  background: -moz-linear-gradient(right, #f5e2e9, #fef9fb);
  background: linear-gradient(to right, #f5e2e9, #fef9fb);
}

.main-nav > ul > li {
  float: left;
  min-height: 0.05em;
  line-height: 3em;
  vertical-align: middle;
}

.main-nav ul li.hover ul,
.main-nav ul li:hover ul {
  z-index: 999;
  cursor: default;
}

.main-nav > ul > li.has-sub {
  //transition: margin-right 150ms ease-out;
}

.main-nav ul li.has-sub:active,
.main-nav ul li.has-sub:hover {
  // margin-right: 15em;
}

.main-nav > ul > li.active,
.main-nav > ul > ul > li.active,
.main-nav > ul > li:hover,
.main-nav > ul > ul > li:hover {
  background: #e8c7d3;
  background: -webkit-linear-gradient(left, #f5e2e9, #fef9fb);
  background: -o-linear-gradient(right, #f5e2e9, #fef9fb);
  background: -moz-linear-gradient(right, #f5e2e9, #fef9fb);
  background: linear-gradient(to right, #f5e2e9, #fef9fb);
}

.main-nav ul ul {
  display: none;
  position: absolute;
  //opacity: 0;
  //transition: opacity 100ms ease-out 100ms;
  top: 0;
  left: auto;
  right: -4px;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: url(assets/images/bg-submenu.png) repeat-y 0 0 #fff;
}

.main-nav ul ul li {
  float: none;
  width: 100%;
}

.main-nav ul ul ul {
  top: 0;
  right: 3px;
}

// .main-nav ul li.active > ul,
.main-nav ul li:hover > ul {
  display: block;
    position: absolute;
    left: 72px;
    height: auto;
    padding: 9px 0;
    box-shadow: 4px 0px 15px #c1c1c1
}

.main-nav ul ul {
  top: 0;
  left: auto;
  right: 3px;
}

.main-nav ul li {
  float: none;
  position: relative;
}

.main-nav ul ul {
  margin-top: 0.03em;
}

.main-nav {
  //width: 13em;
  background: #ffffff;
  font-family: 'roboto', Tahoma, Arial, sans-serif;
  zoom: 1;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.main-nav:before {
  content: '';
  display: block;
}

.main-nav:after {
  content: '';
  display: table;
  clear: both;
}

.main-nav a {
  display: block;
  padding: 0.5em 25px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

.main-nav ul ul {
  width: 15em;
}

.main-nav > ul > li > a {
  color: #444444;
}

.main-nav ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  left: 53px;
}

.main-nav ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.main-nav ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.main-nav ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.main-nav ul ul a {
  color: #464545;
  font-size: 14px;
  padding: 0.15em 1em 0.15em 2.5em;
  font-weight: $font-weight-semibold;
  text-transform: none;
}

.main-nav.align-right > ul > li > a {
  border-right: none;
}

.main-nav.align-right {
  float: right;
}

.main-nav.align-right li {
  text-align: right;
}

.main-nav.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.main-nav.align-right ul li.has-sub > a:after {
  content: none;
}

.main-nav.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 20;
  width: 100%;
}

.main-nav.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.main-nav.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.main-nav.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.main-nav ul li.submenu1 ul li:first-child {
  margin-top: 150px;
  box-sizing: border-box;
}

.main-nav ul li.submenu2 ul li:first-child {
  // margin-top: 260px;
  box-sizing: border-box;
}

.main-nav ul li.submenu3 ul li:first-child {
  // margin-top: 30px;
  box-sizing: border-box;
}
