.ng2-smart-table, ng2-smart-table {
  tbody {
    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
  .table.v-align-top {
    td,
      // for overriding host css
    [ng2-st-tbody] td,
    [ng2-st-thead] th,
    [ng2-st-thead-form-row] td {
      vertical-align: top;
    }
  }
}

.btn-shadow {
  box-shadow: 0 2px 18px rgba($black, 0.15);
}

.ng2-smart-titles {
  background-color: #f2f2f2;
}

ng2-smart-table, .ng2-smart-table {
  //padding: 7px;

  table {
    // box-shadow: 0 2px 18px rgba($black, 0.15);
  }
  thead {

    .ng2-smart-titles {
      @extend .ng2-smart-titles;
    }

    .ng2-smart-filters {
      background-color: $white;
    }
  }

  tr {
    border-bottom: 1px solid #dbdada;
  }

  tbody {
    tr {
      background-color: $white;
      color: #6b6b6b;
    }
  }

  .icon {
    font-size: 1.2rem;
  }

  .table {
    [ng2-st-thead] th {
      font-weight: $font-weight-semibold;
    }

    td,
      // for overriding host css
    [ng2-st-tbody] td,
    [ng2-st-thead] th,
    [ng2-st-thead-form-row] td {
      font-size: 13px;
      padding: 1rem;
      vertical-align: middle;
    }
  }

  .form-control {
    border-color: #c1bfb7;
  }

  [ng2-st-thead] [ng2-st-thead-filters-row] .ng2-smart-filter {
    .form-control {
      padding: 0.5rem;
    }
  }

  .ng2-smart-actions {
    text-align: center;

    .ng2-smart-action {
      color: $brand-extended-9;
      font-size: 1rem;
      padding: 0 10px;

      &:hover {
        color: lighten($brand-extended-9, 10%);
        text-decoration: none;
      }
    }
  }
}

.ng2-smart-pagination {
  font-weight: $font-weight-semibold;

  .page-text {
    .page-link {
      background-color: transparent;
      border: none;
      margin-left: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .page-link {
    color: #646464;
  }

  .page-item.active .page-link {
    background-color: #d9d9d9;
    border-color: #ddd;
    color: #464545;
  }
}

.promo-table {
  width: to-rem(400);

  thead th, td, tfoot th {
    border: none;
  }

  thead th {
    font-weight: $font-weight-bold;

    &:first-child {
      padding-top: to-rem(30);
    }
  }

  tbody td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  tfoot th {
    &:first-child {
      padding-bottom: to-rem(30);
    }
  }

  tr th, tr td {
    &:first-child {
      text-align: left;
      padding-left: to-rem(30);
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
      padding-right: to-rem(30);
    }
  }
}

.table-custom-1 {
  box-shadow: 0 0 to-rem(18) 0 rgba($black, 0.15);
}

.custom-relative-tr .popover {
  min-width: 550px;
  max-width: 830px;
}

.custom-relative-tr tr.ng2-smart-row {
  position: relative;
}

.custom-relative-tr tr td {
  position: relative;
}

.overlay-status-date {
  margin: 0 25px;
  font-size: 14px;
}

.popover-body {
  min-height: 50px;
  padding: 0;
}

.tr-flyout-link {
  display: inline-block;
  padding: 5px 17px;
  width: 8rem;
  border: 1px solid #CCCCCC;
}

.status-size {
  display: inline-block;
  line-height: 1;
}

.status-size .icon-email {
  font-size: 31px;
}

.custom-css-wizard {
  width: 100%;
  border-bottom: 2px solid #a7a7a7;
  list-style: none;
  padding: 25px 0 0;
}

.custom-css-wizard li {
  float: left;
  list-style: none;
  margin: -35px 0 0;
}

.custom-css-wizard li div {
  display: inline-block;
  padding: 2px 4px 11px;
  height: 60px;
  text-align: center;
  width: 130px;
  font-size: 15px;
}

.custom-css-wizard li.last {
  float: right;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
}

.custom-css-wizard li.last strong {
  font-size: 16px;
}

.custom-css-wizard li div i {
  background-color: #ffffff;
  height: 26px;
  padding: 0 4px;
  display: inline-block;
  font-weight: bold;
  color: #777777;
  width: auto;
  font-size: 18px;
}

.custom-css-wizard li div strong.date-time {
  font-size: 10px;
  color: #777777;
  display: inline-block;
  font-weight: normal;
}

.overlay-status-inner {
  padding: 35px 25px;
}

.custom-css-wizard li.sent.enable div i,
.custom-css-wizard li.process.enable div i,
.custom-css-wizard li.bounce.enable div i,
.custom-css-wizard li.enable div {
  color: #07831e;
}

.overlay-status-server-remark {
  background: #c0e3ff;
  padding: 10px 15px;
  font-size: 12px;
}

//.domain-container {
//  max-width: to-rem(460);
//  min-width: to-rem(200);
//}

.ng-scrollbar-container {
  word-wrap: break-word;
}

ng-scrollbar {
  .-vertical {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.col-domain-status, .col-current-val {
  max-width: to-rem(250);
  min-width: to-rem(100);
}

.domain-scrollbar {
  height: 60px;
  //max-width: to-rem(250);

  .inner {
    padding-right: to-rem(15);
  }
}

.domain-setting {
  width: to-rem(150);
}

.domain-type {
  width: to-rem(80);
}

.domain-host-name {
  width: to-rem(325);
}
span.change-plan-btn-1 {
    width: 200px;
    font-weight: bold;
}
