@import "mixins/clearfix";
@import "functions";
@import "variables";
@import "mixins";

$glyphicons-halflings-font-path: 'app/theme/webfonts';
$glyphicons-halflings-class-prefix: 'glyphicon';

$base-font-size: 13px;
$font-weight-semibold: 600;
$font-weight-bold: 600;
$font-weight-extrabold: 600;

$brand-primary-1: #c90047;
$brand-primary-2: #62b9ff;
$brand-primary-3: #ffc340;
$brand-primary-4: #222222;

$brand-extended-1: #d4336c;
$brand-extended-2: #51d599;
$brand-extended-3: #fa6f49;
$brand-extended-4: #7349fa;
$brand-extended-5: #fa49db;
$brand-extended-6: #07831e;
$brand-extended-7: #dcdbdb;
$brand-extended-8: #bababa;
$brand-extended-9: #616161;
$brand-extended-10: #9b9b9b;
$brand-extended-11: #464545;

$default: $brand-primary-4;
$border: $brand-primary-4;
$disabled: $brand-extended-9;
$input-border: $border;
$input-background: $white;
$disabled-bg: $brand-extended-8;

$gray-0: #c1bfb7;
$gray-1: #dcdbdb;
$gray-2: #bababa;
$gray-3: #9b9b9b;
$gray-4: #616161;
$gray-5: #464545;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #c90047;
$orange: #fa6f49;
$yellow: #ffa423;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$title-border-pink: #d2316b;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $red,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: #f94b1c,
  light: $gray-100,
  dark: #dcdcdc
);

$input-border-color: $gray-0;
$custom-select-border-color: $input-border-color;
$custom-select-indicator-color: #616161;
// select-arrow.svg
$custom-select-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 7.8'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M.12,1l.07.09L5.72,7.45a1,1,0,0,0,.78.35,1,1,0,0,0,.78-.35L12.8,1.1,12.89,1A.63.63,0,0,0,13,.64.66.66,0,0,0,12.33,0H.67A.66.66,0,0,0,0,.64.62.62,0,0,0,.12,1Z'/%3E%3C/svg%3E"), "#", "%23");

$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;
$margin-xl: 4rem;

$tab-box-padding: to-rem(25);

$progress-bar-bg: $brand-primary-2;

$sidebar-width: to-rem(260);

// wizard variables
$bubble-size: 7px;
$bubble-line-thickness: 1px;
$incomplete: #c7c9ce;
$complete: #62b9ff;
