<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title float-left">Subaccount Analytics</h1>
          <h1 class="page-title float-left" hidden="">Manage Suppression</h1>
          <div class="float-right">
            Subaccount Analytics :
            <select class="form-control" (change)="onSubAccUname($event.target.value)" #selSubAccAnly>
              <option value="ALL">All Subuser data</option>
              <option *ngFor="let subName of allSubAccounts" value="{{subName}}">{{subName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Analytics : {{selSubAccAnly.value}}</h5>
        </div>
      </div>
      <div class="tab-box no-data" [hidden]="nodataFlag">
        <img class="no-data-icon" src="assets/images/analysis.svg" alt="Analytics">
        <h2 class="heading">You don't have any reports yet</h2>
        <p>After you send your first batch of emails, you'll be able to see reports on
          how it performed, who opened it, and more!</p>
      </div>
      <div class="tab-box" [hidden]="tableFlag">
        <div class="form-inline float-right mb-3">
          <div class="form-group" *ngIf="!(subAccountName == 'ALL')">
            <ng-select #selectTag [allowClear]="false"
                       [items]="tagItems"
                       (selected)="tagSelected($event)"
                       placeholder="All data">
            </ng-select>
          </div>
          <div class="form-group">
            <div class="input-date-range-picker mx-3" daterangepicker [options]="{ opens: 'left' }"
                 (selected)="selectedDate($event, dateInput)">
              <a> <i class="icon-calendar"></i>
                {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}</a>
              <i class="icon-dull icon-success"
                 ngbTooltip="Data for today's date will get updated in every 3 hours">
              </i>
            </div>
          </div>
        </div>
        <div class="flex-content" #flexContent>
          <div class="chart-container">
            <ngx-charts-line-chart
              (window:resize)="onResize()"
              [autoScale]="false"
              [view]="view"
              [results]="graphData"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="true"
              [yAxisLabel]="'No. of Emails'"
              [scheme]="colorScheme"
              [gradient]="true"
              [animations]="false"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
      <div class="tab-box" [hidden]="tableFlag">
        <h4 class="float-left">Date wise Report</h4>
        <div class="btn-group float-right btn-outline" ngbRadioGroup name="radioBasic" [ngModel]="togglePercent"
             data-toggle="buttons"
             (ngModelChange)="numbToPercentToggle($event)">
          <label ngbButtonLabel class="btn-primary">
            <input type="radio" ngbButton [value]="true"> #
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input type="radio" ngbButton [value]="false"> %
          </label>
        </div>
        <ng2-smart-table class="table-responsive" [settings]="settings"
                         [source]="dataSource">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</div>


