<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12 has-sidebar">
          <h1 class="page-title float-left">Sending Domains</h1>
          <!--<div class="float-right form-inline" [hidden] ="!initialAddDomain">-->
          <div class="float-right form-inline" [hidden]="tableFlag">
            <div class="input-search mr-3 mb-md-max-3">
              <input #search type="search" class="form-control" placeholder="Search by domain name"
                     (keydown.enter)="onSearch(search.value)">
            </div>
            <button *ngIf="domainAdditionFlag" class="btn btn-primary mb-md-max-3" (click)="addDomainPopUp()">Add A
              Domain
            </button>
          </div>
        </div>
      </div>
      <div class="flex-body inner">
        <div class="flex-content">
          <div class="tab-box" [hidden]="tableFlag">
            <app-alert [type]="'secondary'" [dismissible]="false"
                       [value]="domainsInfo"></app-alert>
            <ng2-smart-table class="table-responsive" [settings]="domainListSettings"
                             [source]="domainListSource">
            </ng2-smart-table>
          </div>
          <div class="tab-box no-data" [hidden]="nodataFlag">
            <img class="no-data-icon" src="assets/images/bird-in-broken.svg" alt="Domain Not Verified">
            <div *ngIf="domainAdditionFlag">
              <h2 class="heading">You haven’t verified a domain yet.</h2>
              <p>Before you can send email with a From email address like <u>you@yourdomain.com</u>, you'll need to
                verify
                the
                ownership of your domain (e.g. yourdomain.com) and update few DNS settings to authenticate Pepipost to
                deliver your emails.</p>
              <button class="btn btn-primary" (click)="addDomainPopUp()">Add Domain</button>
            </div>
            <div *ngIf="!domainAdditionFlag">
              <h2 class="heading">Master has not given you rights to add new domain.</h2>
              <p>please contact master account if you want to add domain of your choice.</p>
            </div>
          </div>
        </div>
        <div class="sidebar-right">
          <div class="sidebar-box" [hidden]="stepList.length === 0">
            <h4>Get Started</h4>
            <app-process-wizard-text [currentStep]="stepCount"
                                     [stepList]="stepList" (stepClick)="onStepClick($event)"></app-process-wizard-text>
          </div>
          <app-help-section [helpSectionData]="helpSectionData" [hidden]="tableFlag">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>

<!--add domain popup start-->
<ng-template #addDomainPopup let-c="close" let-d="dismiss">
  <form [formGroup]="verifyDomainForm">
    <div class="modal-header">
      <h4 class="modal-title">Add Sender Domain</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>We recommend using a subdomain with Pepipost, like "mail.mydomain.com". This helps you better maintain the
        reputation of your emails.</p>
      <div class="form-group">
        <input type="text" placeholder="example.com"
               class="form-control" id="domain_name" #domain_name formControlName="domain_name" required=''>
        <small class="form-text text-danger"
               *ngIf="!verifyDomainForm.controls['domain_name'].valid && verifyDomainForm.controls['domain_name'].touched">
          Please enter valid domain name
        </small>
        <p class="text-dull"
           *ngIf="!(!verifyDomainForm.controls['domain_name'].valid && verifyDomainForm.controls['domain_name'].touched)">
          Enter a domain which you want to use as 'from' in your emails.</p>
      </div>
      <app-alert [type]="addDomainType" [dismissible]="false" [value]="addDomainMsg"></app-alert>
      <button class="btn btn-primary" [disabled]="!verifyDomainForm.valid"
              (click)="addDomain(verifyDomainForm.value)">
        Add Domain
      </button>
    </div>
  </form>
</ng-template>
<!--add domain popup end-->

<!-- bootstrap modal window for fast track -->
<ng-template #fastTrackPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Fast Track the process</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body fast-track">
    <div id="fastTrackinitial" [hidden]="!(fastTrackCurStep === 1)">
      <p>With few questions, reduce the time taken for approval</p>
      <div class="row align-items-center">
        <div class="col">
          <div class="progress progress-small">
            <div class="progress-bar" style="width: 12.5%" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                 aria-valuemax="24"></div>
          </div>
          <div class="float-left">3 hrs</div>
          <div class="float-right">24 hrs</div>
        </div>
        <div class="col-auto">
          <i class="h1 icon icon-alaram-clock"></i>
        </div>
      </div>
    </div>
    <!--end-->
    <!--progress bar dynamically value will update-->
    <div [hidden]="fastTrackCurStep === 1">
      <p>Fast track the approval process</p>
      <app-progress-wizard [totalSteps]="5"
                           [currentStep]="(+fastTrackCurStep-1)"
                           [showNumbers]="true"></app-progress-wizard>
    </div>
    <!--progress bar end-->
    <!--dynamic steps starts here-->
    <!--step1 start-->
    <form [formGroup]="step1Form">
      <div id="step1" [hidden]="!(fastTrackCurStep === 2)">
        <p>please upload few sample of email template to send using
          sender domain abcd</p>
        <label class="custom-file">
          <input type="file" class="custom-file-input"
                 id="personalisedFile" name="fastTrackFile[]" (change)="onFileChange($event)"
                 #personalisedFile formControlName="fastTrackFile"
                 accept="application/doc,application/docx,application/pdf,text/html,image/png,image/jpeg,application/zip">
          <span class="custom-file-control icon icon-attach">{{filename}}</span>
        </label>
        <br/>
        <p>Allowed file extensions: .doc, .docx, .pdf, .html, .png, .jpg, .jpeg and .zip Max image upload size:
          512Kb</p>
        <small class="form-text text-danger" *ngIf="fileMsg" [innerHTML]="fileMsg"></small>
        <p>we suggest zip for the multiple file upload</p>
        <!--<div *ngIf="filename">-->
        <!--<li>{{filename}}</li>-->
        <!--</div>-->
      </div>
    </form>
    <!--step1 end-->

    <!--step2 start-->
    <form [formGroup]="step2Form">
      <div id="step3" [hidden]="!(fastTrackCurStep === 3)">
        <p>Got it! What type of mails are this?
          sender domain abcd</p>
        <div class="form-check">
          <input class="form-check-input" [checked]="false" type="checkbox" value="Transactional" id="mailType"
                 formControlName="mailType" (change)=" onchangeCheckBoxValue($event)" required>
          <label class="form-check-label" for="mailType">
            Transactional
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [checked]="false" type="checkbox" value="Promotional" id="mailType2"
                 formControlName="mailType" (change)=" onchangeCheckBoxValue($event)" required>
          <label class="form-check-label" for="mailType2">
            Promotional/Marketing
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [checked]="false" type="checkbox" value="Notifications" id="mailType3"
                 formControlName="mailType" (change)=" onchangeCheckBoxValue($event)" required>
          <label class="form-check-label" for="mailType3">
            Notifications
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [checked]="false" type="checkbox" value="Others" id="mailType4"
                 formControlName="mailType" (change)=" onchangeCheckBoxValue($event)" required>
          <label class="form-check-label" for="mailType4">
            Others
          </label>
        </div>
        <small class="form-text text-danger"
               *ngIf="!step2Form.controls['mailType'].valid
           && step2Form.controls['mailType'].touched && checkBoxValueSize ===0">
          Please select type
        </small>
      </div>
    </form>
    <!--step2 end-->

    <!--step3 start-->
    <form [formGroup]="step3Form">
      <div id="step2" [hidden]="!(fastTrackCurStep === 4)">
        <p>How many subscribers email addresses are there on your mailing list ? </p>
        <select class="form-control" id="noOfEmail" formControlName="noOfEmail" required>
          <option value="">Select the number of subscribers</option> <!-- not selected / blank option -->
          <option value="1" selected="selected">Less than 100</option>
          <option value="100-1000">100-1000</option>
          <option value="1001-5000">1001-5000</option>
          <option value="5001-10,000">5001-10,000</option>
          <option value="10,001-20,000">10,001-20,000</option>
          <option value="20,001-50,000">20,001-50,000</option>
          <option value="More than 50,000">More than 50,000</option>
        </select>
        <small class="form-text text-danger"
               *ngIf="!step3Form.controls['noOfEmail'].valid
           && step3Form.controls['noOfEmail'].touched">
          Please select the number of subscribers
        </small>
      </div>
    </form>
    <!--step3 end-->

    <!--step4 start-->
    <form [formGroup]="step4Form">
      <div id="step4" [hidden]="!(fastTrackCurStep === 5)">
        <p>Cool! Thats a good number to start with.I am sure this is not a not third party procured database.
          Could you please help me in understanding how did these subscribers sign up for your list ?</p>
        <select class="form-control input-large" id="subscribtionSource" formControlName="subscribtionSource" required
                (change)="onSubscribtionOther($event)" #subscriptionSource>
          <option value="">Please specify</option> <!-- not selected / blank option -->
          <option value="1">From Contact Us form available on my business website</option>
          <option value="2">From "subscription for newsletter" form on website</option>
          <option value="3">From Signup form on my business website</option>
          <option value="4">Others</option>
        </select>
        <small class="form-text text-danger"
               *ngIf="!step4Form.controls['subscribtionSource'].valid
           && step4Form.controls['subscribtionSource'].touched">
          Please select source of Subscribers
        </small>
        <textarea [hidden]="dispOtherSubscribtionSource" class="form-control" name="otherSubscibtionSource"
                  id="otherSubscibtionSource" #otherSubscriptionSource [(ngModel)]="otherSubscibtionSource"
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Mention if any other"></textarea>
        <small class="form-text text-danger"
               *ngIf="(subscriptionSource.value === '4' && otherSubscriptionSource.value.length === 0)">Please mention
          source in the box
        </small>
      </div>
    </form>
    <!--step4 end-->
    <!--step5 start-->
    <form [formGroup]="step5Form">
      <div id="step5" [hidden]="!(fastTrackCurStep === 6)">
        <p>My last question , currently how were you sending these emails to your list?</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sendingList" id="sendingList1"
                 value="Inhouse" formControlName="sendingList">
          <label class="form-check-label" for="sendingList1">Inhouse</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sendingList" id="sendingList2"
                 value="Vendor" formControlName="sendingList">
          <label class="form-check-label" for="sendingList2">Vendor</label>
        </div>
        <small class="form-text text-danger"
               *ngIf="!step5Form.controls['sendingList'].valid
           && step5Form.controls['sendingList'].touched">
          Please select either of the option
        </small>
      </div>
    </form>
    <app-alert class="mt-2" [type]="fastTrackType" [dismissible]="false" [value]="fastTrackMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <!--Step 0-->
    <button class="btn btn-primary" [hidden]="!(fastTrackCurStep === 1)" (click)="nextPage()">
      Continue
    </button>
    <!--./Step 0-->
    <!--Step 1-->
    <button class="btn btn-default" (click)="prevPage()"
            [hidden]="!(fastTrackCurStep === 2)">Back
    </button>
    <button class="btn btn-primary" [hidden]="!(fastTrackCurStep === 2)"
            [disabled]="!step1Form.valid || (fileErrorList.length>0) || (customerror.length>0)"
            (click)="nextPage(step1Form.value)">
      Next
    </button>
    <!--./Step 1-->
    <!--Step 2-->
    <button class="btn btn-default" (click)="prevPage()" [hidden]="!(fastTrackCurStep === 3)">Back</button>
    <button class="btn btn-primary" [disabled]="!step2Form.valid" (click)="nextPage(step2Form.value)"
            [hidden]="!(fastTrackCurStep === 3)">
      Next
    </button>
    <!--./Step 2-->
    <!--Step 3-->
    <button class="btn btn-default" (click)="prevPage()" [hidden]="!(fastTrackCurStep === 4)">Back
    </button>
    <button class="btn btn-primary" [disabled]="!step3Form.valid" (click)="nextPage(step3Form.value)"
            [hidden]="!(fastTrackCurStep === 4)">
      Next
    </button>
    <!--./Step 3-->
    <!--Step 4-->
    <button class="btn btn-default" (click)="prevPage()" [hidden]="!(fastTrackCurStep === 5)">Back
    </button>
    <button class="btn btn-primary"
            [disabled]="!step4Form.valid || (subscriptionSource.value === '4' && otherSubscriptionSource.value.length === 0)"
            (click)="nextPage('',otherSubscriptionSource.value)" [hidden]="!(fastTrackCurStep === 5)">Next
    </button>
    <!--./Step 4-->
    <!--Step 5-->
    <button class="btn btn-default" (click)="prevPage()" [hidden]="hideBack || !(fastTrackCurStep === 6)">Back</button>
    <button class="btn btn-primary" [disabled]="!step5Form.valid"
            (click)="nextPage(step5Form.value)" [hidden]="!(fastTrackCurStep === 6)">
      Complete
    </button>
    <!--./Step 5-->
  </div>
</ng-template>
<!--bootstrap modal window for testing email-->
<ng-template #testMailPopup let-c="close" let-d="dismiss">
  <form [formGroup]="testMailForm">
    <div class="modal-header">
      <h4 class="modal-title">Send A Test Mail</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-left">
      <div class="form-group row">
        <label for="smtpserver2" class="col-sm-5 col-form-label"><strong>SMTP Server:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpserver2"
                 value="{{smtpdata?.panel_name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtpport2" class="col-sm-5 col-form-label"><strong>SMTP Port:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpport2"
                 value="{{smtpdata?.port}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtpuser2" class="col-sm-5 col-form-label"><strong>SMTP Username:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtpuser2"
                 value="{{smtpdata?.smtpuser}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="smtppass2" class="col-sm-5 col-form-label"><strong>SMTP Password:</strong></label>
        <div class="col-sm-7">
          <input type="text" readonly class="form-control-plaintext" id="smtppass2"
                 value="{{smtpdata?.smtpapikey}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="from" class="col-sm-5 col-form-label"><strong>Email From: </strong></label>
        <div class="col-sm-7">
          <input type="text" id="from" readonly class="form-control-plaintext" value="info@{{testMailRow?.domain}}"
                 #from>
        </div>
      </div>

      <div class="form-group">
        <label for="to"><strong>Email To:</strong></label>
        <input type="text" placeholder="Type your email address"
               class="form-control" id="to" formControlName="to" required #to>
        <small class="form-text text-danger"
               *ngIf="!testMailForm.controls['to'].valid && testMailForm.controls['to'].touched">Please enter valid
          email
        </small>
      </div>
      <app-alert [type]="testMailType" [dismissible]="false" [value]="testMailMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!testMailForm.valid"
              (click)="sendMail(to.value,from.value)">Send Mail
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>
