<a href="#" (click)="onClick()" [ngbPopover]="popContent" class="text-link" triggers="mouseenter:mouseleave"
   placement="left">{{renderValue | titlecase}}</a>

<ng-template #popContent style="border:1px solid red">
  <div class="overlay-status">
    <div class="overlay-status-inner">
      <ul class="custom-css-wizard">
        <li class="sent" [class.enable]="">
          <div><span>Request</span>
            <br/><i class="icon-email-sent"></i><br/>
            <strong class="date-time">{{rowData.mtime}}</strong></div>
        </li>

        <li class="sent" [class.enable]="rowData.description.toLowerCase() === 'dropped' || rowData.description.toLowerCase() === 'invalid' || rowData.description.toLowerCase() === 'processing' || rowData.description.toLowerCase() === 'delivered' || rowData.description.toLowerCase() === 'dropped' || rowData.description.toLowerCase() === 'hard bounced'">
          <div>
            <span *ngIf="rowData.description.toLowerCase() === 'clicked'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'opened'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'delivered'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'unsubscribed'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'soft bounced'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'reported spam'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'bounce'">Delivered</span>
            <span *ngIf="rowData.description.toLowerCase() === 'dropped'">{{rowData.description | titlecase}}</span>
            <span *ngIf="rowData.description.toLowerCase() === 'processing'">{{rowData.description | titlecase}}</span>
            <span *ngIf="rowData.description.toLowerCase() === 'invalid'">{{rowData.description | titlecase}}</span>
            <span *ngIf="rowData.description.toLowerCase() === 'hard bounced'">{{rowData.description | titlecase}}</span>
            <br/><i class="icon-email-sent"></i><br/>
            <strong class="date-time">{{rowData.atime}}</strong></div>
        </li>


        <!--li class="sent" [hidden]="rowData.description.toLowerCase() === 'invalid' || rowData.description.toLowerCase() === 'processed' || rowData.description.toLowerCase() === 'sent' || rowData.description.toLowerCase() === 'hard bounce' " [class.enable]="rowData.description.toLowerCase() === 'sent' || rowData.description.toLowerCase() === 'click' " -->
        <li class="sent enable" [hidden]="rowData.description.toLowerCase() === 'dropped' || rowData.description.toLowerCase() === 'invalid' || rowData.description.toLowerCase() === 'processing' || rowData.description.toLowerCase() === 'delivered' || rowData.description.toLowerCase() === 'hard bounced' ">
          <div><span>{{rowData.description | titlecase}}</span>
            <!--br/><i class="icon-email-bounded"></i><br/-->
            <br/><i class="icon-email-sent"></i><br/>
            <strong class="date-time">{{rowData.clicktime}}</strong></div>
        </li>
        <li class="last"><span class="status-size"><i class="icon-email"></i><br/>
          <strong>{{rowData.msize}}</strong>
        </span></li>

      </ul>
    </div>
    <div class="overlay-status-server-remark">
      {{rowData.remarks}}
    </div>
  </div>
</ng-template>
