<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="template-list-page" [hidden]="!showListTemplates">
        <div class="row">
          <div class="col-12">
            <h1 class="page-title float-left">Templates <span>List</span></h1>
            <div class="float-right form-inline">
              <div class="input-search mr-3 mb-md-max-3">
                <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Search Template">
              </div>
              <button type="button" class="btn btn-primary mr-3 mb-md-max-3" (click)="addTemplateClick()">Add Template
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-alert class="mt-2" [type]="deleteTempType" [dismissible]="false" [value]="deleteTempMsg"></app-alert>
          </div>
          <div class="col-12">
            <ul class="template-list clearfix">
              <ng-container *ngFor="let templateItem of templateList | templateSearch : searchText">
                <li *ngIf="templateItem === -1">
                  <div class="row">
                    <div class="col-12">
                      <div class="tab-box">
                        There are no results for your current search criteria.
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngIf="templateItem !== -1">
                  <!--<div *ngIf="(templateItem.name | templateSearch : searchText).length == 0"></div>-->
                  <div class="card">
                    <div class="hover-menu">
                      <div class="icon-group text-right">
                        <a class="btn" (click)="editTemplateClick(templateItem.tmplid)" href="#"><i
                          class="icon icon-edit"></i></a>
                        <a class="btn" (click)="trashTemplateClick(templateItem)" href="#"><i
                          class="icon icon-trash"></i></a>
                      </div>
                      <a class="btn-preview" (click)="previewTemplateClick(templateItem.tmplid)" href="#"><i
                        class="icon icon-preview"></i></a>
                    </div>
                    <div class="template-img"
                         [ngStyle]="{'background-image': 'url(' + templateItem.thumbnail + ')'}"></div>
                    <div class="card-body">
                      <p class="card-name">Name : {{templateItem.name}}<br>Id : {{templateItem.tmplid}}</p>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
            <!--<nav class="ng2-smart-pagination-nav float-right">
              <div class="ng2-smart-pagination pagination">
                <div class="ng2-smart-page-item page-item">
                  <a class="ng2-smart-page-link page-link btn-shadow border-0" href="#"
                     (click)="getPage() == 1 ? false : prevPage()" aria-label="Previous">
                    <span aria-hidden="true" class="icon-arrow-prev"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                </div>

                <div class="ng2-smart-page-item page-text">
                  <span class="page-link">{{ getPage() }} of {{ getLast() }}</span>
                </div>

                <div class="ng2-smart-page-item page-item"
                     [ngClass]="{disabled: getPage() == getLast()}">
                  <a class="ng2-smart-page-link page-link btn-shadow border-0" href="#"
                     (click)="getPage() == getLast() ? false : nextPage()" aria-label="Next">
                    <span aria-hidden="true" class="icon-arrow-next"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </nav>-->
          </div>
        </div>
      </div>

      <div [hidden]="showListTemplates" class="no-template">
        <h1 class="page-title has-sidebar">Template</h1>
        <div class="flex-body inner">
          <div class="flex-content">
            <div class="tab-box no-data">
              <img class="no-data-icon" src="assets/images/templates.svg" alt="Template">
              <h2 class="heading">You don't have any saved HTML templates</h2>
              <p>A template is a saved design that can be reused when sending emails through API.</p>
              <button class="btn btn-primary" (click)="addTemplateClick()">Add Template</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--bootstrap modal window for remove email -->
<ng-template #confirmPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete template - <strong>{{deleteTempObj.name}}</strong>?</p>
    <app-alert class="mt-2" [type]="emailWhitelistType" [dismissible]="false" [value]="emailWhitelistMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteTemplateClick()">YES</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">NO</button>
  </div>
</ng-template>
