<div class="row">
  <div class="col-sm-12">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title float-left">Sub-users
          <span *ngIf="showSubusername">: {{showSubusername}}</span></h1>
        </div>
      </div>
      <div class="tab-box no-data" [hidden]="subuserFlag">
        <img class="no-data-icon" src="assets/images/scientist-1.svg" alt="Sub User">
        <h2 class="heading">You have not created any sub-users yet!</h2>
        <p>You can create sub-users, allocate credits and manage the reputation of each sub-user account individually.</p>
        <button (click)="showAddSubuser()" class="btn btn-primary">Add Sub-User</button>
      </div>
      <div [hidden]="subuserAllocation4" class="add-user-box">
        <div class="tab-box mb-5 bold-label">
          <form accept-charset="utf-8" [formGroup]="createSubUserForm">
            <div class="row">
              <div class="col-sm-12">
                <h4>Add Sub-User</h4>
              </div>
              <br/><br/>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="subuser_company">Company Name</label>
                  <input type="text" placeholder="Type your company name"
                         class="form-control" id="subuser_company" #subuser_company formControlName="subuserCompany"
                         required=''/>
                  <small class="form-text text-danger"
                         *ngIf="!createSubUserForm.controls['subuserCompany'].valid && createSubUserForm.controls['subuserCompany'].touched">
                    Please enter valid company name
                  </small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="subuser_email">Email Address</label>
                  <input type="text" placeholder="Type your email address"
                         class="form-control" id="subuser_email" #subuser_email formControlName="subuserEmail"
                         required=''/>
                  <small class="form-text text-danger"
                         *ngIf="!createSubUserForm.controls['subuserEmail'].valid && createSubUserForm.controls['subuserEmail'].touched">
                    Please enter valid Email Address
                  </small>
                  <small class="form-text text-danger" *ngIf="subuserErrorEmail">{{subuserErrorEmail}}</small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="subuser_username">User Name</label>
                  <input type="text" placeholder="Type your username"
                         class="form-control" id="subuser_username" #subuser_username name="subuserUsername"
                         formControlName="subuserUsername" required/>
                  <small class="form-text text-danger"
                         *ngIf="!createSubUserForm.controls['subuserUsername'].valid && createSubUserForm.controls['subuserUsername'].touched">
                    Please enter valid Username
                  </small>
                  <small class="form-text text-danger" *ngIf="subuserErrorUsername">{{subuserErrorUsername}}</small>
                </div>
              </div>
              <div class="col-sm-12 mb-4">
                <button [disabled]="!createSubUserForm.valid"
                        (click)="createSubuser(subuser_company.value,subuser_username.value,subuser_email.value)"
                        class="btn btn-primary">Save
                </button>
                <button class="btn btn-secondary" (click)="subuserCancel()">Cancel</button>
                <app-alert [type]="subuserSuccess" [dismissible]="false" [value]="subuserSuccess"></app-alert>
              </div>
            </div>
            <app-alert [type]="subuserType" [dismissible]="false" [value]="subuserMsg"></app-alert>
          </form>
          <div class="row">
            <div class="col-sm-12">
              <ng2-smart-table class="table-responsive" [settings]="subUser"
                               [source]="subuserSource"
                               (deleteConfirm)="onDeleteConfirm($event)"
                               (createConfirm)="onCreateConfirm($event)">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
      <!-- Start of unlimited credits -->
      <div [hidden]="!(selCreditAllocation === '1' && subuserAllocation4 && subuserFlag)"
           class="tab-box bold-label mt-5 mb-5">
        <div class="row">
          <!-- <div class="col-sm-12"> Sub-Username: <strong>{{showSubusername}}</strong></div> -->
          <div class="col-sm-12"> Total No. of mails in current month: <strong>{{showTotalmails}}</strong></div>
          <div class="col-sm-12">
            <hr/>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4">
                <!-- <form accept-charset="utf-8" [formGroup]="createSubUsercreditAllocationForm" > -->
                <div class="form-group">
                  <label for="creditsAllotation3">Credit allocation</label>
                  <select [(ngModel)]="selCreditAllocation"
                          class="form-control" id="creditsAllotation3" required>
                    <option *ngFor="let allocation of creditMenu" value="{{allocation.id}}">{{allocation.label}}</option>
                  </select>
                </div>
                <div class="float-left">
                  <button class="btn btn-primary">Save</button>
                  <button class="btn btn-secondary" (click)="cancelAllocation()">Cancel</button>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of unlimited Credits -->
      <!-- Recuuring Credits -->
      <div [hidden]="!(selCreditAllocation === '2' && subuserAllocation4 && subuserFlag)"
           class="tab-box bold-label mt-5 mb-5">
        <form accept-charset="utf-8" [formGroup]="createSubUsercreditAllocationForm">
          <div class="row">
            <!-- <div class="col-sm-12"> Sub-Username: <strong>{{showSubusername}}</strong></div> -->
            <div class="col-sm-12"> Total No. of mails in current month: <strong>{{showTotalmails}}</strong></div>
            <div class="col-sm-12">
              <hr/>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="creditsAllotation2">Credit allocation</label>
                    <select [(ngModel)]="selCreditAllocation"
                            class="form-control" id="creditsAllotation2" #credit_allocation
                            formControlName="creditAllocation" required>
                      <option *ngFor="let allocation of creditMenu" value="{{allocation.id}}">{{allocation.label}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="period2">Period</label>
                    <select #subuser_period formControlName="subuserPeriod" class="form-control" id="period2" required>
                      <option>Daily</option>
                      <option>Weekly</option>
                      <option>Monthly</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="noCredits">No. of Credit</label>
                    <input type="text" class="form-control" id="noCredits" #subuser_credit formControlName="subuserCredit"
                          placeholder="Type number in digits" required=""/>
                    <small class="form-text text-danger"
                          *ngIf="!createSubUsercreditAllocationForm.controls['subuserCredit'].valid && createSubUsercreditAllocationForm.controls['subuserCredit'].touched">
                      Please enter digits only
                    </small>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <button [disabled]="!createSubUsercreditAllocationForm.valid"
                      (click)="subuserCreditAlloc(credit_allocation.value,subuser_period.value ,subuser_credit.value)"
                      class="btn btn-primary">Save
              </button>
              <button (click)="cancelAllocation()" class="btn btn-secondary">Cancel</button>
              <app-alert [type]="allocationErrorType" [dismissible]="false" [value]="allocationSuccess"></app-alert>
            </div>
          </div>
        </form>
      </div>
      <!-- End of recurring credits -->
      <!-- Start of non recurring credits -->
      <div [hidden]="!(selCreditAllocation === '3' && subuserAllocation4 && subuserFlag)"
           class="tab-box bold-label mt-5 mb-5">
        <form accept-charset="utf-8" [formGroup]="createSubUsercreditAllocationForm1">
          <div class="row">
            <!-- <div class="col-sm-12"> Sub-Username: <strong>{{showSubusername}}</strong></div> -->
            <div class="col-sm-12"> Total No. of mails in current month: <strong>{{showTotalmails}}</strong></div>
            <div class="col-sm-12">
              <hr/>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="creditsAllotation">Credit allocation</label>
                    <select [(ngModel)]="selCreditAllocation" class="form-control" id="creditsAllotation"
                            #credit_allocation1 formControlName="creditAllocation1" required>
                      <option *ngFor="let allocation of creditMenu" value="{{allocation.id}}">{{allocation.label}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="period">Actions</label>
                    <select #subuser_period1 formControlName="subuserPeriod1" class="form-control" id="period" required>
                      <option>Add</option>
                      <option>Remove</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="noCredits2">No. of Credit</label>
                    <input type="text" class="form-control" id="noCredits2" #subuser_credit1
                          formControlName="subuserCredit1" placeholder="Type number in digits" required/>
                  </div>
                  <small class="form-text text-danger"
                        *ngIf="!createSubUsercreditAllocationForm1.controls['subuserCredit1'].valid && createSubUsercreditAllocationForm1.controls['subuserCredit1'].touched">
                    Please enter digits only
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <button [disabled]="!createSubUsercreditAllocationForm1.valid"
                      (click)="subuserCreditAlloc(credit_allocation1.value,subuser_period1.value,subuser_credit1.value)"
                      class="btn btn-primary">Save
              </button>
              <button (click)="cancelAllocation()" class="btn btn-secondary">Cancel</button>
              <app-alert [type]="allocationErrorType" [dismissible]="false" [value]="allocationSuccess "></app-alert>
            </div>
          </div>
        </form>
      </div>
      <!-- End of non recurring credits -->
    </div>
  </div>
</div>
