<div class="row">
  <div class="jumbotron jumbotron-fluid welcome" *ngIf="gettingStarted">
    <div class="content-box pepi-face">
      <h1 class="title">Woohoo! You’re in</h1>
      <p>Let’s kickstart your account. I’ll take you through the basics to get your account ready to send
        your first email. </p>
    </div>
  </div>
  <app-timezone
    [title]="title"
    [timezones]="timezoneData"
    [selectedZone]="selectedTimeZone"
    (onContinueClick)="onContinueClick($event)">
  </app-timezone>
</div>
