<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Account Log</h1>
      <div class="flex-body inner">
        <div class="flex-content">
          <div class="tab-box">
            <div class="row">
              <div class="col-12">
                <h5 class="float-left">Account Activity Log</h5>
                <div class="float-right form-inline">
                  <!--<input #search class="form-control search-input" type="text" placeholder="Search by Username"-->
                  <!--(keydown.enter)="onSearch(search.value)">-->
                  <div class="input-date-range-picker mx-3" daterangepicker
                       [options]="{ opens: 'left' }"
                       (selected)="selectedDate($event, dateInput)">
                    <a> <i class="icon-calendar"></i>
                      {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}</a>
                  </div>
                  <a href="javascript:void(0)" class="text-link-dark" (click)="downloaAccountLog()"><i
                    class="icon icon-download"></i></a>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-12">
                <span><h6><strong>Net Credits Assigned : {{netCredit}}</strong></h6></span><br/>
                <!--<p>Usage summary of master account & associated subaccounts</p>-->
                <ng2-smart-table class="table-responsive" [settings]="accountLogSettings"
                                 [source]="accountLogTabelSource"></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

