<!--bootstrap modal window for getting SMTP API key-->
<ng-template #resendConfirmationPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Send Confirmation Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{confirmationText}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="redirectToDashboard()">OK</button>
  </div>
</ng-template>
