<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Tags</h1>
      <div class="flex-body inner">
        <div class="flex-content">
          <!--initial window if data not present-->
          <div class="tab-box no-data" [hidden]="manageTagFlag">
            <img class="no-data-icon" src="assets/images/tag.svg" alt="No Data">
            <h2 class="heading">You don't have any saved tags</h2>
            <p>Tagging your Pepipost emails lets you easily search activity, compare stats, and more.
            Some examples of Tags are: Invoice Emails, Forgot Password/OTP, Newsletters etc.<br/>
            Add tags to emails while sending emails through API or SMTP.
            </p>
            <a class="btn btn-default"
               href="https://docs.pepipost.com/docs/how-to-use-tags-in-pepipost" target="_blank">
              Learn More
            </a>
          </div>
          <div class="tab-box" [hidden]="manageTagFlagTable">
            <div class="form-inline mb-3 float-right">
              <div class="input-addon addon-left">
                <i class="icon icon-search icon-addon"></i>
                <input #searchEmail class="form-control" type="text" placeholder="Search..."
                       (keydown.enter)="onSearch(searchEmail.value)">
              </div>
            </div>
            <ng2-smart-table class="table-responsive" [settings]="settingsTagwise"
                             [source]="dataSourcetagwise" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
            <!--for the next phase-->
            <!--<ng2-smart-table class="table-responsive" [settings]="settingsArchive"-->
            <!--[source]="dataSourceArchive" [hidden] = "dispArchiveValue">-->
            <!--</ng2-smart-table>-->
          </div>
        </div>
        <div class="sidebar-right" [hidden]="manageTagFlagTable">
          <app-help-section [helpSectionData]="helpSectionData">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>
<!--bootstrap modal window-->
<ng-template #confirmPopup let-c="close" let-d="dismizss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>We are sorry to see you go.
      All your data will be permanently deleted.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteTag(tagid)">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
