@import 'vars';

:host {
  display: block;
}

.recharge-battery {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: to-rem(380);
}

.img-battery {
  margin: 10px auto;
  width: to-rem(280);
  position: relative;
}

.img-battery-bg {
  position: relative;
  z-index: 2;
}

.battery-bar {
  background-color: #FCAD3A;
  display: block;
  position: absolute;
  width: 68px;
  height: 148px;
  top: 27px;
  left: 15px;
  transform: scaleY(0.1);
  transform-origin: bottom;
  transition: transform 1s ease-out, background-color 1.5s ease-out;
  will-change: transform;
}

.img-plug {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms ease-out;
  will-change: transform;
}

.plugged {
  .img-plug {
    transform: translateX(-17px);
  }
}

.sufficient {
  .battery-bar {
    background-color: $green;
  }
}

.battery-text, .booster-text {
  display: block;

  p, small {
    font-weight: $font-weight-semibold;
  }
}

.battery-text {
  width: 52%;
  float: left;
}

.booster-text {
  width: 46%;
  float: right;
}
