<table [id]="tableId" [ngClass]="tableClass">

  <thead ng2-st-thead *ngIf="!isHideHeader || !isHideSubHeader"
                      [grid]="grid"
                      [isAllSelected]="isAllSelected"
                      [source]="source"
                      [createConfirm]="createConfirm"
                      (create)="create.emit($event)"
                      (selectAllRows)="onSelectAllRows($event)"
                      (sort)="sort($event)"
                      (filter)="filter($event)">
  </thead>

  <tbody ng2-st-tbody [grid]="grid"
                      [source]="source"
                      [deleteConfirm]="deleteConfirm"
                      [editConfirm]="editConfirm"
                      [rowClassFunction]="rowClassFunction"
                      (edit)="edit.emit($event)"
                      (delete)="delete.emit($event)"
                      (custom)="custom.emit($event)"
                      (userSelectRow)="onUserSelectRow($event)"
                      (editRowSelect)="editRowSelect($event)"
                      (multipleSelectRow)="multipleSelectRow($event)"
                      (rowHover)="onRowHover($event)">
  </tbody>

</table>
<div class="form-inline float-left" *ngIf="shouldShow()">
  <p class="m-0">
    View  <select class="custom-select"
            [ngModel]="selectedPages" (ngModelChange)="onSelectPages($event)">
      <option *ngFor="let pages of selectOptions" [value]="pages">{{pages}}</option>
    </select>
    records | Found total {{totalRecordsDisplay}} records
  </p>
</div>
<ng2-smart-table-pager2 class="float-right pr-2" *ngIf="isPagerDisplay"
                        [source]="source"
                        (changePage)="changePage($event)">
</ng2-smart-table-pager2>
