<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title float-left">Template Edit</h1>
    </div>
  </div>
</div>
<form [formGroup]="editTemplateForm">
  <div class="template-preview">
    <div class="template-header">
      <div class="row">
        <div class="col-12">
          <div class="form-inline float-left my-2">
            <div class="form-group mr-3">
              <label for="templateName" class="mr-2"><strong>Template Name:</strong></label>
              <input type="text" class="form-control" id="templateName"
                     name="templateName" formControlName="templateName" maxlength="25"
                     [(ngModel)]="templateName">
            </div>
            <div class="form-group" *ngIf="!isUpload">
              <label class="mr-2"><strong>Template ID:</strong></label> {{templateId}}
              <i class="icon-help icon-dull" placement="bottom"
                 ngbTooltip="This is the template ID which you need to be use while calling the API call"></i>
            </div>
          </div>
          <div class="form-inline float-right my-2">
            <div class="form-group mr-3">
              <strong class="mr-2">Template file (HTML file only please): </strong>
              <label class="custom-file">
                <input type="file" class="custom-file-input" id="templateFile"
                       name="templateFile[]" accept="text/html"
                       (change)="onFileChange($event)">
                <span class="custom-file-control icon icon-attach">{{htmlFileName}}</span>
              </label>
              <input type="hidden" name="fileHidden" formControlName="templateFile"/>
            </div>
            <button class="btn btn-primary mr-2" (click)="saveClick()"
                    [disabled]="!editTemplateForm.valid">Save & Exit
            </button>
            <a href="#" class="text-link-dark btn" (click)="goBack()">Back</a>
          </div>
        </div>
        <div class="col-12">
          <small class="form-text text-danger d-inline-block"
                 *ngIf="!editTemplateForm.controls['templateName'].valid && editTemplateForm.controls['templateName'].touched">
            Template name is required and should be alpha numeric without space.
          </small>
          <small class="form-text text-danger d-inline-block"
                 *ngIf="!hideFileError">
            Template HTML or File is required.
          </small>
          <small class="form-text text-danger d-inline-block"
                 *ngIf="htmlFileErrorMsg" [innerHTML]="htmlFileErrorMsg"></small>
        </div>
        <div class="col-12">
          <app-alert class="mt-2" [type]="uploadErrType" [dismissible]="false" [value]="uploadErrMsg"></app-alert>
        </div>
      </div>
    </div>
    <div class="flex-body row m-0">
      <div class="col-md-6 p-0">
        <h4 class="text-center">Preview</h4>
        <iframe #preview class="code-preview-frame" frameborder="0">
        </iframe>
      </div>
      <div class="col-md-6 p-0">
        <h4 class="text-center">Edit Code</h4>
        <input type="hidden" name="fileHidden" formControlName="codeMirrorContent"/>
        <codemirror #editor [(ngModel)]="content" [ngModelOptions]="{standalone: true}"
                    [config]="config"></codemirror>
      </div>
    </div>
  </div>
</form>
