<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Webhooks</h1>
      <ngb-tabset type="text" (tabChange)="refreshData()">
        <ngb-tab title="Global API">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <form [formGroup]="globalForm">
                    <div class="row">
                      <div class="col-12">
                        <p>This is your URL on which we'll send data to. We recommend the use of https.<br>
                          Use Global API option, when you want to send data for all the events on a single URL.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global-api">Global API</label>
                          <div class="input-group">
                            <input type="text" id="global-api" placeholder="https://www.example.com/your-target"
                                   class="form-control"
                                   formControlName="global_webhook_url"
                                   name="global_webhook_url" [(ngModel)]="globaldata.global_webhook_url1"
                                   #global_webhook_url
                                   required>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyGlobalApiDetails(global_webhook_url.value,'global_webhook_urlmsg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!globalForm.controls['global_webhook_url'].valid && globalForm.controls['global_webhook_url'].touched && !global_webhook_urlmsg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_urlmsg">
                            {{global_webhook_urlmsg}}
                          </small>
                        </div>
                      </div>
                      <div class="col-12">
                        <strong>Events you will get:</strong>
                        <div class="row">
                          <div class="col-lg-3">
                            <ul class="mb-md-max-0 simple-list">
                              <li>Delivered</li>
                              <li>Bounces</li>
                              <li>Invalids</li>
                              <li>Drops</li>
                            </ul>
                          </div>
                          <div class="col-lg-3">
                            <ul class="simple-list">
                              <li>Opened</li>
                              <li>Clicked</li>
                              <li>Unsubscribes</li>
                              <li>Spam Reports</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <app-alert class="mt-2" [type]="'warning'" [dismissible]="false"
                                   [value]="globalAPI"></app-alert>
                        <button class="btn btn-primary" (click)="saveGlobalApiDetails(global_webhook_url.value)"
                                [disabled]="!globalForm.valid">Add Webhook
                        </button>
                        <button class="btn-secondary" (click)="cancelGlobalApi()">Reset</button>
                      </div>
                      <div class="col-12">
                        <app-alert [type]="globalType" [dismissible]="false" [value]="globalMsg"></app-alert>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="sidebar-right">
                <app-help-section [helpSectionData]="helpSectionData">
                </app-help-section>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Custom API">
          <ng-template ngbTabContent>
            <div class="flex-body inner">
              <div class="flex-content">
                <div class="tab-box">
                  <form [formGroup]="customForm">
                    <div class="row">
                      <div class="col-12">
                        <p>This is your URL on which we'll send data to. We recommend the use of https.<br>
                          Use Custom API option, when you want to send event wise data on different URLs.</p>
                      </div>
                    </div>
                    <!-- row 1 -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url1">Delivered</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-delivered"
                                   class="form-control"
                                   name="global_webhook_url1" [(ngModel)]="customedata.global_webhook_url1"
                                   formControlName="global_webhook_url1" id="global_webhook_url1"
                                   #global_webhook_url1>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url1.value,'global_webhook_url1msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url1'].valid && customForm.controls['global_webhook_url1'].touched && !global_webhook_url1msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url1msg">
                            {{global_webhook_url1msg}}
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url3">Opened</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-opened"
                                   class="form-control"
                                   name="global_webhook_url3" [(ngModel)]="customedata.global_webhook_url3"
                                   formControlName="global_webhook_url3" id="global_webhook_url3"
                                   #global_webhook_url3>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url3.value,'global_webhook_url3msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url3'].valid && customForm.controls['global_webhook_url3'].touched && !global_webhook_url3msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url3msg">
                            {{global_webhook_url3msg}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- ./row 1 -->
                    <!-- row 2 -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url4"> Clicked</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-clicked"
                                   class="form-control"
                                   name="global_webhook_url4" [(ngModel)]="customedata.global_webhook_url4"
                                   formControlName="global_webhook_url4" id="global_webhook_url4"
                                   #global_webhook_url4>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url4.value,'global_webhook_url4msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url4'].valid && customForm.controls['global_webhook_url4'].touched && !global_webhook_url4msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url4msg">
                            {{global_webhook_url4msg}}
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url2"> Bounces</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-bounces"
                                   class="form-control"
                                   name="global_webhook_url2" [(ngModel)]="customedata.global_webhook_url2"
                                   formControlName="global_webhook_url2" id="global_webhook_url2"
                                   #global_webhook_url2>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url2.value,'global_webhook_url2msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url2'].valid && customForm.controls['global_webhook_url2'].touched && !global_webhook_url2msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url2msg">
                            {{global_webhook_url2msg}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- ./row 2 -->
                    <!-- row 3 -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url5">Unsubscribes</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-unsubscribes"
                                   class="form-control"
                                   name="global_webhook_url5" [(ngModel)]="customedata.global_webhook_url5"
                                   formControlName="global_webhook_url5" id="global_webhook_url5"
                                   #global_webhook_url5>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url5.value,'global_webhook_url5msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url5'].valid && customForm.controls['global_webhook_url5'].touched && !global_webhook_url5msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url5msg">
                            {{global_webhook_url5msg}}
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url6">Spam Reports</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-spam-reports"
                                   class="form-control"
                                   name="global_webhook_url6" [(ngModel)]="customedata.global_webhook_url6"
                                   formControlName="global_webhook_url6" id="global_webhook_url6"
                                   #global_webhook_url6>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url6.value,'global_webhook_url6msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url6'].valid && customForm.controls['global_webhook_url6'].touched && !global_webhook_url6msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url6msg">
                            {{global_webhook_url6msg}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- ./row 3 -->
                    <!-- row 4 -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url7">Drops</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-drops"
                                   class="form-control"
                                   name="global_webhook_url7" [(ngModel)]="customedata.global_webhook_url7"
                                   formControlName="global_webhook_url7" id="global_webhook_url7"
                                   #global_webhook_url7>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url7.value,'global_webhook_url7msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url7'].valid && customForm.controls['global_webhook_url7'].touched && !global_webhook_url7msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url7msg">
                            {{global_webhook_url7msg}}
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label bold-label" for="global_webhook_url8">Invalids</label>
                          <div class="input-group">
                            <input type="text" placeholder="https://www.example.com/your-target/email-invalids"
                                   class="form-control"
                                   name="global_webhook_url8" [(ngModel)]="customedata.global_webhook_url8"
                                   formControlName="global_webhook_url8" id="global_webhook_url8"
                                   #global_webhook_url8>
                            <div class="input-group-append">
                              <button class="btn btn-gray-outline"
                                      (click)="verifyCustomeApiDetails(global_webhook_url8.value,'global_webhook_url8msg')">
                                Verify
                              </button>
                            </div>
                          </div>
                          <small class="form-text text-danger"
                                 *ngIf="!customForm.controls['global_webhook_url8'].valid && customForm.controls['global_webhook_url8'].touched && !global_webhook_url8msg">
                            {{domainUrlError}}
                          </small>
                          <small class="form-text text-{{respClass}}" *ngIf="global_webhook_url8msg">
                            {{global_webhook_url8msg}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- ./row 4 -->
                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary" (click)="saveCustomeApiDetails()"
                                [disabled]="!customForm.valid">
                          Add Webhook
                        </button>
                        <button class="btn-secondary" (click)="cancelCustomApi()">Reset</button>
                      </div>
                      <div class="col-12">
                        <app-alert class="mt-2" [type]="customType" [dismissible]="false"
                                   [value]="customMsg"></app-alert>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="sidebar-right">
                <app-help-section [helpSectionData]="helpSectionData">
                </app-help-section>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
