.ng2-smart-pagination {
  //box-shadow: 0 0 12px 0 rgba(106,106,106,0.37);
  display: inline-flex;
  font-size: .875em;
  padding: 0;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .ng2-smart-page-item {
    display: inline;
  }

  .page-link:hover {
    text-decoration: none;
  }
}
