<form [formGroup]="verifyForm">
  <div class="row">
    <div class="col-12">
      <div class="content">
        <div class="flex-body inner">
          <div class="flex-content">
            <div class="tab-box">
              <h1>{{greetings}}, let’s add your sending domain.</h1>
              <p>That’s the domain name you’ll use to send emails from.</p>
              <div class="row">
                <div class="input-group col-lg-5 col-md-8">
                  <input type="text" placeholder="example.com"
                         class="form-control" id="domain_name" #domain_name formControlName="domain_name" required=''>
                  <div class="input-group-append">
                    <button class="btn btn-primary" [disabled]="!verifyForm.valid"
                            (click)="verifyDomain(verifyForm.value)">Add Domain
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <small class="form-text text-danger"
                         *ngIf="!verifyForm.controls['domain_name'].valid && verifyForm.controls['domain_name'].touched">
                    Please enter valid domain name
                  </small>
                  <app-alert class="mt-3" [type]="type" [dismissible]="false" [value]="msg"></app-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar-right">
            <div class="sidebar-box" [hidden]="stepList.length === 0">
              <h4>Get Started</h4>
              <app-process-wizard-text [currentStep]="stepCount"
                                       [stepList]="stepList"
                                       (stepClick)="onStepClick($event)"></app-process-wizard-text>
            </div>
            <app-help-section [helpSectionData]="helpSectionData">
            </app-help-section>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
