<div class="tab-box no-data" [hidden]="billingHistoryFlag">
  <img class="no-data-icon" src="assets/images/calculator.svg" alt="Billing History">
  <h2 class="heading">You don’t have any invoices</h2>
  <p>If you upgrade to any of our paid plan, you'll see a history of your invoices here.</p>
</div>
<div class="tab-box" [hidden]="billingHistoryFlag_hide">
  <ng2-smart-table class="table-responsive" [settings]="invoiceTabel"
                   [source]="invoiceTabelSource"></ng2-smart-table>
</div>
