<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">ISP Report</h1>
      <div class="tab-box">
        <ng2-smart-table class="table-responsive custom-relative-tr" [settings]="settingsTagWise" [source]="dataSourceTagWise" style="padding-bottom:170px;">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</div>

