<spinner [spinner]="spinkit.skWave"></spinner>
<div class="flex-container">
  <app-header></app-header>
  <div class="flex-body">
    <div class="flex-nav">
      <app-main-menu></app-main-menu>
    </div>
    <div class="flex-content show-menu" [class.show-menu]="showMenu">
      <app-page-alert></app-page-alert>
      <div class="flex-container-inside">
        <div class="flex-body">
          <div class="router-outlet">
            <router-outlet></router-outlet>
          </div>
        </div>
        <footer class="footer">
          <img src="assets/images/footer-logo.png" alt="Pepipost"><br>
          <small class="focus-less">© 2015–{{currentYear}} Pepipost® All rights reserved.
            Pepipost is a product of Netcore Solutions.
            <a
            href="https://pepipost.com/legal-security/" class="text-link" target="_blank">Privacy</a> and
            <a href="https://pepipost.com/terms-of-use/" class="text-link" target="_blank">Terms</a></small>
        </footer>
      </div>
    </div>
  </div>
</div>
