<div class="row">
  <div class="col-sm-12">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title float-left" [hidden]="dispSuppressionTable">Suppressions</h1>
          <h1 class="page-title float-left" [hidden]="!dispSuppressionTable">Manage Suppression</h1>
          <div class="float-right">
            <button class="btn btn-primary" (click)="displaySuppression()" [hidden]="dispSuppressionTable">
              Manage Suppression
            </button>
            <button class="btn btn-primary" (click)="displaySuppression('back')" [hidden]="!dispSuppressionTable">
              Back
            </button>
          </div>
        </div>
      </div>
      <!--start-->
      <!--display email suppression-->
      <div [hidden]="dispSuppressionOperation">
        <ngb-tabset type="text" #tabset class="no-margin-top" (tabChange)="changeRadioVal()">
          <ngb-tab title="Email" id="emailSuppressionOperation">
            <ng-template ngbTabContent>
              <div class="tab-box">
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="addRemoveEmailRadioFrm">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" id="emailBlackList" value="blacklist" name="emailStatus"
                                 formControlName="emailStatus" [checked]="true"
                                 (click)="storeSuppressionStatus($event)"
                                 class="form-check-input">
                          BlackList
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" id="emailWhiteList" value="whitelist" name="emailStatus"
                                 formControlName="emailStatus"
                                 (click)="storeSuppressionStatus($event)"
                                 class="form-check-input">
                          Whitelist
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <form [formGroup]="addRemoveEmailSuppressionForm">
                      <h5 [hidden]="showStatus">Add Suppression/s</h5>
                      <h5 [hidden]="!showStatus">Remove Suppression/s</h5>
                      <div class="row">
                        <div class="col-sm-12"><p>Have few to add?</p></div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="bold-label" for="emailAddress">Email ID(s):</label>
                            <input type="text" id="emailAddress" class="form-control"
                                   placeholder="Type down the email address" formControlName="emailAddress" required/>
                            <small class="form-text text-danger"
                                   *ngIf="!addRemoveEmailSuppressionForm.controls['emailAddress'].valid &&
                              addRemoveEmailSuppressionForm.controls['emailAddress'].touched">
                              Please enter valid Email
                            </small>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary"
                                    [disabled]="(!addRemoveEmailSuppressionForm.valid) || (!addRemoveEmailRadioFrm.valid)"
                                    (click)="addSuppression(addRemoveEmailSuppressionForm.value,'email')">Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="col-lg-5 offset-lg-1 mt-md-max-3">
                    <form [formGroup]="addRemoveEmailFileFrm">
                      <h5 [hidden]="showStatus">Add Suppression/s</h5>
                      <h5 [hidden]="!showStatus">Remove Suppression/s</h5>
                      <div class="row">
                        <div class="col-sm-12"><p>Have bulk to add?</p></div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="bulkEmailFile">CSV file of Email ID (s): </label>
                            <label class="custom-file">
                              <input type="file" #bulkEmailFile1 class="custom-file-input"
                                     formControlName="bulkEmailFile"
                                     id="bulkEmailFile" name="bulkEmailFile" (change)="onFileChange($event)"
                                     required>
                              <span class="custom-file-control icon icon-attach">{{filename}}</span>
                            </label>
                            <small class="form-text text-danger"
                                   *ngIf="fileMsg && addRemoveEmailFileFrm.controls['bulkEmailFile'].touched"
                                   [innerHTML]="fileMsg"></small>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary"
                                    [disabled]="(!addRemoveEmailRadioFrm.valid) || csvFileErrorList.length>0 || (customerror.length>0)"
                                    (click)="addSuppression(addRemoveEmailSuppressionForm.value,'email',true)">
                              Upload
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <app-alert [type]="suppressionType" [dismissible]="false" [value]="suppressionMsg"></app-alert>
                  </div>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
          <!--display domain suppression-->
          <ngb-tab title="Domain" id="domainSuppressionOperation">
            <ng-template ngbTabContent>
              <div class="tab-box">
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="addRemoveDomainRadioFrm">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" id="domainBlackList" value="blacklist" name="domainStatus"
                                 formControlName="domainStatus" [checked]="true"
                                 (click)="storeSuppressionStatus($event)"
                                 class="form-check-input"> BlackList
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" id="domainWhiteList" value="whitelist" name="domainStatus"
                                 formControlName="domainStatus"
                                 (click)="storeSuppressionStatus($event)"
                                 class="form-check-input">
                          Whitelist
                        </label>
                      </div>
                    </form>
                  </div>

                  <div class="col-lg-5">
                    <form [formGroup]="addRemoveDomainSuppressionForm">
                      <h5 [hidden]="showStatus">Add Suppression/s</h5>
                      <h5 [hidden]="!showStatus">Remove Suppression/s</h5>
                      <div class="row">
                        <div class="col-sm-12"><p>Have few to add?</p></div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="bold-label" for="domain">Domain(s):</label>
                            <input type="text" id="domain" class="form-control"
                                   placeholder="Type down domain name" formControlName="domain" required/>
                            <small class="form-text text-danger"
                                   *ngIf="!addRemoveDomainSuppressionForm.controls['domain'].valid &&
                              addRemoveDomainSuppressionForm.controls['domain'].touched">
                              Please enter valid Domain name
                            </small>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary"
                                    [disabled]="(!addRemoveDomainSuppressionForm.valid)"
                                    (click)="addSuppression(addRemoveDomainSuppressionForm.value,'domain')">Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-5 offset-lg-1 mt-md-max-3">
                    <form [formGroup]="addRemoveDomainFileFrm">
                      <h5 [hidden]="showStatus">Add Suppression/s</h5>
                      <h5 [hidden]="!showStatus">Remove Suppression/s</h5>
                      <div class="row">
                        <div class="col-sm-12"><p>Have bulk to add?</p></div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="bulkDomainFile">CSV file of Domain(s): </label>
                            <label class="custom-file">
                              <input type="file" #bulkDomainFile1 id="bulkDomainFile" class="custom-file-input"
                                     formControlName="bulkDomainFile" required
                                     (change)="onFileChange($event)">
                              <span class="custom-file-control icon icon-attach">{{filename}}</span>
                            </label>
                            <small class="form-text text-danger"
                                   *ngIf="fileMsg && addRemoveDomainFileFrm.controls['bulkDomainFile'].touched"
                                   [innerHTML]="fileMsg"></small>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary"
                                    [disabled]="(!addRemoveDomainRadioFrm.valid) || (csvFileErrorList.length>0)|| (customerror.length>0)"
                                    (click)="addSuppression(addRemoveDomainSuppressionForm.value,'domain',true)">Upload
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <app-alert [type]="suppressionType" [dismissible]="false" [value]="suppressionMsg"></app-alert>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <!--end-->

      <!--Display Email details table-->
      <!--start-->
      <div [hidden]="dispSuppressionTable">
        <ngb-tabset type="text" #tabsetOperation="ngbTabset" class="no-margin-top" (tabChange)="resetSearch()">
          <ngb-tab title="Email" id="emailSuppressionTable">
            <ng-template ngbTabContent>
              <div class="tab-box no-data" [hidden]="dispDefaultSuppressionEmail">
                <img class="no-data-icon" src="assets/images/mail.svg" alt="Suppression">
                <h2 class="heading">Your suppression list is empty.</h2>
                <p>If you are coming from a previous email service provider, you should first import your suppression
                  list. This is a very important step towards maintaining your Sender Reputation.</p>
                <button class="btn btn-primary" (click)="displaySuppression()">
                  Add to Suppression
                </button>
              </div>
              <div class="tab-box" [hidden]="dispDefaultSuppressionEmail_hide">
                <div class="form-inline mb-3 float-right">
                  <div class="input-addon addon-left">
                    <i class="icon icon-search icon-addon"></i>
                    <input #searchEmail class="form-control" type="text" placeholder="Search..."
                           (keydown.enter)="onEmailSearch(searchEmail.value)">
                  </div>
                  <div class="input-date-range-picker mx-3">
                    <label>
                      <div class="input-date-range-picker mx-3" daterangepicker [options]="{ opens: 'left' }"
                           (selected)="selectedDate($event, mainInput)">
                        <a> <i class="icon-calendar"></i>
                          {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                        </a>
                      </div>
                    </label>
                  </div>
                  <a class="text-link-dark" href="#" (click)="downloadEmailSupp()">
                    <i class="icon icon-download"></i><span class="sr-only">Download</span>
                  </a>
                </div>


                <ng2-smart-table class="table-responsive" [settings]="emailSettings"
                                 [source]="emailDataSource" (deleteConfirm)="removeBlacklistEmail($event)">
                </ng2-smart-table>
              </div>
            </ng-template>
          </ngb-tab>
          <!--Display Domain details table-->
          <ngb-tab title="Domain" id="domainSuppressionTable">
            <ng-template ngbTabContent>
              <div class="tab-box no-data" [hidden]="dispDefaultSuppressionDomain">
                <img class="no-data-icon" src="assets/images/mail.svg" alt="Suppression">
                <h2 class="heading">Your suppression list is empty.</h2>
                <p>If you are coming from a previous email service provider, you should first import your suppression
                  list. This is a very important step towards maintaining your Sender Reputation.</p>
                <button class="btn btn-primary" (click)="displaySuppression()">
                  Add to Suppression
                </button>
              </div>
              <div class="tab-box" [hidden]="dispDefaultSuppressionDomain_hide">
                <div class="form-inline mb-3 float-right">
                  <div class="input-addon addon-left">
                    <i class="icon icon-search icon-addon"></i>
                    <input #searchDomain class="form-control" type="text" placeholder="Search..."
                           (keydown.enter)="onDomainSearch(searchDomain.value)">
                  </div>
                  <div class="input-date-range-picker float-right mx-3">
                    <label>
                      <div class="input-date-range-picker mx-3" daterangepicker [options]="{ opens: 'left' }"
                           (selected)="selectedDomainDate($event, mainInput)">
                        <a> <i class="icon-calendar"></i>
                          {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                        </a>
                      </div>
                    </label>
                  </div>
                  <a class="text-link-dark" href="#" (click)="downloadDomainSupp()">
                    <i class="icon icon-download"></i><span class="sr-only">Download</span>
                  </a>
                </div>
                <ng2-smart-table class="table-responsive" [settings]="domainSettings"
                                 [source]="domainDataSource" (deleteConfirm)="removeBlacklistDomain($event)">
                </ng2-smart-table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <!--end-->
    </div>
  </div>
</div>
<!--bootstrap modal window for remove email -->
<ng-template #removeEmail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to whitelist the email ?</p>
    <app-alert [type]="emailWhitelistType" [dismissible]="false" [value]="emailWhitelistMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="makeWhitelistEmail(blacklistemail)">YES</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">NO</button>
  </div>
</ng-template>
<!--bootstrap modal window for remove domain-->
<ng-template #removeDomain let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to whitelist the domain ?</p>
    <app-alert [type]="domainWhitelistType" [dismissible]="false" [value]="domainWhitelistMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="makeWhitelistDomain(blacklistdomain)">YES</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">NO</button>
  </div>
</ng-template>
