<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Mail Settings</h1>
      <!--bounce form-->
      <div class="flex-body inner">
        <div class="flex-content">
          <div class="tab-box">
            <form>
              <div class="row">
                <div class="col-12">
                  <h4 class="float-left">Forward Bounce</h4>
                  <app-ui-switch-text class="float-right" [checked]="isBounce" [size]="'small'"
                                      (click)="toggleBounce()">
                  </app-ui-switch-text>
                </div>
                <div class="col-12">
                  <p>Allows you to forward bounces to a specific email address.</p>
                </div>
                <div class="col-md-6" *ngIf="isBounce">
                  <div class="form-group">
                    <label class="bold-label" for="bounce_email">Email</label>
                    <div class="input-group">
                      <input type="text" placeholder="Type your email address"
                             class="form-control" id="bounce_email" #bounce_email
                             [(ngModel)]="bouncedata" [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="saveMailSetting('bounce',bounce_email.value)">Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <app-alert class="mt-2" [type]="classValue" [dismissible]="false" [value]="bounce"></app-alert>
                </div>
              </div>
            </form>
          </div>
          <!--bcc form-->
          <div class="tab-box">
            <form [formGroup]="bccForm">
              <div class="row">
                <div class="col-12">
                  <h4 class="float-left">Bcc Mailing</h4>
                  <app-ui-switch-text class="float-right" [checked]="bccCheckboxValue" [size]="'small'"
                                      (change)="toggleSettingValue($event,'bcc','bccCheckboxValue')"></app-ui-switch-text>
                </div>
                <div class="col-12">
                  <p>A Blind Carbon Copy is marked to a given Email ID for every transactional mail sent.
                    This feature is chargeable on per email basis according to your plan. Please enter an email ID to
                    which
                    the BCC must be sent.</p>
                </div>
                <div [hidden]="!bccCheckboxValue" class="col-md-6">
                  <div class="form-group">
                    <label class="bold-label" for="bcc">BCC Email</label>
                    <div class="input-group">
                      <input type="text" placeholder="Type your email address" formControlName="bcc" required=''
                             class="form-control" id="bcc" #bccval [(ngModel)]="bccdata">
                      <div class="input-group-append">
                        <button class="btn btn-primary" [disabled]="!bccForm.valid"
                                (click)="saveMailSetting('bcc',bccval.value)">Save
                        </button>
                      </div>
                    </div>
                    <small class="form-text text-danger"
                           *ngIf="!bccForm.controls['bcc'].valid && bccForm.controls['bcc'].touched">
                      {{ titleAlert }}
                    </small>
                  </div>
                  <app-alert class="mt-2" [type]="classValue" [dismissible]="false" [value]="bcc"></app-alert>
                </div>
                <br>
              </div>
            </form>
          </div>
          <!--unsubscribe form-->
          <div class="tab-box">
            <form [formGroup]="unsubscribeForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-12">
                  <h4 class="float-left">Customise Unsubscribe Page/Link</h4>
                  <div class="float-right">
                    <a href="#" class="float-left text-link mr-2" (click)="dispUnsubscribeDetails()">View settings</a>
                    <!--<app-ui-switch-text class="float-left" [checked]="unsubscribeCheckboxValue" [size]="'small'"-->
                    <!--(change)="toggleSettingValue($event,'unsubscribe','unsubscribeCheckboxValue')">-->
                    <!--</app-ui-switch-text>-->
                  </div>
                </div>
                <div class="col-12">
                  <p>In case you don't want to track the unsubscribes in your emails, then go to Sending Domain --> View
                    Settings and disable the "Unsubscribe Tracking".
                    Here, you can create and customize the content and HTML for the unsubscription page.
                  </p>
                </div>
              </div>
              <div [hidden]="!dispUnsubTog">
                <div class="form-group">
                  <label class="bold-label" for="unsubtag">Replacement tag</label>
                  <input type="text" placeholder="Type your tag" class="form-control" id="unsubtag" name="unsubtag"
                         formControlName="unsubtag" #unsubtag>
                  <small class="form-text text-danger"
                         *ngIf="!unsubscribeForm.controls['unsubtag'].valid">
                    Please enter valid Tag
                  </small>
                  <p>You can use this tag like [%UNSUB%] within your email content. During the actual email delivery,
                    this
                    tag will be replaced by the actual unsubscribe content defined in the next step in the editor.</p>
                </div>
                <div class="form-group">
                  <label class="bold-label" for="unsubcontent">Unsubscribe Text HTML</label>
                  <p>During the email delivery, the tag [UNSUBSCRIBEURL] will be replaced with the actual unsubscribe
                    link.</p>
                  <ckeditor debounce="500" id="unsubcontent" name="unsubcontent" #unsub_content (change)="onCkChange()"
                            [(ngModel)]="decodedContent" [ngModelOptions]="{standalone: true}">
                  </ckeditor>
                  <small class="form-text">*Only HTML Code is allowed</small>
                </div>
                <div class="form-group">
                  <label class="bold-label" for="ulandpage">Custom Unsubscribe Landing Page</label>
                  <input type="text" placeholder="Type your Custom Unsubscribe Landing Page link" class="form-control"
                         id="ulandpage" formControlName="ulandpage" #ulandpage>
                  <small class="form-text text-danger"
                         *ngIf="!unsubscribeForm.controls['ulandpage'].valid">
                    Please enter valid link
                  </small>
                  <p>This is the final thank you page where the user will be redirected once successfully
                    unsubscribed.</p>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p>Unsubscribe Landing page - Page which will come when user clicks on unsubscribe</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" id="default" value="default" class="form-check-input"
                               formControlName="unsub_logo" name="unsub_logo"
                               (click)="showpersonalised($event)">
                        Default
                      </label>
                    </div>
                    <br>
                    <a class="text-link"
                       href="{{basepathPreview}}Mailsettings/previewLogoPage?action=default"
                       target="_blank">View Preview</a>
                    You can personalise the look and feel of the unsubscribe page for your users.
                  </div>
                  <div class="col-7">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" id="custom" value="custom" class="form-check-input"
                               formControlName="unsub_logo" name="unsub_logo"
                               (click)="showpersonalised($event)">
                        Personalised
                      </label>
                    </div>
                    <a class="text-link"
                       href="{{basepathPreview}}Mailsettings/previewLogoPage?action=personal"
                       target="_blank">View Preview</a> |
                    <a class="text-link"
                       href="{{basepathPreview}}Mailsettings/previewLogoPage?action=sample"
                       target="_blank">View Sample</a><br/>
                    <p>You can personalise the look and feel of the unsubscribe page for your users.</p>

                    <div class="row" [hidden]="!showpersonalisedFile">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label class="col-form-label" for="personalisedFile">Your brand logo</label>
                          <label class="custom-file">
                            <input type="file" class="custom-file-input"
                                   id="personalisedFile" name="personalisedFile" (change)="onFileChange($event)"
                                   #personalisedFile formControlName="personalisedFile"
                                   accept="image/jpg,image/jpeg,image/png">
                            <span class="custom-file-control icon icon-attach">{{filename}}</span>
                          </label>
                          <small class="form-text">Allowed files: .png, .jpg, and .jpeg. Max image upload size: 512Kb
                          </small>
                          <small class="form-text text-danger" *ngIf="fileMsg" [innerHTML]="fileMsg"></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <button class="btn btn-primary" [disabled]="!unsubscribeForm.valid || (imgFileErrorList.length>0)"
                            (click)="saveUnsubscribeData(unsubscribeForm.value)" name="btnSave">Save
                    </button>
                    <div class="float-right">
                      <a class="text-link" href="#" (click)="dispUnsubscribeDetails()">Hide settings</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <app-alert class="mt-2" [type]="unsubType" [dismissible]="false" [value]="unsubMsg"></app-alert>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-right">
          <app-help-section [helpSectionData]="helpSectionData">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>
