<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Profile</h1>
      <div class="tab-box">
        <h4>Profile Details</h4>
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <img appGravatar [email]="emailData?.currentemail" [size]="150" class="img-fluid rounded-circle">
          </div>
          <div class="col-lg-10 col-md-8">
            <!--<div class="clearfix" *ngIf="!editDetails">-->
            <div class="clearfix" *ngIf="!editDetails">
              <div class="row">
                <div class="col-12">
                  <a href="javascript:" (click)="editDetailsClick()"
                     class="float-right text-link-dark"><i class="icon-edit"></i>
                    <span class="sr-only">Edit</span></a>
                  <p class="float-left">
                    <strong>Member Since: </strong><span class="text-dull">{{profileDetails?.member_since}}</span><br>
                    <strong>Name: </strong>
                    <span class="text-dull"
                          [innerHTML]="(profileDetails?.first_name!=='' && profileDetails?.first_name!==null ||
                           profileDetails?.last_name!=='' && profileDetails?.last_name!==null)?
                           profileDetails?.first_name +'&nbsp' +profileDetails?.last_name :'<i>Not defined</i>'">
                    </span>
                    <br>
                    <strong>City: </strong>
                    <span class="text-dull"
                          [innerHTML]="(profileDetails?.city!=='' && profileDetails?.city!==null)?
                      profileDetails?.city:'<i>Not defined</i>'">
                    </span><br>
                    <strong>Time Zone: </strong><span class="text-dull">{{profileDetails?.timezone_value}}</span><br>
                    <!--<strong>Credits: </strong><span class="text-dull">{{profileDetails?.credits}}</span><br>-->
                  </p>
                </div>
              </div>
              <form [formGroup]="editEmailForm">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group" *ngIf="!editEmail">
                      <strong>Email:</strong>
                      <div class="d-inline-block">
                        <span class="text-dull">{{emailData?.currentemail}}</span>
                        <a href="#" class="text-link-dark" (click)="editEmailAddress()"><i class="icon-edit"></i>
                          <span class="sr-only">Edit</span></a>
                      </div>
                      <div *ngIf="verified">
                        <label>{{emailData.resend_email}}
                          <span class="text-danger"><i class="icon-warning"></i> Not Verified</span>
                        </label>
                        <a href="#" class="text-link"
                           (click)="resendEmailVerification(emailData.resend_email)">Resend</a>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="editEmail">
                      <label class="col-sm-4 col-form-label bold-label"
                             for="currentemail"><strong>Email:</strong></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="currentemail"
                               name="currentemail"
                               formControlName="currentemail" required>
                        <small class="form-text text-danger"
                               *ngIf="!editEmailForm.controls['currentemail'].valid
                       && editEmailForm.controls['currentemail'].touched">
                          Please enter valid email
                        </small>
                      </div>
                    </div>
                    <app-alert *ngIf="resendType" [type]="resendType" [dismissible]="false" [value]="resendMsg">
                    </app-alert>
                    <app-alert *ngIf="editProfileMsg" [type]="editProfileType" [dismissible]="false"
                               [value]="editProfileMsg">
                    </app-alert>
                  </div>

                  <div class="col-12" *ngIf="editEmail">
                    <button class="btn btn-primary" [class.disabled]="!editEmailForm.valid"
                            (click)="setEmailAddress()">Save
                    </button>
                    <button class="btn btn-secondary" (click)="cancelEmailEdit()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="clearfix" *ngIf="editDetails">
              <form [formGroup]="profileEditForm" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-label">Member Since</label><br>
                      {{profileDetails?.member_since}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!--<div class="form-group">-->
                    <!--<label class="bold-label">Credits</label><br>-->
                    <!--{{profileDetails.credits}}-->
                    <!--</div>-->
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-label" for="first_name">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name"
                             formControlName="first_name" required>
                      <small class="form-text text-danger"
                             *ngIf="!profileEditForm.controls['first_name'].valid
                       && profileEditForm.controls['first_name'].touched">
                        Please enter First name
                      </small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-label" for="last_name">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name"
                             formControlName="last_name" required>
                      <div class="bold-label"></div>
                      <small class="form-text text-danger"
                             *ngIf="!profileEditForm.controls['last_name'].valid
                       && profileEditForm.controls['last_name'].touched">
                        Please enter Last name
                      </small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="bold-label" for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city"
                           formControlName="city" required>
                    <small class="form-text text-danger"
                           *ngIf="!profileEditForm.controls['city'].valid
                       && profileEditForm.controls['city'].touched">
                      Please enter City name
                    </small>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-label">Time Zone</label>
                      <div class="">
                        <app-timezone-select-menu
                          [timezones]="timezones"
                          [selectedZone]="profileDetails.timezone_value"
                          (onSelect)="onTimezoneSelect($event)"
                          [classes]="'form-control'"></app-timezone-select-menu>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="button" [disabled]="!profileEditForm.valid"
                            (click)="saveProfileData(profileEditForm.value)">
                      Save
                    </button>
                    <button class="btn btn-secondary" type="button" (click)="onCancelClick()">Cancel</button>
                  </div>
                  <div class="col-12">
                    <app-alert class="mt-2" [type]="editProfileType" [dismissible]="false"
                               [value]="editProfileMsg"></app-alert>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <h5 class="mt-4 mb-4"><a class="text-link" href="#" (click)="changePassword()">Change
          Password</a></h5>
      </div>
      <div class="tab-box">
        <h4>Delete Account</h4>
        <div class="row">
          <div class="col-12">
            <div class="mt-2">
              <p>The account will no longer be available and all data in the account will be permanently deleted.</p>
              <button type="button" class="btn btn-primary" (click)="deleteAccountRequest()">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
      <app-alert [type]="type" [dismissible]="false" [value]="msg"></app-alert>
    </div>
  </div>
</div>

<!--bootstrap modal window for password change-->
<ng-template #changePwdPopup let-c="close" let-d="dismiss">
  <form [formGroup]="verifyChangePwdForm">
    <div class="modal-header">
      <h4 class="modal-title">Update Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-form-label bold-label" for="old_pass">Old Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="old_pass" class="form-control"
                 formControlName="old_pass" #old_pass #showhideinput>
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['old_pass'].valid
           && verifyChangePwdForm.controls['old_pass'].touched
          ">Please enter valid password
        </small>

      </div>
      <div class="form-group">
        <label class="col-form-label bold-label" for="new_pass">New Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type password" id="new_pass"
                 class="form-control" formControlName="new_pass" #new_pass #showhideinput
                 (input)="checkPassword($event)">
        </app-show-hide-password>
        <small *ngIf="passwordData" [innerHTML]="passwordData">
        </small>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['new_pass'].valid
        && verifyChangePwdForm.controls['new_pass'].touched
        ">Please enter valid password
        </small>
      </div>
      <div class="form-group">
        <label class="col-form-label bold-label" for="confmPassword">Confirm Password</label>
        <app-show-hide-password>
          <input type="password" placeholder="Type confirm password" id="confmPassword" #showhideinput
                 class="form-control"
                 formControlName="confirm_pass">
        </app-show-hide-password>
        <small class="form-text text-danger"
               *ngIf="!verifyChangePwdForm.controls['confirm_pass'].valid
        && verifyChangePwdForm.controls['confirm_pass'].touched
        || (verifyChangePwdForm.controls['new_pass'].value !== verifyChangePwdForm.controls['confirm_pass'].value)">
          New password and confirmed password must be same
        </small>
      </div>
      <app-alert *ngIf="passwordMsg" [type]="passwordType" [dismissible]="false" [value]="passwordMsg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              [disabled]="!verifyChangePwdForm.valid || passwordFlag
                || (verifyChangePwdForm.controls['new_pass'].value !== verifyChangePwdForm.controls['confirm_pass'].value)"
              (click)="setPassword(old_pass.value,new_pass.value)">Update Password
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>
<!--bootstrap modal window to delete account request-->
<ng-template #deleteAccountPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete account?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The account will no longer be available and all data in the account will be permanently deleted.
      <br/><br/>
      <span *ngIf="subuserCount">There is {{subuserCount}} more user who will no longer have access to the Pepipost account. If you want to revoke someone's
        access instead of deleting the account, go to subuser page in settings menu.</span>
    </p>
    <app-alert *ngIf="accountDeleteMsg" [type]="accountDeleteType" [dismissible]="false"
               [value]="accountDeleteMsg"></app-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteAccount()">Delete
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
