<div class="flex-body inner">
  <div class="flex-content">
    <div class="tab-box">
      <div class="text-left narrow-hr">
        <h4>Usage Overview</h4>
        <div class="row">
          <div class="col-auto">
            <div class="pie-credits">
              <app-simple-pie [credits]="pieCredits"></app-simple-pie>
            </div>
          </div>
          <div class="col">
            <div class="bill-details">
              <div *ngIf="upgradePlanInfo?.current_billing_end_date">
                <strong class="bill-cycle-1">Billing cycle: </strong>
                <div class="d-inline bill-cycle-1" innerHTML="{{upgradePlanInfo?.current_billing_start_date_formate ? upgradePlanInfo?.current_billing_start_date_formate : undefinedText }} To
                    {{upgradePlanInfo?.current_billing_end_date_formate ? upgradePlanInfo?.current_billing_end_date_formate : undefinedText }}"></div>
                <hr class="mx-0" style="margin: 5px 0 10px;">
              </div>
              <div class="calc-box mb-3">
                <div class="text-dull" innerHTML="{{upgradePlanInfo?.allocated_emails | addCommasToNum}}"></div>
                <!--<div class="text-dull" innerHTML="{{upgradePlanInfo?.allocated_emails ? upgradePlanInfo?.allocated_emails : 0 }}"></div>-->
                <strong>Allocated emails</strong>
                <div *ngIf="upgradePlanInfo?.current_billing_end_date">
                  <span class="billing-cycle">Renews on: {{upgradePlanInfo?.renews_date}}</span>
                </div>

                <div *ngIf="!upgradePlanInfo?.current_billing_end_date">
                  <span class="billing-cycle">Renews on 1st of every month</span>
                </div>
              </div>
              <div class="calc-box mb-3">
                <div class="text-dull" innerHTML="{{upgradePlanInfo?.total_email_sent | addCommasToNum}}"></div>
                <strong>Used</strong>
              </div>
              <div class="calc-box mb-3" *ngIf="!hideOverageSection">
                <div class="text-dull" innerHTML="{{upgradePlanInfo?.overage_email_sent | addCommasToNum }}"></div>
                <strong>Overage</strong>
              </div>
              <div class="calc-box mb-3 mr-0" *ngIf="!hideOverageSection">
                <div class="text-dull"
                     innerHTML="${{upgradePlanInfo?.overage_charge ? upgradePlanInfo?.overage_charge : 0 }}"></div>
                <strong>Overage cost</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pie-credits">
          <app-simple-pie [credits]="pieCredits"></app-simple-pie>
      </div> -->
    </div>
    <div class="tab-box" [hidden]="showCurrentPlan || showAllPlans">
      <h4>Your Current Plan</h4>
      <app-alert [type]="'danger'" [dismissible]="false" [hidden]="!unpaidBillActive"
                 [value]="unpaidBillInfo"></app-alert>
      <app-alert class="mt-2 text-left" [type]="domainMsgType" [dismissible]="false" [hidden]="approvedDomain"
                 [value]="domainMsg"></app-alert>
      <app-alert [type]="'secondary'" [dismissible]="false" [hidden]="!downgradeRequestActive"
                 [value]="newPlanInfo"></app-alert>
      <app-alert [type]="'info'" [dismissible]="false" [hidden]="!upgradeSuccessActive"
                 [value]="upgradeSuccessInfo"></app-alert>
      <ng2-smart-table class="table-responsive" [settings]="currentPlan" [source]="currentPlanSource"></ng2-smart-table>
    </div>

    <div class="tab-box" [hidden]="!showAllPlans  || showPlanDeatils || showCurrentPlan">
      <div class="row">
        <div class="col-8">
          <h4>Change Plan</h4>
        </div>
        <div class="col-4">
          <button class="float-right btn back-btn" (click)="hideAllPlans()"><i class="icon-back align-middle"></i> Back
          </button>
        </div>
      </div>
      <ng2-smart-table class="table-responsive" [settings]="slabPlan" [source]="planSource"></ng2-smart-table>
      <!-- <button class="float-right" (click)="hideAllPlans()">Back</button> -->
      <div class="col-12 mt-4">
        <em>Send more than 5M emails/mo?</em>
        <!--<button class="btn btn-light" type="button" (click)="contactUs()">Contact us</button>-->
        <em><a class="text-link-dark" style="text-decoration: underline;" (click)="contactUs()">Contact us </a></em>
        <em>to get a custom quote</em>
      </div>
    </div>

    <!-- upgrade plan popup -->
    <div class="tab-box" [hidden]="!showPlanDeatils">
      <form [formGroup]="upgradeForm" [hidden]="showCardAdd">
        <div class="row">
          <div class="col-8">
            <h4>Upgrade Plan</h4>
          </div>
          <div class="col-4">
            <button type="button" class="float-right btn back-btn" (click)="cancel_plan_details()"><i
              class="icon-back align-middle"></i> Back
            </button>
            <!-- <button class="float-right btn back-btn" (click)="hideAllPlans()"><i class="icon-back align-middle"></i> Back</button> -->
          </div>
        </div>
        <hr class="mt-2 mb-3 ml-0 mr-0">
        <div class="alert alert-danger" *ngIf="upgradePlanInfo?.current_plan_remaining_emails">
          <i class="icon icon-secondary mr-2"></i>
          {{upgradePlanInfo?.current_plan_remaining_emails | addCommasToNum }} email credits of your current plan do not
          roll over upon upgrade.
        </div>
        <div class="alert alert-danger"
             *ngIf=" upgradePlanInfo?.earned_open_emails && upgradePlanInfo?.current_plan_coupon_code === 'PLAN-FREE'">
          <i class="icon icon-secondary mr-2"></i>
          All your Open free credits ({{upgradePlanInfo?.earned_open_emails ? upgradePlanInfo?.earned_open_emails : 0
          }})
          will get lapsed on the event of upgrade.
        </div>
        <div class="bill-details compaire-plan" style="width:615px;">
          <div class="calc-box mb-0 align-middle" style="opacity:0.7">
            <strong class="text-dull txt-15">Current plan</strong>
            <div class="price-email"
                 innerHTML="<h3>${{upgradePlanInfo?.current_plan_price ? upgradePlanInfo?.current_plan_price : 0 }}/<small>month</small></h3> <span> {{upgradePlanInfo?.current_plan_emails | addCommasToNum }} emails</span>"
                 style="opacity:0.7"></div>
            <!-- <div class="" innerHTML="{{upgradePlanInfo?.current_plan_price ? upgradePlanInfo?.current_plan_price : undefinedText }}for {{upgradePlanInfo?.current_plan_emails ? upgradePlanInfo?.current_plan_emails : undefinedText }} emails"></div> -->
          </div>
          <span class="compare-arrow align-middle"><i class="icon-right-arrow align-middle"></i></span>
          <div class="calc-box mb-0 align-middle">
            <strong class="text-dull txt-15">New plan</strong>
            <!-- <strong class="text-dull txt-15">You are trying to upgrade your account to</strong> -->
            <div class="price-email"
                 innerHTML="<h3>${{rowData?.plan_price ? rowData?.plan_price : 0 }}/<small>month</small> </h3> <span>{{rowData?.email_credits | addCommasToNum }} emails</span>"></div>
            <!-- <div class="" innerHTML="${{rowData?.plan_price ? rowData?.plan_price : undefinedText }} for {{rowData?.email_credits ? rowData?.email_credits : undefinedText }} emails"></div> -->
            <span class="billing-cycle">Billing cycle: </span>
            <p class="date-range d-inline billing-cycle" innerHTML="{{upgradePlanInfo?.new_billing_start_date_formate}}
                        - {{upgradePlanInfo?.new_billing_end_date_formate }}"></p>
          </div>
        </div>
        <!-- <div class="alert alert-danger">
          <i class="icon icon-secondary mr-2"></i>
          No credits ({{upgradePlanInfo?.current_plan_remaining_emails ? upgradePlanInfo?.current_plan_remaining_emails :
          undefinedText }}) of your exsiting plan will be carry forwarded to the new plan, it will lapse immediately on
          upgrade.
        </div> -->
        <p class="mb-3"><strong>Your upgrade will be effective today and you'll be billed a pro-rated/overage(if any)
          amount for your current billing cycle.</strong></p>
        <P><strong>BILL SUMMARY</strong></P>
        <div class="upgarde_details">
          <p>
            <strong>New plan cost</strong>
            <span class="text-dull float-right" innerHTML="${{rowData?.plan_price ? rowData?.plan_price : 0 }}"></span>
          </p>
          <p *ngIf="upgradePlanInfo?.prorated_discount">
            <strong>Prorated discount</strong>
            <span class="text-dull float-right"
                  innerHTML="${{upgradePlanInfo?.prorated_discount ? upgradePlanInfo?.prorated_discount : 0 }}"></span>
          </p>
          <p *ngIf="upgradePlanInfo?.overage_charge">
            <strong>Overage Charge</strong>
            <span class="text-dull float-right"
                  innerHTML="${{upgradePlanInfo?.overage_charge ? upgradePlanInfo?.overage_charge : 0 }}"></span>
          </p>
          <p *ngIf="upgradePlanInfo?.open_free_discount">
            <strong>Open Free Discount</strong>
            <span class="text-dull float-right"
                  innerHTML="${{upgradePlanInfo?.open_free_discount ? upgradePlanInfo?.open_free_discount : 0 }}"></span>
          </p>
          <hr>
          <p>
            <strong class="font-weight-bold h4">Total amount due</strong>
            <span class="text-dull float-right h4"
                  innerHTML="${{upgradePlanInfo?.total_amount_due ? upgradePlanInfo?.total_amount_due : 0 }}"></span>
          </p>
        </div>
        <!-- <p>
          <strong class="txt-15">Your new billing cycle will be</strong>
          <span class="text-dull" innerHTML="From {{upgradePlanInfo?.new_billing_start_date ? upgradePlanInfo?.new_billing_start_date : undefinedText }}
                to {{upgradePlanInfo?.new_billing_end_date ? upgradePlanInfo?.new_billing_end_date : undefinedText }}"></span>
        </p> -->
        <button type="button" class="btn btn-primary" (click)="upgrade_plan()">CONFIRM UPGRADE
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancel_plan_details()">I'll do later</button>
        <!--</div>-->
        <app-alert class="mt-2" [type]="addNewCardTypeNew3" [dismissible]="false"
                   [value]="addNewCardMsgNew3"></app-alert>
      </form>
    </div>

    <!-- Stripe card: Add, charge and make primary -->

    <div class="tab-box" [hidden]="!showCard">
      <h4>Add Payment Method</h4>
      <hr class="mt-2 mb-3 ml-0 mr-0">
      <p>You're required to have a payment method on file. Please add the card details below:</p>
      <app-stripe-card #card1 (statusChanges)="stripeCardStatusChanges($event)" (onCancel)="cancelAddNewCardUp()"
                       (onSubmit)="addNewCardStripeNew($event)"
                       [showButtons]="false"></app-stripe-card>
      <p>Your card will be auto charged at the end of each billing cycle.</p>
      <p>
        <em>By saving a credit card, you agree to our <a class="text-link-dark"
                                                         href="https://pepipost.com/terms-of-use/" target="_blank">Terms
          of Service</a>, and if you use it to
          pay for a subscription or plan, you authorize your card to be charged on a recurring basis until you cancel,
          which you can do at any time. You understand <a class="text-link-dark"
                                                          href="https://docs.pepipost.com/docs/how-does-subscription-work-at-pepipost"
                                                          target="_blank">how your subscription works</a>
          and <a class="text-link-dark"
                 href="https://docs.pepipost.com/docs/how-to-cancel-my-paid-account" target="_blank">how
            to cancel</a>.</em>
      </p>
      <button type="button" class="btn btn-primary" [disabled]="!isStripCardValid"
              (click)="addNewCardChargeAndMakePrimary()">Make Payment
      </button>
      <button type="button" class="btn btn-secondary btn-cancel" (click)="cancelAddNewCard()">Cancel
      </button>
      <app-alert class="mt-2" [type]="addNewCardTypeNew2" [dismissible]="false" [value]="addNewCardMsgNew2"></app-alert>
    </div>

    <!--Downgrade start -->

    <div class="tab-box" [hidden]="!showDowngradePlanDeatils">
      <div class="row">
        <div class="col-8">
          <h4>Downgrade Plan</h4>
        </div>
        <div class="col-4">
          <button type="button" class="float-right btn back-btn" (click)="cancel_downgrade()"><i
            class="icon-back align-middle"></i> Back
          </button>
        </div>
      </div>
      <hr class="mt-2 mb-3 ml-0 mr-0">
      <div class="alert alert-danger" *ngIf=" upgradePlanInfo?.earned_open_emails">
        <i class="icon icon-secondary mr-2"></i>
        All your Open free credits ({{upgradePlanInfo?.earned_open_emails ? upgradePlanInfo?.earned_open_emails : 0 }})
        will get lapsed on the event of downgrade.
      </div>
      <div class="bill-details compaire-plan">
        <div class="calc-box mb-3 align-middle" style="opacity:0.7">
          <strong class="text-dull txt-15">Current plan</strong>
          <div class="price-email"
               innerHTML="<h3>${{upgradePlanInfo?.current_plan_price }}/<small>month</small></h3> <span>{{upgradePlanInfo?.current_plan_emails | addCommasToNum }} emails</span>"
               style="opacity:0.7"></div>
          <!-- <span class="text-dull" innerHTML="{{upgradePlanInfo?.current_plan_price ? upgradePlanInfo?.current_plan_price : undefinedText }} for {{upgradePlanInfo?.current_plan_emails ? upgradePlanInfo?.current_plan_emails : undefinedText }} emails"></span> -->
        </div>
        <span class="compare-arrow align-middle">
      <i class="icon-right-arrow align-middle"></i>
    </span>
        <div class="calc-box mb-3 align-middle">
          <strong class="text-dull txt-15">New plan</strong>
          <div class="price-email"
               innerHTML="<h3>${{rowData?.plan_price }}/<small>month</small></h3> <span>{{rowData?.email_credits | addCommasToNum }} emails</span>"></div>
          <!-- <span class="text-dull" innerHTML="${{rowData?.plan_price ? rowData?.plan_price : undefinedText }} for {{rowData?.email_credits ? rowData?.email_credits : undefinedText }} emails"></span> -->
        </div>
        <p>
          In case of any overage, you will be charged for the current billing cycle as usual at the end of the cycle and
          the
          downgraded plan will be applicable from the next billing cycle.
        </p>
        <!-- <div class="alert alert-danger">
          <i class="icon icon-secondary mr-2"></i>
          All your Open free credits ({{upgradePlanInfo?.earned_open_emails ? upgradePlanInfo?.earned_open_emails : undefinedText
              }}) will get lapsed on the event of downgrade.
        </div> -->
        <button type="button" class="btn btn-primary" (click)="downgradePlan()">CONFIRM DOWNGRADE
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancel_downgrade()">I'll do later</button>
      </div>
    </div>


    <!-- Stripe card: Add card when card added card is invalid -->
    <div class="tab-box" [hidden]="!showCardDowngrade">
      <h4>Configure Card</h4>
      <hr class="mt-2 mb-3 ml-0 mr-0">
      <p>You're required to have a payment method on file. Please add the card details below:</p>
      <app-stripe-card #card2 (statusChanges)="stripeCardStatusChanges($event)" (onCancel)="cancelAddNewCard()"
                       (onSubmit)="addNewCardStripeNew($event)"
                       [showButtons]="false"></app-stripe-card>

      <button type="button" class="btn btn-primary" [disabled]="!isStripCardValid" (click)="addNewCardAndMakePrimary()">
        Add Card
      </button>
      <button type="button" class="btn btn-secondary btn-cancel" (click)="cancelAddNewCardDowngrade()">Cancel

      </button>
      <app-alert class="mt-2" [type]="addNewCardTypeNew1" [dismissible]="false" [value]="addNewCardMsgNew1"></app-alert>
    </div>


    <!--Downgrade End -->


    <div class="tab-box">
      <h4>Billing Contact</h4>
      <p>Address configured here will appear in your invoices.</p>
      <div class="clearfix" *ngIf="!editDetails">
        <a href="javascript:" (click)="editDetailsClick()" class="float-right text-link">
          <i class="icon-edit"></i>
          <span class="sr-only">Edit</span>
        </a>
        <p class="float-left">
          <strong>Name: </strong>
          <span class="text-dull"
                innerHTML="{{billingInfo?.bill_name ? billingInfo?.bill_name : undefinedText }}"></span>
          <br>
          <strong>Company / Organization: </strong>
          <span class="text-dull"
                innerHTML="{{billingInfo?.company_name ? billingInfo?.company_name : undefinedText }}"></span>
          <br>
          <strong>Phone Number: </strong>
          <span class="text-dull"
                innerHTML="{{billingInfo?.phone_number ? billingInfo?.phone_number : undefinedText}}"></span>
          <br>
          <strong>Tax ID: </strong>
          <span class="text-dull"
                innerHTML="{{billingInfo?.bill_tax_id ? billingInfo?.bill_tax_id : undefinedText }}"></span>
          <br>
          <strong>Billing Address: </strong>
          <span class="text-dull"
                innerHTML="{{billingInfo?.bill_address ? billingInfo?.bill_address : undefinedText }}"></span>
        </p>
      </div>
      <div class="row" *ngIf="editDetails">
        <div class="col-12">
          <form [formGroup]="billingEditForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="bold-label" for="billName">Name</label>
                  <input type="text" class="form-control" name="name" formControlName="bill_name" id="billName"
                         placeholder="John Smith">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="bold-label" for="companyName">Company / Organization</label>
                  <input type="text" class="form-control" name="company" formControlName="company_name" id="companyName"
                         placeholder="ABC Limited">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="bold-label" for="phoneNumber">Phone Number</label>
                  <input type="text" class="form-control" name="contact" formControlName="phone_number" id="phoneNumber"
                         placeholder="415 555 2671">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="bold-label" for="billTaxId">If you have a registered
                    <abbr title="Value-added tax">VAT</abbr> /
                    <abbr title="Goods and services tax">GST</abbr> / Tax ID, please provide:</label>
                  <input type="text" class="form-control" name="taxId" formControlName="bill_tax_id" id="billTaxId"
                         placeholder="12-3456789">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="bold-label" for="billAddress">Billing Address</label>
                  <textarea type="text" class="form-control" name="company_address" formControlName="bill_address"
                            id="billAddress" placeholder="Street Address, City, State, and ZIP code"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <app-alert [type]="editBillingType" [dismissible]="false" [value]="editBillingMsg"></app-alert>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="saveBillingInfo(billingEditForm.value)">
                  Save
                </button>
                <button type="button" class="btn btn-secondary mr-0" (click)="onCancelClick()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-box">
      <h4 class="mt-3">Card Details</h4>
      <div class="card-block blank" *ngIf="!addCard">
        <a href="#" (click)="addNewCard()">
          <div class="row">
            <div class="col-lg-9 col-sm-10">
              <i class="card-box"></i>
              <div>Add new Credit/Debit Card. We accept Visa, MasterCard, American Express and Discover cards.
                <br> Debit cards are only accepted in select geographies.
              </div>
            </div>
            <div class="col-lg-3 col-sm-2 justify-content-end">
              <i class="icon icon-add"></i>
            </div>
          </div>
        </a>
      </div>

      <div class="card-block" *ngFor="let card of addedCardList">
        <div class="row" *ngIf="!addCard">
          <div class="col-lg-6 col-sm-7">
            <i class="card-box" [ngClass]="card.brand | lowercase"></i>
            <div>
              <strong>{{card.name | uppercase}} xxxx-{{card.last4}}</strong>
              <br>
              <span class="text-dull">Expires {{card.exp_month}}/{{card.exp_year}}</span>
            </div>
          </div>
          <div class="col justify-content-end">
            <a href="#" class="text-link make-default disabled" *ngIf="card.id == primaryCard">Primary</a>
            <a href="#" (click)="deleteCard(card.id)" *ngIf="upgradePlanInfo?.current_plan_coupon_code === 'PLAN-FREE' && card.id === primaryCard">
              <i _ngcontent-c30="" class="icon icon-trash"></i>
            </a>
            <a href="#" class="text-link make-default" (click)="makePrimaryCard(card.id)"
               *ngIf="card.id != primaryCard">Make Primary</a>
            <a href="#" (click)="deleteCard(card.id)" *ngIf="card.id != primaryCard">
              <i _ngcontent-c30="" class="icon icon-trash"></i>
            </a>
          </div>
        </div>
      </div>
      <form [hidden]="!addCard">
        <app-alert [type]="'danger'" [dismissible]="false" [hidden]="!unpaidBillActive"
                   [value]="addNewCardAlertMsg"></app-alert>
        <app-stripe-card #card (onCancel)="cancelAddNewCard()" (onSubmit)="addNewCardStripe($event)"></app-stripe-card>
        <app-alert class="mt-2" [type]="addNewCardType" [dismissible]="false" [value]="addNewCardMsg"></app-alert>
        <p>
          <em>By saving a credit card, you agree to our <a class="text-link-dark"
                                                           href="https://pepipost.com/terms-of-use/">Terms of
            Service</a>, and if you use it to
            pay for a subscription or plan, you authorize your card to be charged on a recurring basis until you cancel,
            which you can do at any time. You understand <a class="text-link-dark" href="#">how your subscription
              works</a>
            and <a class="text-link-dark"
                   href="https://docs.pepipost.com/docs/how-to-cancel-my-paid-account">how to cancel</a>.</em>
        </p>
      </form>

      <app-alert class="mt-2" [type]="makePrimaryCardType" [dismissible]="false"
                 [value]="makePrimaryCardMsg"></app-alert>
    </div>

    <div class="tab-box">
      <!--hr class="mx-0"-->
      <h4 class="mt-3">Have a Promo Code?</h4>
      <p>If you have a promo code, please enter it below to receive your credit.</p>
      <form [formGroup]="promoCodeApply" class="mb-3">
        <div class="form-row">
          <div class="col-auto">
            <input class="form-control" type="text" name="promocode" placeholder="Promo Code"
                   formControlName="coupon_code" required
                   #promo_code>
          </div>
          <div class="col-auto">
            <button class="btn btn-tertiary" type="button" (click)="applyCoupon(promoCodeApply.value)"
                    [disabled]="!promoCodeApply.valid">Apply Code
            </button>
          </div>
        </div>
        <app-alert class="mt-2" [type]="promoCodeType" [dismissible]="false" [value]="promoCodeMsg"></app-alert>
      </form>
      <ng2-smart-table class="table-responsive" [settings]="settingsPromo" [source]="promoSource"></ng2-smart-table>
    </div>
  </div>
  <div class="sidebar-right">
    <app-help-section [helpSectionData]="helpSectionData">
    </app-help-section>
  </div>

  <!--<form [hidden]="!addCard">-->
    <!--<app-alert [type]="'danger'" [dismissible]="false" [hidden]="!unpaidBillActive" [value]="addNewCardAlertMsg"></app-alert>-->
    <!--<app-stripe-card #card (onCancel)="cancelAddNewCard()" (onSubmit)="addNewCardStripe($event)"></app-stripe-card>-->
    <!--<app-alert class="mt-2" [type]="addNewCardType" [dismissible]="false" [value]="addNewCardMsg"></app-alert>-->
    <!--<p>-->
      <!--<em>By saving a credit card, you agree to our <a class="text-link-dark" href="https://pepipost.com/terms-of-use/" target="_blank">Terms of Service</a>, and if you use it to-->
        <!--pay for a subscription or plan, you authorize your card to be charged on a recurring basis until you cancel,-->
        <!--which you can do at any time. You understand <a class="text-link-dark" href="http://help.pepipost.com/knowledge_base/topics/how-subscription-works-at-pepipost" target="_blank" >how your subscription works</a>-->
        <!--and <a class="text-link-dark" href="http://help.pepipost.com/knowledge_base/topics/how-to-cancel-my-paid-account" target="_blank">how to cancel</a>.</em>-->
    <!--</p>-->
  <!--</form>-->

  <!--<app-alert class="mt-2" [type]="makePrimaryCardType" [dismissible]="false" [value]="makePrimaryCardMsg"></app-alert>-->
</div>

<!--</div>-->

    <ng-template #customPricePopup let-c="close" let-d="dismiss">
      <form [formGroup]="customPriceForm">
        <div class="modal-header">
          <h4 class="modal-title">Request for a Custom Quote</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label bold-label" for="email_contactus">Your Email Address</label>
            <input type="text" placeholder="Type your email address" id="email_contactus" class="form-control"
                   formControlName="email_cnt">
            <small class="form-text text-danger" *ngIf="!customPriceForm.controls['email_cnt'].valid
        && customPriceForm.controls['email_cnt'].touched">Please enter your email address
            </small>

            <label class="col-form-label bold-label" for="email_contactus">Montly Volume</label>
            <input type="text" placeholder="Type your monthly volume" id="montly_vol_contactus" class="form-control"
                   formControlName="monthly_vol">
            <small class="form-text text-danger" *ngIf="!customPriceForm.controls['monthly_vol'].valid
        && customPriceForm.controls['monthly_vol'].touched">Please enter your monthly volume
            </small>


          </div>
          <div class="form-group">
        <textarea
          placeholder="We can design a plan that's right for you. Tell us what pricing you're looking at. We'll try our best to match."
          id="msg_contactus" rows="8" class="form-control"
          formControlName="msg_contactus"></textarea>
            <small class="form-text text-danger" *ngIf="!customPriceForm.controls['msg_contactus'].valid
        && customPriceForm.controls['msg_contactus'].touched">Please enter your requirements
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="!customPriceForm.valid"
                  (click)="sendContactUsDetails(customPriceForm.value)">Contact Sales
          </button>
          <button type="button" class="btn btn-secondary btn-cancel" (click)="c('Close click')">Cancel</button>
        </div>
        <app-alert class="mt-2" [type]="addNewCardTypeNew4" [dismissible]="false"
                   [value]="addNewCardMsgNew4"></app-alert>
      </form>
    </ng-template>
