<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Dedicated IP Request</h1>
      <!--initial window if data not present-->
      <div class="tab-box no-data">
        <img class="no-data-icon" src="assets/images/scientist-1.svg" alt="Sub admin">
        <h2 class="heading">Purchase dedicated IPs for your account</h2>
        <p>Dedicated IPs will help you to boost your deliverability of emails. <a href="google.com" target="_blank">Learn
          More</a></p>
        <button class="btn btn-primary" (click)="openDedicatedPopup()">Send request to get Dedicated IP</button>
        <p><span>Send request & our techniocal team will contact you shortly.</span></p>

      </div>
    </div>
  </div>
</div>
<!--bootstrap modal window for password change-->
<ng-template #dedicatedIpPopup let-c="close" let-d="dismiss">
  <form [formGroup]="dedicatedIpRequestFrm">
    <div class="modal-header">
      <h4 class="modal-title">Request Dedicated IP</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-form-label bold-label" for="noOfIp">Number of Dedicated IP Required</label>
        <input type="text" placeholder="Number of Dedicated IP Required" id="noOfIp" class="form-control"
               formControlName="noOfIp">
        <small class="form-text text-danger"
               *ngIf="!dedicatedIpRequestFrm.controls['noOfIp'].valid
           && dedicatedIpRequestFrm.controls['noOfIp'].touched
          ">Please enter number of Dedicated IP Required
        </small>

      </div>
      <div class="form-group">
        <label class="col-form-label bold-label" for="emailVolume">Monthly Email Volume</label>
        <input type="text" placeholder="Email volume" id="emailVolume"
               class="form-control" formControlName="emailVolume">
        <small class="form-text text-danger"
               *ngIf="!dedicatedIpRequestFrm.controls['emailVolume'].valid
        && dedicatedIpRequestFrm.controls['emailVolume'].touched
        ">Please enter total Email volume
        </small>
      </div>
      <div class="form-group">
        <label class="col-form-label bold-label" for="comments">Comments</label>
        <textarea placeholder="Please enter comments" id="comments" rows="5"
                  class="form-control" formControlName="comments"></textarea>
        <small class="form-text text-danger"
               *ngIf="!dedicatedIpRequestFrm.controls['comments'].valid
        && dedicatedIpRequestFrm.controls['comments'].touched">
          Please enter comments.
        </small>
      </div>
      <div class="form-froup">
        <span>Each dedicated IP cost for $20</span>
      </div>
      <app-alert [type]="type" [dismissible]="false" [value]="msg"></app-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              [disabled]="dedicatedIpRequestFrm.invalid"
              (click)="showRequestForDedicatedIp(dedicatedIpRequestFrm.value)">Contact Sales
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>
