<ngb-alert [hidden]="!child && !value" [type]="type" (close)="closeClick()" [dismissible]="dismissible"
           ngClass="{{classes}}">
  <i ngClass="icon icon-{{type}} mr-2"></i>
  <div [innerHTML]="value" [hidden]="!value" class="d-inline"></div>
  <ng-content *ngIf="!value"></ng-content>
</ngb-alert>
