<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Live Feed</h1>
      <div class="flex-body inner">
        <div class="flex-content">
          <!--initial window if data not present-->
          <div class="tab-box no-data" [hidden]="nodataFlag">
            <img class="no-data-icon" src="assets/images/radar.svg" alt="Real Time">
            <h2 class="heading">No emails sent yet</h2>
            <p>When you send any email using SMTP or API, it'll show up here in real time.</p>
            <hr>
            <p>Ready to get started?<br>
              We have designed a quick getting started guide which will help in sending your first email.</p>
            <a class="btn btn-default" target="_blank"
               href="https://docs.pepipost.com/docs/how-do-i-start-sending-email">Learn More
            </a>
          </div>
          <div class="tab-box" [hidden]="tableFlag">
            <div class="form-inline float-right mb-3">
              <div class="input-group input-addon addon-right live-feed-select">
                <select class="form-control select-menu" id="searchtype" #liveSelectedSearch
                        [(ngModel)]="searchType">
                  <option>Recipient Email</option>
                  <option>Sender Address</option>
                  <option>Status</option>
                </select>
                <select class="form-control select-menu right-side-menu" id="liveStatusSelected" #liveStatusSelected
                        *ngIf="searchType === 'Status'" (change)="onChange($event.target.value)">
                  <option value="all">All</option>
                  <option value="processed">Processing</option>
                  <option value="sent">Delivered</option>
                  <option value="bounce">Bounced</option>
                  <option value="hard bounce">Hard Bounced</option>
                  <option value="soft bounce">Soft Bounced</option>
                  <option value="invalid">Invalid</option>
                  <option value="dropped">Dropped</option>
                  <option value="open">Opened</option>
                  <option value="click">Clicked</option>
                  <option value="unsubscribe">Unsubscribed</option>
                  <option value="spam">Spam Reports</option>
                </select>
                <i class="icon icon-search icon-addon" *ngIf="searchType !== 'Status'"></i>
                <input #search class="form-control search-input" type="text" placeholder="Search..."
                       *ngIf="searchType !== 'Status'"
                       (keydown.enter)="onSearch(search.value, liveSelectedSearch.value)">
              </div>
              <label>
                <div class="input-date-range-picker mx-3" daterangepicker [options]="{ opens: 'left' }"
                     (selected)="selectedDate($event, mainInput)">
                  <a> <i class="icon-calendar"></i>
                    {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                  </a>
                </div>
              </label>
              <a class="text-link-dark" href="#" (click)="downloadLiveReport()">
                <i class="icon icon-download"></i><span class="sr-only">Download</span>
              </a>
            </div>
            <ng2-smart-table class="table-responsive py-3 custom-relative-tr" [settings]="settingsLivefeed"
                             [source]="dataSourceLivefeed" [hidden]="displayTagWiseValue">
            </ng2-smart-table>
          </div>
        </div>
        <div class="sidebar-right">
          <app-help-section [helpSectionData]="helpSectionData" [hidden]="tableFlag">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>
