<div class="sidebar-box">
  <h4>Helpful Links</h4>
  <ul class="list-unstyled link-group" *ngFor="let helpdata of helpFulData">

    <li><a class="text-link" href="{{helpdata.helpLink}}"
           target="_blank">{{helpdata.helpText}}</a></li>
  </ul>
</div>
