<!--display P0 alert -->
<ngb-alert class="alert-p0 alert-full text-center" *ngIf="alertText"
           (close)="closeClick()">
  <i class="icon icon-disabled"></i>
  <p [innerHTML]="alertText"></p>
</ngb-alert>
<!--end-->
<!--display account activation details-->
<ngb-alert class="alert-p1 alert-full text-center" *ngIf="!alertText && showActivation" [dismissible]="false">
  <!--<ngb-alert class="alert-p0 alert-full text-center" *ngIf="!alertText && showActivation"-->
  <!--(close)="closeActivationClick()">-->
  <label>{{activationMsg}} {{ activationEmail}}
  </label>&nbsp;
  <div *ngIf="!showEmail" class="mb-05rem ml-4">
    <a href="#" (click)="resendActivationLink()">Resend Activation Link</a> &nbsp;&nbsp;
    <a href="#" (click)="updateEmail()">Update Email</a>
  </div>
  <div *ngIf="showEmail" class="mb-05rem ml-3">
    <form [formGroup]="updateEmailFrm" class="form-inline">
      <input type="text" class="form-control mr-3" placeholder="user@example.com" formControlName="email">
      <small class="form-text text-danger error-5"
             *ngIf="updateEmailFrm.controls['email'].invalid && updateEmailFrm.controls['email'].touched">
        Please enter valid email
      </small>
      <small class="form-text text-danger error-5"
             *ngIf="emailExist">
        {{emailExist}}
      </small>
      <button class="btn btn-primary" (click)="saveNewEmail(updateEmailFrm.value)" [disabled]="updateEmailFrm.invalid">
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancelNewEmail()">Cancel</button>
    </form>
  </div>
</ngb-alert>
<!--end-->
<!--display success bar on resend ativation link-->

<ngb-alert *ngIf="showOnResend" class="alert-p0 alert-full text-center" (close)="closeResendActivation()">
  <p>Email with activation link sent to {{activationEmail}}
  </p>
</ngb-alert>
<!--end-->
<div class="header navbar-light navbar-expand-sm">
  <a routerLink="/dashboard" class="logo">PepiPost</a>
  <ul class="nav-right">
    <!--<li><strong>Credits: {{credits}}</strong></li>-->
    <!--commenting notificaton as discussed by Dibya-->
    <!--<li ngbDropdown placement="bottom-right">-->
    <!--<a ngbDropdownToggle class="notification" id="notification-bell" data-toggle="dropdown"-->
    <!--aria-expanded="false">-->
    <!--<i class="icon icon-notification"></i>-->
    <!--<span *ngIf="unreadCount >0"> {{unreadCount}}</span>-->
    <!--</a>-->
    <!--<div ngbDropdownMenu class="top-dropdown-menu notification-menu dropdown-menu" aria-labelledby="notification-bell">-->
    <!--<i class="dropdown-arr"></i>-->
    <!--<div class="notification-header clearfix">-->
    <!--<strong>Notifications</strong>-->
    <!--</div>-->
    <!--<div class="msg-list" *ngFor="let notification of notifications | slice : 0: 5">-->
    <!--<a href="#" (click)="notificationClick()" class="clearfix">-->
    <!--<div class="msg-area">-->
    <!--<div class="msg" [innerHTML]="notification.message"></div>-->
    <!--<span>{{notification.eventtime | fromNow}}</span>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<a href="#" (click)="notificationClick()" class="text-link-secondary">See all notifications</a>-->
    <!--</div>-->
    <!--</li>-->
    <li [hidden]="newUserFlag">
      <a class="text-link" href="https://app1.pepipost.com/index.php/home/index">Switch To Old</a>
    </li>
    <li ngbDropdown placement="bottom-right">
      <a ngbDropdownToggle class="user-profile" id="user-profile" data-toggle="dropdown"
         aria-expanded="false">
        <img appGravatar [email]="email" [size]="150" class="img-fluid rounded-circle profile-align-left">
        <span class="user-name">
          {{username}}
          <ng-container *ngIf="parentUserName"><br>(Admin : {{parentUserName}})</ng-container>
        </span>
        <i class="parent-name"></i>
      </a><br>

      <ul ngbDropdownMenu class="top-dropdown-menu profile-dropdown" aria-labelledby="user-profile">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a routerLink="/profile/details">Profile</a></li>
        <li class="dropdown-item"><a href="#" (click)="logout()">Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>
