<select name="select-timezone" id="select-timezone" class="{{classes}}"
        [ngModel]="selectedTimezone"
        (ngModelChange)="onSelectionChange($event)">
  <option *ngFor="let time of timezones" id="{{time.timezone}}" value="{{time.timezone}}">{{time.utcm | gmt}}
    {{time.timezone}}
  </option>
</select>
