<div class="tab-box">
  <h4>Billing Contact</h4>
  <p>Address configured here will appear in your invoices.</p>
  <div class="clearfix" *ngIf="!editDetails">
    <a href="javascript:" (click)="editDetailsClick()"
       class="float-right text-link"><i class="icon-edit"></i>
      <span class="sr-only">Edit</span></a>
    <p class="float-left">
      <strong>Name: </strong>
      <span class="text-dull"
            innerHTML="{{billingInfo?.bill_name ? billingInfo?.bill_name : undefinedText }}"></span><br>
      <strong>Company / Organization: </strong>
      <span class="text-dull"
            innerHTML="{{billingInfo?.company_name ? billingInfo?.company_name : undefinedText }}"></span><br>
      <strong>Phone Number: </strong>
      <span class="text-dull"
            innerHTML="{{billingInfo?.phone_number ? billingInfo?.phone_number : undefinedText}}"></span><br>
      <strong>Tax ID: </strong>
      <span class="text-dull"
            innerHTML="{{billingInfo?.bill_tax_id ? billingInfo?.bill_tax_id : undefinedText }}"></span><br>
      <strong>Billing Address: </strong>
      <span class="text-dull"
            innerHTML="{{billingInfo?.bill_address ? billingInfo?.bill_address : undefinedText }}"></span>
    </p>
  </div>
  <div class="row" *ngIf="editDetails">
    <div class="col-12">
      <form [formGroup]="billingEditForm" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="bold-label" for="billName">Name</label>
              <input type="text" class="form-control" name="name"
                     formControlName="bill_name" id="billName" placeholder="John Smith">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="bold-label" for="companyName">Company / Organization</label>
              <input type="text" class="form-control" name="company"
                     formControlName="company_name" id="companyName" placeholder="ABC Limited">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="bold-label" for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" name="contact"
                     formControlName="phone_number" id="phoneNumber" placeholder="415 555 2671">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="bold-label" for="billTaxId">If you have a registered
                <abbr title="Value-added tax">VAT</abbr> /
                <abbr title="Goods and services tax">GST</abbr> / Tax ID, please provide:</label>
              <input type="text" class="form-control" name="taxId"
                     formControlName="bill_tax_id" id="billTaxId" placeholder="12-3456789">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="bold-label" for="billAddress">Billing Address</label>
              <textarea type="text" class="form-control" name="company_address"
                        formControlName="bill_address" id="billAddress"
                        placeholder="Street Address, City, State, and ZIP code"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-alert [type]="editBillingType" [dismissible]="false" [value]="editBillingMsg"></app-alert>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="saveBillingInfo(billingEditForm.value)">
              Save
            </button>
            <button type="button" class="btn btn-secondary mr-0" (click)="onCancelClick()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="specialPrice" *ngIf="!postpaidPlan">
    <hr class="mx-0">
    <div class="row">
      <div class="col-12">
        <h4 class="float-left">Auto Renew</h4>
        <app-ui-switch-text class="float-right d-inline-flex"
                            [checked]="autoRenew"
                            [size]="'small'" (change)="autoRenewStatus($event)">
        </app-ui-switch-text>
      </div>
      <div class="col-12" *ngIf="autoRenew">
        <p>Card will be auto charged based on the below set auto renew rules.</p>
      </div>
      <div class="col-12">
        <form [formGroup]="autoRenewApply">
          <div class="form-inline">
            <p>
              <span *ngIf="!autoRenew">Don't risk running out of credits. Configure your credit card and enable the auto-renew to enjoy a uninterrupted service.</span>
              <span *ngIf="autoRenew">
                <strong [hidden]="autoRenewEditMode">${{autoRenewApply.value.amount}} </strong>
                <a [hidden]="autoRenewEditMode" class="text-link" href="#" (click)="autoRenewEditClick()">
                <i class="icon-edit"></i></a>
                <span [hidden]="!autoRenewEditMode">$</span>
                <input [hidden]="!autoRenewEditMode" class="form-control" type="number" min="10" max="100"
                       placeholder="100"
                       formControlName="amount">
                  will be auto debited from your account upon reaching
                <strong [hidden]="autoRenewEditMode">{{autoRenewApply.value.threshold}}% </strong>
                <a [hidden]="autoRenewEditMode" class="text-link" href="#" (click)="autoRenewEditClick()">
                <i class="icon-edit"></i></a>
                <input [hidden]="!autoRenewEditMode" class="form-control" type="number" min="10" max="100"
                       placeholder="90"
                       formControlName="threshold"><span [hidden]="!autoRenewEditMode">%</span>
                  of email credit limits.
                <button class="btn btn-primary" type="button" (click)="autoRenewSave(autoRenewApply.value)"
                        [disabled]="!autoRenewApply.valid" [hidden]="!autoRenewEditMode">Save
                </button>
              </span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-alert [type]="autoRenewType" [dismissible]="false" [value]="autoRenewMsg"></app-alert>

  <app-alert [type]="autoRenewSaveType" [dismissible]="false" [value]="autoRenewSaveMsg"></app-alert>

  <hr class="mx-0">

  <h4 class="mt-3">Card Details</h4>
  <div class="card-block blank" *ngIf="!addCard">
    <a href="#" (click)="addNewCard()">
      <div class="row">
        <div class="col-lg-9 col-sm-10">
          <i class="card-box"></i>
          <div>Add new Credit/Debit Card. We accept Visa, MasterCard, American Express and Discover cards.<br>
            Debit cards are only accepted in select geographies.</div>
        </div>
        <div class="col-lg-3 col-sm-2 justify-content-end">
          <i class="icon icon-add"></i>
        </div>
      </div>
    </a>
  </div>

  <div class="card-block" *ngFor="let card of addedCardList">
    <div class="row" *ngIf="!addCard">
      <div class="col-lg-6 col-sm-7">
        <i class="card-box" [ngClass]="card.brand | lowercase"></i>
        <div>
          <strong>{{card.name | uppercase}} xxxx-{{card.last4}}</strong><br>
          <span class="text-dull">Expires {{card.exp_month}}/{{card.exp_year}}</span>
        </div>
      </div>
      <div class="col justify-content-end">
        <a href="#" class="text-link make-default disabled" *ngIf="card.id == primaryCard">Primary</a>
        <a href="#" class="text-link make-default" (click)="makePrimaryCard(card.id)"
           *ngIf="card.id != primaryCard">Make Primary</a>
      </div>
    </div>
  </div>
  <form [hidden]="!addCard">
    <app-stripe-card #card (onCancel)="cancelAddNewCard()" (onSubmit)="addNewCardStripe($event)"></app-stripe-card>
    <app-alert class="mt-2" [type]="addNewCardType" [dismissible]="false" [value]="addNewCardMsg"></app-alert>
  </form>

  <app-alert class="mt-2" [type]="makePrimaryCardType" [dismissible]="false" [value]="makePrimaryCardMsg"></app-alert>

  <hr class="mx-0">

  <h4 class="mt-3">Promo Code</h4>
  <p>If you have a promo code, please enter it below to receive your credit.</p>
  <form [formGroup]="promoCodeApply" class="mb-3">
    <div class="form-row">
      <div class="col-auto">
        <input class="form-control" type="text" name="promocode" placeholder="Promo Code"
               formControlName="coupon_code" required #promo_code>
      </div>
      <div class="col-auto">
        <button class="btn btn-tertiary" type="button" (click)="applyCoupon(promoCodeApply.value)"
                [disabled]="!promoCodeApply.valid">Apply Code
        </button>
      </div>
    </div>
    <app-alert class="mt-2" [type]="promoCodeType" [dismissible]="false" [value]="promoCodeMsg"></app-alert>
  </form>
  <ng2-smart-table class="table-responsive" [settings]="settingsPromo"
                   [source]="promoSource"></ng2-smart-table>

</div>
