<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">Dashboard</h1>
        </div>
        <div class="col-12">
          <div class="flex-body inner">
            <div class="flex-content" #flexContent>
              <div class="tab-box no-padding tooltip-wide">
                <ngb-tabset [justify]="'justified'" type="red-underline" [destroyOnHide]="false"
                            (tabChange)="onTabChange()">
                  <ngb-tab title="Historical" class="p-4">
                    <ng-template ngbTabContent>
                      <div class="tab-graph">
                        <div class="chart-container" [hidden]="tableFlag">
                          <div class="row">
                            <div class="col-12">
                              <div class="float-right form-inline">
                                <div class="input-date-range-picker mb-3 mr-3" daterangepicker
                                     (applyDaterangepicker)="applyDate($event)" [options]="{ opens: 'left' }"
                                     (selected)="selectedDate($event, mainInput)">
                                  <a> <i class="icon-calendar"></i>
                                    {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}</a>
                                  <i class="icon-dull icon-success"
                                     ngbTooltip="Data in dashboard history for today's date
                                      will get updated in every 3 hours">
                                  </i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="live-labels" [hidden]="false">
                            <div class="live-label label-line-color-1">
                              <div class="label-line"><span class="count">{{ history_request_count}}</span></div>
                              <div class="label-line">Requests</div>
                            </div>
                            <div class="live-label label-line-color-2">
                              <div class="label-line">
                                <span class="count">{{ history_delivered_count}}</span>
                                <span class="percent">{{ history_delivered_percent}}</span>
                              </div>
                              <div class="label-line">Delivered</div>
                            </div>
                            <div class="live-label label-line-color-3">
                              <div class="label-line">
                                <span class="count">{{ history_bounced_count}}</span>
                                <span class="percent">{{ history_bounced_percent}}</span>
                              </div>
                              <div class="label-line">Bounces</div>
                            </div>
                            <div class="live-label label-line-color-4">
                              <div class="label-line">
                                <span class="count">{{ history_dropped_count}}</span>
                                <span class="percent">{{ history_dropped_percent }}</span>
                              </div>
                              <div class="label-line">Drops</div>
                            </div>
                            <div class="live-label label-line-color-5">
                              <div class="label-line">
                                <span class="count">{{ history_open_count}}</span>
                                <span class="percent">{{ history_open_percent }}</span>
                              </div>
                              <div class="label-line">Opened</div>
                            </div>
                            <div class="live-label label-line-color-6">
                              <div class="label-line">
                                <span class="count">{{ history_clicks_count}}</span>
                                <span class="percent">{{ history_clicks_percent}}</span>
                              </div>
                              <div class="label-line">Clicked</div>
                            </div>
                            <div class="live-label label-line-color-7">
                              <div class="label-line">
                                <span class="count">{{ history_unsubscribe_count}}</span>
                                <span class="percent">{{ history_unsubscribe_percent }}</span>
                              </div>
                              <div class="label-line">Unsubscribes</div>
                            </div>
                            <div class="live-label label-line-color-8">
                              <div class="label-line">
                                <span class="count">{{ history_abuse_count}}</span>
                                <span class="percent">{{ history_abuse_percent }}</span>
                              </div>
                              <div class="label-line">Spam Reports</div>
                            </div>
                          </div>
                          <ngx-charts-line-chart [hidden]="false"
                                                 (window:resize)="onResize()"
                                                 [autoScale]="true"
                                                 [view]="view"
                                                 [results]="historyData"
                                                 [xAxis]="true"
                                                 [yAxis]="true"
                                                 [legend]="true"
                                                 [showXAxisLabel]="false"
                                                 [showYAxisLabel]="true"
                                                 [yAxisLabel]="'No. of Emails'"
                                                 [scheme]="colorScheme"
                          >
                          </ngx-charts-line-chart>
                        </div>
                        <!--when data is not present display default blank window-->
                        <div class="no-data" [hidden]="nodataFlag">
                          <img class="no-data-icon" src="assets/images/monitor-with-stats.svg" alt="Real Time">
                          <h2 class="heading">Hmm... You don't have any reports yet</h2>
                          <p>After you send your first batch of emails, you'll be able to see both real time and
                            historical reports on how it performed,
                            how many opened it, and more!</p>
                        </div>
                      </div>
                      <!--end-->
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Real Time Summary">
                    <ng-template ngbTabContent class="clearfix">
                      <div class="chart-container">
                        <!--when data is not present display default blank window-->
                        <div class="text-center" [hidden]="true">
                          <img class="mt-3" src="assets/images/warning.svg" width="225" alt="Warning">
                          <h2 class="text-dull mt-4">Whoopss!</h2>
                          <p><strong>You have not sent any emails yet!</strong></p>
                        </div>
                        <!--end-->
                        <div class="tab-graph" [hidden]="false">
                          <!-- TODO: numbers to millions with m symbol -->
                          <div class="live-labels">
                            <div class="live-label label-line-color-1">
                              <div class="label-line">
                                <span class="count">{{ realtime_request_count}}</span>
                              </div>
                              <div class="label-line">Requests</div>
                            </div>
                            <div class="live-label label-line-color-2">
                              <div class="label-line">
                                <span class="count">{{realtime_delivered_count}}</span>
                                <span class="percent">{{realtime_delivered_percent}}</span>
                              </div>
                              <div class="label-line">Delivered</div>
                            </div>
                            <div class="live-label label-line-color-3">
                              <div class="label-line">
                                <span class="count">{{ realtime_bounced_count}}</span>
                                <span class="percent">{{realtime_bounced_percent}}</span>
                              </div>
                              <div class="label-line">Bounces</div>
                            </div>

                            <div class="live-label label-line-color-4">
                              <div class="label-line">
                                <span class="count">{{ realtime_dropped_count}}</span>
                                <span class="percent">{{ realtime_dropped_percent}}</span>
                              </div>
                              <div class="label-line">Drops</div>
                            </div>

                            <div class="live-label label-line-color-5">
                              <div class="label-line">
                                <span class="count">{{ realtime_open_count}}</span>
                                <span class="percent">{{realtime_open_percent}}</span>
                              </div>
                              <div class="label-line">Opened</div>
                            </div>

                            <div class="live-label label-line-color-6">
                              <div class="label-line">
                                <span class="count">{{ realtime_clicks_count}}</span>
                                <span class="percent">{{realtime_clicks_percent}}</span>
                              </div>
                              <div class="label-line">Clicked</div>
                            </div>
                            <div class="live-label label-line-color-7">
                              <div class="label-line">
                                <span class="count">{{ realtime_unsub_count}}</span>
                                <span class="percent">{{realtime_unsub_percent}}</span>
                              </div>
                              <div class="label-line">Unsubscribes</div>
                            </div>
                            <div class="live-label label-line-color-8">
                              <div class="label-line">
                                <span class="count">{{ realtime_spam_count}}</span>
                                <span class="percent">{{realtime_spam_percent}}</span>
                              </div>
                              <div class="label-line">Spam Reports</div>
                            </div>
                          </div>
                          <ngx-charts-line-chart
                            (window:resize)="onResize()"
                            [autoScale]="false"
                            [view]="view"
                            [results]="realtimeData"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="true"
                            [showXAxisLabel]="false"
                            [showYAxisLabel]="true"
                            [yAxisLabel]="'No. of Emails'"
                            [scheme]="colorScheme"
                            [gradient]="true"
                            [animations]="false">
                          </ngx-charts-line-chart>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
              <div class="tab-box" [hidden]="totalRecords ">
                <h4>Hey! We noticed you haven't imported a suppression list.
                  <i class="icon icon-bulb-glowing text-warning"></i></h4>
                <p>If you are coming from a previous email service provider, you should first import your suppression
                  list. This is a very important step towards maintaining your Sender Reputation. Learn more about
                  suppression list here.</p>
                <button class="btn btn-default" (click)="redirectToSuppression()">Import Suppression</button>
              </div>
              <!--<div class="tab-box">
                <h4 class="float-left">User Summary</h4>
                <p class="text-dull float-right">Active users : 12900</p>
                <ngx-charts-line-chart
                  (window:resize)="onResize()"
                  [autoScale]="true"
                  [view]="view"
                  [results]="userSummaryData"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="true"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="true"
                  [yAxisLabel]="'No. of Users'"
                  [scheme]="colorSchemeUserSummary"
                  *ngIf="userSummaryData.length > 0">
                </ngx-charts-line-chart>
              </div>-->
            </div>
            <div class="sidebar-right">
              <div class="sidebar-box" [hidden]="stepList.length === 0">
                <h4>Get Started</h4>
                <app-process-wizard-text [currentStep]="stepCount"
                                         [stepList]="stepList"
                                         (stepClick)="onStepClick($event)"></app-process-wizard-text>
              </div>
              <!--pie chart sidebar start-->
              <div class="sidebar-box" *ngIf="!showPieNew && (subaccount)"
                   [hidden]="(!pepipostClient && !falconPrepaidClient ) || postPaidClient">
                <h4>Your Credits</h4>
                <div class="text-center" [hidden]="!unlimitedCodeApplied">
                  <p>Unlimited<br></p>
                  <button *ngIf="!subaccount" class="btn btn-primary" (click)="addCredit()">Add Credits</button>
                </div>

                <div class="text-center" [hidden]="unlimitedCodeApplied">
                  <p [hidden]="!showPieTopText" class="font-weight-semibold">
                    <strong>The free <span class="primary-focus">{{showEmailCredits}}</span>
                      will be renewed</strong>
                  </p>
                  <app-simple-pie [credits]="pieCredits"></app-simple-pie>
                  <p [hidden]="falconPrepaidClient"><strong>Total Saving</strong><br><strong>{{totalSaving |
                    addCommasToNum}}</strong> Earned email credits
                    <i class="icon-help icon-dull"
                       ngbTooltip="Pepipost doesn't charge for emails which gets open. Hence, all email opens will get accumulated as Free Credits to redeeem."></i>
                    <br>(approx ${{approxValue}} savings)
                  </p>
                  <button class="btn btn-primary" (click)="addCredit()"
                          *ngIf="!hideAddCredits && !subaccount && accountStatus">Add Credits
                  </button>
                </div>
              </div>
              <!--pie chart sidebar end-->

              <!--New pricing  pie chart sidebar start-->
              <div class="sidebar-box" *ngIf="showPieNew && (!subaccount)">
                <h4>Your Credits</h4>

                <div class="text-center">
                  <p [hidden]="!showPieTopText" class="font-weight-semibold">
                    <strong>The free <span class="primary-focus">{{showEmailCredits}}</span>
                      will be renewed</strong>
                  </p>
                  <app-simple-pie [credits]="pieCreditsNew"></app-simple-pie>
                  <p><strong>Total Saving</strong><br><strong>{{newTotalSaving | addCommasToNum}}</strong> Earned email
                    credits
                    <i class="icon-help icon-dull"
                       ngbTooltip="Pepipost doesn't charge for emails which gets open. Hence, all email opens will get accumulated as Free Credits to redeem."></i>
                    <br>(approx ${{newApproxValue}} savings)
                  </p>
                  <button class="btn btn-primary" *ngIf="accountStatus" (click)="managePlan()">Manage Plan</button>
                </div>
              </div>
              <!--New pricing pie chart sidebar end-->

              <!--warm up sidebar start-->
              <div class="sidebar-box" [hidden]="warmupFlag">
                <h4>Your Warm Up Slab</h4>
                <div class="text-center">
                  <div class="slab-container mb-3">
                    <div class="line"></div>
                    <div class="slabs">
                      <div *ngFor="let warmUpData of warmUpSidebarData"
                           [ngClass]="warmUpData?.slab_id === activeWarmUpDetails?.slab_id ? 'slab active' : 'slab'">
                        <i class="icon icon-lock"></i>
                        <div class="title">{{warmUpData?.volume | addCommasToNum}}
                          <span *ngIf="warmUpData?.slab_id === activeWarmUpDetails?.slab_id"><br>emails/day</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <app-alert [type]="warmUpErrorType" [dismissible]="false" [value]="warmUpErrorMsg"></app-alert>
                  <button class="btn btn-primary" (click)="redirectToWarmUp()">Scale Up</button>
                  <a href="https://pepipost.com/blog/warmup/" class="text-link d-block" target="_blank">What is warm
                    up?</a>
                </div>
              </div>
              <!--warm up sidebar end-->

              <!--upgrade sidebar start-->
              <!--<div class="sidebar-box" [hidden]="subaccount">-->
              <div class="sidebar-box"
                   [hidden]="!pepipostClient || postPaidClient || paidClient || falconPrepaidClient || hideAddCredits || subaccount">
                <h4>Upgrade Your Account</h4>
                <div class="text-center">
                  <img class="mt-3 mb-3 img-fluid" src="assets/images/upgrade-account.png" alt="Upgrade Account">
                </div>
                <ul class="step-list">
                  <li>$0.20 per 1000 emails</li>
                  <li>Post warm up no daily limit on emails</li>
                  <li>No limit on sending domain</li>
                  <li>SMTP & APIs, Live reports, 24X7 Chat support, Webhooks & Subuser Management</li>
                </ul>
                <div class="text-center">
                  <button class="btn btn-primary" (click)="redirectToUpgradeAccount()">Upgrade</button>
                </div>
              </div>
              <!--upgrade sidebar end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
