<nav class="main-nav" [hidden]="!showMenu" id="mainMenu">
  <ul>
    <li routerLinkActive="active"><a routerLink="/dashboard" title="Dashboard">
      <i class="icon icon-dashboard"></i><span class="level-0">Dashboard</span></a>
    </li>
    <li routerLinkActive="active"><a routerLink="/live" title="Live Feeds"><i class="icon icon-live"></i><span
      class="level-0">Live Feeds</span></a>
    </li>
    <li routerLinkActive="active" class="has-sub submenu2">
      <a title="Analytics"><i class="icon icon-analytics"></i><span class="level-0">Analytics</span></a>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/analytics/mail-summary">Analytics</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/analytics/subaccount-analytics"
             *ngIf="(!subaccount) && (!hideSubUserMenu1) && (newMater) && accountStatus">Subaccount
            Analytics</a>
        </li>
        <!--<li routerLinkActive="active">-->
        <!--<a routerLink="/analytics/compare-sub-analytics" *ngIf="(!subaccount) && (!hideSubUserMenu1)&& (newMater)">Compare-->
        <!--Subaccount Analytics</a>-->
        <!--</li>-->
      </ul>
    </li>
    <!--<li class="has-sub submenu1">
      <a routerLink="/analytics"><i class="icon icon-analytics"></i><span class="level-0">Analytics</span></a>
      <ul>
        <li><a routerLink="/analytics/mail-summary">Mail Summary</a></li>
        <li><a routerLink="/analytics/isp-report">ISP Report</a></li>
        <li><a routerLink="/analytics/geo">Geo</a></li>
        <li><a routerLink="/analytics/device-wise">Device Wise</a></li>
        <li><a routerLink="/analytics/time-wise">Time Wise</a></li>
        <li><a routerLink="/analytics/webhook">Webhook</a></li>
        <li><a routerLink="/analytics/api-report">API Report</a></li>
      </ul>
    </li>-->
    <li routerLinkActive="active"><a routerLink="/suppression" title="Suppressions"><i
      class="icon icon-mail-not"></i><span
      class="level-0">Suppressions</span></a>
    </li>
    <!--Old pricing-->
    <li routerLinkActive="active" class="has-sub submenu2" [hidden]="!hideBillingMenu"
        *ngIf="!hideOldBillingMenu && accountStatus">
      <a title="Billing"><i class="icon icon-billing"></i><span class="level-0">Billing</span></a>
      <ul>
        <li routerLinkActive="active" *ngIf="!hideBilling">
          <a routerLink="/billings/details">Billing</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/subaccount-log"
             *ngIf="falconide && accountStatus && hideOldBillingMenu">Subaccount
            Log</a>
        </li>
        <li routerLinkActive="active" [hidden]="hideCreditManagement || hideCreditManagement1 || postpaidClient">
          <a routerLink="/billings/credit-management">Earned Email Credits</a>
        </li>
      </ul>
    </li>
    <!--New Pricing postpaid client only billing section apart from subaccount logs-->
    <li routerLinkActive="active" class="has-sub submenu2" [hidden]="!hideBillingMenu"
        *ngIf="hideOldBillingMenu && accountStatus">
      <a title="Billing"><i class="icon icon-billing"></i><span class="level-0">Billing</span></a>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/billings/postpaid-billing" *ngIf="!subaccount">Billing</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/subaccount-billing" *ngIf="subaccount">Billing</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/account-log" *ngIf="subaccount && accountStatus">Account Log</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/subaccount-log"
             *ngIf="(!subaccount) && (!hideSubUserMenu1)&& (newMater)">Subaccount
            Log</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/postpaid-credit-management" *ngIf="!subaccount">Savings</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/billings/dedicated-ip" *ngIf="(!subaccount) && (!hideSubUserMenu1)&& (newMater)">Dedicated IP
            Request</a>
        </li>
      </ul>
    </li>


    <li routerLinkActive="active" class="has-sub submenu3">
      <a title="Settings"><i class="icon icon-settings"></i><span class="level-0">Settings</span></a>
      <ul>
        <li routerLinkActive="active"><a routerLink="/settings/domain">Sending Domains</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/integration">Integrations</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/mail-settings">Mail Settings</a></li>
        <li routerLinkActive="active"><a routerLink="//settings/webhooks">Webhooks</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/manage-tags">Tags</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/sub-accounts"
                                         *ngIf="(!subaccount) && (!hideSubUserMenu1)&& (newMater) && accountStatus">Subaccounts</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/settings/template">Templates</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/sub-user-management" [hidden]="hideSubUserMenu1"
                                         *ngIf="!hideSubUserMenu && accountStatus && !subaccount && (!newMater)">Sub-users</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/settings/warmup" [hidden]="hideWarmup">Warmup Plan</a></li>
        <li routerLinkActive="active"><a routerLink="/settings/mail-alerts">Mail Alerts</a></li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="https://docs.pepipost.com" target="_blank" title="Help">
        <i class="icon icon-help"></i>
        <span class="level-0">Help</span>
      </a>
    </li>
  </ul>
</nav>
