<div class="flex-body inner">
  <div class="flex-content">
    <div class="tab-box">
      <div class="row">
        <div class="col-12">
          <span class="float-left">Usage summary of Master account and associated Subaccounts</span>
          <div class="float-right form-inline">
            <input #search class="form-control search-input" type="text" placeholder="Search by Username"
                   (keydown.enter)="onSearch(search.value)">
            <div class="input-date-range-picker mx-3" daterangepicker
                 [options]="{ opens: 'left' }"
                 (selected)="selectedDate($event, dateInput)">
              <a> <i class="icon-calendar"></i>
                {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}</a>
            </div>
            <a href="javascript:void(0)" class="text-link-dark" (click)="downloadusageSummary()"><i class="icon icon-download"></i></a>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12">
          <!--<p>Usage summary of master account & associated subaccounts</p>-->
          <ng2-smart-table class="table-responsive" [settings]="usageSummarytSettings"
                           [source]="usageSummaryTabelSource"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>
