<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title float-left">Template Preview</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="template-preview">
  <div class="template-header">
    <div class="float-left">
      <span><strong>Template Name:</strong> {{templateName}}</span>
      <span class="ml-md-5"><strong>Template ID:</strong> {{templateId}}
        <i class="icon-help icon-dull" placement="bottom"
           ngbTooltip="This is the template ID which you need to be use while calling the API call"></i>
      </span>
    </div>
    <div class="float-right">
      <a href="#" class="text-link-dark btn" (click)="editTemplateClick(templateId)"><i class="icon-edit"></i></a>
      <a href="#" class="text-link-dark btn" (click)="goBack()">Back</a>
    </div>
  </div>
  <iframe class="flex-body" #previewFrame frameborder="0">

  </iframe>
</div>
