<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="page-title">Mail Alerts</h1>
      <!--initial window if data not present-->
      <div class="tab-box no-data" [hidden]="nodataFlag">
        <img class="no-data-icon" src="assets/images/mail-alert.svg" alt="No Data">
        <h2 class="heading">You don't have any saved alerts.</h2>
        <p>Seems you have not set any mail alerts yet.
          You can set rules to receive periodic email notification of your credit usage, account reputation and lots
          more.</p>
        <button class="btn btn-primary" (click)="showAddAlerts()">Add Alerts</button>
      </div>
      <div class="tab-box" [hidden]="tableFlag">
        <h5>Add Alert</h5>
        <form [formGroup]="mailAlertForm">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="bold-label" for="alert_type">Add Type</label>
              <select class="form-control" #alert_type id="alert_type" [(ngModel)]="selectType"
                      formControlName="alert_type" (change)="showHideThreshold($event)">
                <option *ngFor="let type of typeData" value="{{type.alertid}}">
                  {{type.alert_type}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label class="bold-label" [hidden]="!dispThreshlod" for="alert_threshold">Threshold </label>
              <input [hidden]="!dispThreshlod" type="text" placeholder="Enter threshold value"
                     class="form-control" id="alert_threshold" formControlName="alert_threshold">
            </div>
            <div class="form-group col-md-2">
              <label class="bold-label" for="alert_frequency">Frequency</label>
              <select class="form-control" id="alert_frequency" formControlName="alert_frequency"
                      value="Daily" required [(ngModel)]="frequencySelected">
                <option *ngFor="let frequency of frequencyData" value="{{frequency}}">
                  {{frequency}}
              </select>
            </div>
            <div class="form-group col-md-4">
              <label class="bold-label" for="alert_email">Email Address</label>
              <input type="text" placeholder="Multiple email address with comma separated are allowed"
                     class="form-control" id="alert_email" formControlName="alert_email" required #alert_email>
            </div>
            <div class="col-12">
              <button class="btn btn-primary my-2" type="button"
                      [disabled]="!mailAlertForm.valid"
                      (click)="addAlert(mailAlertForm.value)">Save
              </button>
              <app-alert [type]="type" [dismissible]="false" [value]="msg"></app-alert>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <small class="form-text text-danger"
                   *ngIf="!mailAlertForm.controls['alert_type'].valid && mailAlertForm.controls['alert_type'].touched">
              Please select type
            </small>
            <small class="form-text text-danger"
                   *ngIf="!mailAlertForm.controls['alert_threshold'].valid && mailAlertForm.controls['alert_threshold'].touched">
              Please enter valid threshold
            </small>
            <small class="form-text text-danger"
                   *ngIf="!mailAlertForm.controls['alert_frequency'].valid && mailAlertForm.controls['alert_frequency'].touched">
              Please select frequency
            </small>
            <small class="form-text text-danger"
                   *ngIf="!mailAlertForm.controls['alert_email'].valid && mailAlertForm.controls['alert_email'].touched">
              Please enter valid email
            </small>
          </div>
        </div>
        <ng2-smart-table [settings]="settings" [hidden]="tableDisplayFlag"
                         [source]="alertsSource">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</div>
<!--bootstrap modal window-->
<ng-template #confirmPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure? </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You're about to delete this Mail Alert. Please click the DELETE button below to confirm.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteMailAlert(tableAlertId)">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
<!--edit mailalert modal window-->

<ng-template #editMailAlertPopup let-c="close" let-d="dismiss">
  <form [formGroup]="editMailAlertForm">
    <div class="modal-header">
      <h4 class="modal-title">Edit Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="bold-label" for="edit_alert_type">Alert Type</label>
        <!--The drop down is readonly coz the alert type will be the master type-->
        <fieldset [disabled]="true">
          <select class="form-control disabled" #edit_alert_type id="edit_alert_type" [(ngModel)]="edit_selectType"
                  formControlName="edit_alert_type" (change)="showHideThreshold($event)">
            <option *ngFor="let type of typeData" value="{{type.alertid}}">
              {{type.alert_type}}
            </option>
          </select>
        </fieldset>
      </div>
      <div class="form-group">
        <label class="bold-label" [hidden]="!edit_dispThreshlod" for="edit_alert_threshold">Threshold </label>
        <input [hidden]="!edit_dispThreshlod" type="text" placeholder="Enter threshold value"
               [(ngModel)]="edit_thresholdSelected"
               class="form-control" id="edit_alert_threshold" formControlName="edit_alert_threshold">
        <small class="form-text text-danger"
               *ngIf="!editMailAlertForm.controls['edit_alert_threshold'].valid && editMailAlertForm.controls['edit_alert_threshold'].touched">
          Please enter valid threshold
        </small>
      </div>
      <div class="form-group">
        <label class="bold-label" for="edit_alert_frequency">Frequency</label>
        <select class="form-control" id="edit_alert_frequency" formControlName="edit_alert_frequency"
                required [(ngModel)]="edit_frequencySelected" (change)="editFrequncy($event)">
          <option *ngFor="let frequency of frequencyData" value="{{frequency}}">
            {{frequency}}
        </select>
      </div>
      <div class="form-group">
        <label class="bold-label" for="edit_alert_email">Email Address
          <small class="">(Multiple email address with comma separated are allowed)
          </small>
        </label>
        <input type="text" placeholder="Type your email address" [(ngModel)]="edit_emailSelected"
               class="form-control" id="edit_alert_email" formControlName="edit_alert_email" required #edit_alert_email>
        <small class="form-text text-danger"
               *ngIf="!editMailAlertForm.controls['edit_alert_email'].valid && editMailAlertForm.controls['edit_alert_email'].touched">
          Please enter valid email
        </small>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="updateMailAlert(editMailAlertForm.value)"
              [disabled]="!editMailAlertForm.valid">Update
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
    <app-alert [type]="type" [dismissible]="false" [value]="editmsg"></app-alert>
  </form>
</ng-template>
