<div class="row">
  <div class="col-12">
    <div class="content">
      <div class="row">
        <div class="col-12 has-sidebar">
          <h1 class="page-title float-left">Domain <span>{{domain}}</span></h1>

          <div class="float-right">
            <!--<a href="#" class="text-link-dark btn" (click)="openEmailPopup()"><i class="icon icon-mail"></i></a>-->
            <!--<a href="#" class="text-link-dark btn" (click)="downloadDomainDetails()"><i class="icon icon-download"></i></a>-->
            <button *ngIf="!domainActionFlag" type="button" class="btn btn-primary ml-1"
                    (click)="checkDnsRecord(envDomain.value)">
              Check DNS Records Now
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="domainActionFlag">
        <div class="col-12">
          <span class="text-danger mt-2">
            This Domain is shared by master account. You can not manage domain settings,
            but can manage tracking settings of a domain
          </span>
        </div>
      </div>
      <br/>
      <div class="flex-body inner">
        <div class="flex-content">
          <div>
            <fieldset [disabled]="domainActionFlag">
              <div class="tab-box">
                <h4>Domain Authentication</h4>
                <div class="p">
                  Let’s add these two TXT records to send emails with Pepipost.
                  <div class="form-group" [hidden]="hideCname">
                    <label for="spf">Preferred mode of verification:</label>
                    <span *ngIf="!editSpf">{{spf}}</span>
                    <a *ngIf="!editSpf" class="text-link" href="#" (click)="editSpfClick()"> <i
                      class="icon-edit"></i></a>
                    <select id="spf" class="custom-select" (change)="displayData($event)"
                            [(ngModel)]="spf" *ngIf="editSpf">
                      <option value="SPF/DKIM">SPF/DKIM</option>
                      <option value="CNAME">CNAME</option>
                    </select>
                  </div>
                </div>

                <div class="table-responsive ng2-smart-table">
                  <table class="table v-align-top">
                    <thead>
                    <tr class="ng2-smart-titles">
                      <th class="domain-setting">Setting name</th>
                      <th class="domain-type">Type</th>
                      <th class="domain-host-name">Host name</th>
                      <th>Enter this value <i class="icon-dull icon-help"
                                              ngbTooltip="The value we require you to enter"></i></th>
                      <th>Current value</th>
                    </tr>
                    </thead>
                    <!-- body for CNAME start-->
                    <tbody [hidden]="!checkType">

                    <!--For CNAME start-->
                    <tr class="border-bottom-0">
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        <i class="status-icon" ngbTooltip="{{cnameApprovalValue ? '' : dnsStatusMessage}}"
                           ngClass="{{cnameApprovalValue ? 'icon-correct active' : 'icon-incorrect inactive'}}"></i>
                        CNAME
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        CNAME
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        {{domain}} <i class="icon-dull icon-help"
                                      ngbTooltip="It is suggested to have CNAME on subdomain instead of main domain."></i>
                      </td>
                      <td class="col-domain-status">
                        <div class="domain-container">
                          <div class="text-right">
                            <a href="javascript:void(0)" ngxClipboard *ngIf="!domainActionFlag"
                               [cbContent]="cnameDomainData?.required_value" class="copy-link"
                               ngbTooltip="Copied!" triggers="click:mouseout"
                               (cbOnSuccess)="isCnameCopied = true">
                              Copy
                            </a>
                          </div>
                          <ng-scrollbar class="domain-scrollbar">
                            <div class="inner" #copyCnameArea id="copyCnameArea" (click)="selectText('copyCnameArea')">
                              {{cnameDomainData?.required_value}}
                            </div>
                          </ng-scrollbar>
                          <p class="text-danger mt-2" *ngIf="requiredValErrorCname">
                            <i class="icon icon-bulb-glowing yellow"></i> {{requiredValErrorCname}}
                          </p>
                        </div>
                      </td>
                      <td class="col-current-val">
                        <a class="copy-link">&nbsp;</a><br>
                        <ng-scrollbar class="domain-scrollbar">
                          <div class="inner" [innerHTML]="cnameDomainData?.current_value">
                          </div>
                        </ng-scrollbar>
                      </td>
                    </tr>
                    </tbody>
                    <!--CNAME body ends-->

                    <!--Table body for SPF/DKIM start-->
                    <tbody>
                    <!--row for SPF start-->
                    <tr [hidden]="checkType">
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        <i class="status-icon" ngbTooltip="{{cnameApprovalValue ? '' : dnsStatusMessage}}"
                           ngClass="{{spfDomainData?.is_verified ? 'icon-correct active' : 'icon-incorrect inactive'}}"></i>
                        SPF
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        TXT
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        {{domain}} <i class="icon-dull icon-help"
                                      ngbTooltip="Some hosting provider accepts @ instead of hostname"></i>
                      </td>
                      <td class="col-domain-status">
                        <div class="domain-container">
                          <div class="text-right">
                            <a href="javascript:void(0)" ngxClipboard *ngIf="!domainActionFlag"
                               [cbContent]="spfDomainData?.required_value" class="copy-link"
                               (cbOnSuccess)="isSpfCopied = true" ngbTooltip="Copied!" triggers="click:mouseout">
                              Copy
                            </a>
                          </div>
                          <ng-scrollbar class="domain-scrollbar">
                            <div class="inner" #copySpfArea id="copySpfArea" (click)="selectText('copySpfArea')">
                              {{spfDomainData?.required_value}}
                            </div>
                          </ng-scrollbar>
                          <p class="text-danger mt-2" *ngIf="requiredValError">
                            <i class="icon icon-bulb-glowing yellow"></i> {{requiredValError}}
                          </p>
                        </div>
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        <ng-scrollbar class="domain-scrollbar">
                          <div class="inner" [innerHTML]="spfDomainData?.current_value">
                          </div>
                        </ng-scrollbar>
                      </td>
                    </tr>
                    <!--row for SPF start-->

                    <!--row for DKIM  start-->
                    <tr [hidden]="checkType">
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        <i class="status-icon" ngbTooltip="{{cnameApprovalValue ? '' : dnsStatusMessage}}"
                           ngClass="{{dkimDomainData?.is_verified ? 'icon-correct active' : 'icon-incorrect inactive'}}"></i>
                        DKIM
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        TXT
                      </td>
                      <td>
                        <a class="copy-link">&nbsp;</a><br>
                        {{dkimDomainData?.host_name}}
                      </td>
                      <td class="col-domain-status">
                        <div class="domain-container">
                          <div class="text-right">
                            <a href="javascript:void(0)" ngxClipboard *ngIf="!domainActionFlag"
                               [cbContent]="dkimDomainData?.required_value" class="copy-link"
                               (cbOnSuccess)="isDkimCopied = true" ngbTooltip="Copied!" triggers="click:mouseout">
                              Copy
                              <!--{{isDkimCopied ? 'Copied' : 'Copy'}}-->
                            </a>
                          </div>
                          <ng-scrollbar class="domain-scrollbar">
                            <div class="inner" #copyDkimArea id="copyDkimArea" (click)="selectText('copyDkimArea')">
                              {{dkimDomainData?.required_value}}
                            </div>
                          </ng-scrollbar>
                          <p class="text-danger mt-2" [hidden]="dkimDomainData?.dkim_matched">
                            <i class="icon icon-bulb-glowing yellow"></i> Copy the record and place it in your DNS
                            settings.
                          </p>
                        </div>
                      </td>
                      <td class="col-current-val">
                        <a class="copy-link">&nbsp;</a><br>
                        <ng-scrollbar class="domain-scrollbar">
                          <div class="inner" [innerHTML]="dkimDomainData?.current_value">
                          </div>
                        </ng-scrollbar>
                      </td>
                    </tr>
                    <!--row for DKIM  end-->
                    </tbody>
                  </table>

                  <!-- body for CNAME end-->
                </div> <!--/.table-responsive-->
              </div>
              <!--/.tab-box-->
              <div class="tab-box">
                <h4>Custom Envelope/ Return Path (Optional)</h4>
                <p>We highly recommend this. Custom envelope will be used for tracking links and opens in all your
                  emails.
                  Add CNAME record on your sub-domain. </p>
                <app-alert
                  *ngIf="(typeName !== 'cname') && (+ spfDomainData?.is_verified === 0 || dkimDomainData?.is_verified === 0)"
                  [type]="'danger'" [dismissible]="false"
                  [value]="'Note: You can set custom envelope only after SPF & DKIM authentication.'"></app-alert>
                <app-alert
                  *ngIf="(typeName === 'cname') && (+cnameDomainData?.is_verified === 0)"
                  [type]="'danger'" [dismissible]="false"
                  [value]="'The custom envelop feature will be enabled once CNAME is verified'"></app-alert>
                <table class="table v-align-top">
                  <thead>
                  <tr class="ng2-smart-titles">
                    <th class="domain-type">Type</th>
                    <th class="domain-host-name">Host name</th>
                    <th>Enter this value <i class="icon-dull icon-help"
                                            ngbTooltip="The value we require you to enter"></i></th>
                    <th>Current value</th>
                  </tr>
                  </thead>
                  <!--row for Custom envelop starts-->
                  <tr class="border-bottom-0">
                    <td>
                      <a class="copy-link">&nbsp;</a><br>
                      <label class="col-form-label"><i class="status-icon"
                                                       ngbTooltip="{{cnameApprovalValue ? '' : dnsStatusMessage}}"
                                                       ngClass="{{customEnvelopStatus
                       ? 'icon-correct active' : 'icon-incorrect inactive'}}"></i> CNAME</label>
                    </td>
                    <td>
                      <a class="copy-link">&nbsp;</a><br>
                      <div class="input-group">
                        <input type="text" name="envDomain" value="{{evelopeData?evelopeData:'delivery'}}"
                               #envDomain class="form-control"
                               (keyup)="domainNameDisp(envDomain.value)"
                               (blur)="envDomain.value !== 'delivery'?verifyCname(envDomain.value):verifyCname(envDomain.value)">
                        <div class="input-group-append">
                          <span class="input-group-text">.{{domain}}</span>
                        </div>
                      </div>
                      <!--<small  class="form-text text-danger" *ngIf="cnameError">{{cnameError}}</small>-->
                    </td>
                    <td class="col-domain-status">
                      <div class="domain-container">
                        <div class="text-right">
                          <a href="javascript:void(0)" ngxClipboard *ngIf="!domainActionFlag"
                             [cbContent]="customDomainData?.required_value" class="copy-link"
                             (cbOnSuccess)="isSpfDkimCustomCopied = true" ngbTooltip="Copied!"
                             triggers="click:mouseout">
                            Copy
                            <!--{{isSpfDkimCustomCopied ? 'Copied' : 'Copy'}}-->
                          </a>
                        </div>
                        <ng-scrollbar class="domain-scrollbar">
                          <div class="inner">
                            <!--{{customDomainData?.required_value}}-->
                            lnk.pepipost.net
                          </div>
                        </ng-scrollbar>
                        <p class="text-danger mt-2" *ngIf="!customDomainData?.is_verified">
                          <i class="icon icon-bulb-glowing yellow"></i>Your current CNAME record is not pointing to
                          lnk.pepipost.net.

                        </p>
                      </div>
                    </td>
                    <td class="col-current-val">
                      <a class="copy-link">&nbsp;</a><br>
                      <ng-scrollbar class="domain-scrollbar">
                        <div class="inner" [innerHTML]="customDomainData?.current_value">
                        </div>
                      </ng-scrollbar>
                    </td>
                  </tr>
                  <!--row for custome envelop ends-->
                  </tbody>
                  <!-- body for SPF/DKIM end-->
                </table>
              </div>
            </fieldset>
          </div>

          <div class="tab-box">
            <h4>Tracking Settings</h4>
            <hr class="mx-0">
            <div class="row">
              <div class="col-12">
                <p class="heading float-left mb-0">Open Tracking</p>
                <app-ui-switch-text class="float-right d-inline-flex"
                                    [checked]="trackingData?.opentrack==0 ? false : true"
                                    [size]="'small'" (change)="updateTrackingDetails($event,'opentrack')">

                </app-ui-switch-text>
              </div>
              <div class="col-12">
                Track your email opens (your email opens will earn you credits). We’ll add an image pixel at the end of
                each email to enable tracking. An 'open' is logged only if loading images are enabled in the recipient's
                email client.
              </div>
            </div>
            <hr class="mx-0">
            <div class="row">
              <div class="col-12">
                <p class="heading float-left mb-0">Click Tracking</p>
                <app-ui-switch-text class="float-right d-inline-flex"
                                    [checked]="trackingData?.clicktrack==0 ? false : true"
                                    [size]="'small'" (change)="updateTrackingDetails($event,'clicktrack')">
                </app-ui-switch-text>
              </div>
              <div class="col-12">
                Track the number of clicks your email has received. We’ll wrap your links with ours to track them.
              </div>
            </div>
            <hr class="mx-0">
            <div class="row">
              <div class="col-12">
                <p class="heading float-left mb-0">Unsubscribe Tracking</p>
                <app-ui-switch-text class="float-right d-inline-flex"
                                    [checked]="trackingData?.unsubscribe==0 ? false : true"
                                    [size]="'small'" (change)="updateTrackingDetails($event,'unsubscribe')">

                </app-ui-switch-text>
              </div>
              <div class="col-12">
                Track the number of users unsubscribing from your email. Enabling this will add an unsubscribe footer at
                the end of each emails.
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <app-alert class="mt-2" [type]="trackingType" [dismissible]="false" [value]="trackingMsg"></app-alert>
              </div>
            </div>
            <hr class="mx-0">
            <!--domain delete section-->
            <div class="row mt-3" *ngIf="!domainActionFlag">
              <div class="col-12">
                <a href="#" class="text-link" (click)="onArchiveClick()"><h4>Delete Domain
                  <i class="fa float-right" [class.fa-chevron-up]="showArchivePop"
                     [class.fa-chevron-down]="!showArchivePop"></i></h4></a>
                <div class="mt-2" [hidden]="!showArchivePop">
                  <p>When you delete a domain, all associated data will be deleted and cannot be recovered.
                    Are you sure you still want to delete this domain?</p>
                  <button type="button" class="btn btn-primary" (click)="onArchiveConfirm()">Delete Domain</button>
                  <button type="button" class="btn btn-secondary" (click)="onCancelArchiveClick()">Cancel</button>
                </div>
                <div class="row">
                  <div class="col-12">
                    <app-alert [type]="archiveType" [dismissible]="false" [value]="archiveMsg">
                    </app-alert>
                  </div>
                </div>
              </div>
            </div>
            <!--domain delete section end-->
          </div> <!--/.tab-box-->
        </div>
        <div class="sidebar-right">
          <div class="sidebar-box" [hidden]="stepList.length === 0">
            <h4>Get Started</h4>
            <app-process-wizard-text [currentStep]="stepCount"
                                     [stepList]="stepList" (stepClick)="onStepClick($event)"></app-process-wizard-text>
          </div>
          <app-help-section [helpSectionData]="helpSectionData">
          </app-help-section>
        </div>
      </div>
    </div>
  </div>
</div>

